<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>CanShare front page</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>



    <script>
        angular.module("pocApp",['ui.bootstrap',"firebase"]).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("pocApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);


        angular.module("pocApp").constant("moment", moment);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>
    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <script src="js/csFrontPageCtrl.js"></script>
    <script src="js/playgroundsSvc.js"></script>
    <script src="js/utilsSvc.js"></script>
    <script src="js/loginCtrl.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDG1ToLHycsMUX0CfX0OZVSRUUpFQeKE9o",
            authDomain: "canshare-730e6.firebaseapp.com",
            projectId: "canshare-730e6",
            storageBucket: "canshare-730e6.appspot.com",
            messagingSenderId: "12147821347",
            appId: "1:12147821347:web:5963d577cb050259475a96"
        };
        if (firebase) {
            console.log('init firebase')
            firebase.initializeApp(firebaseConfig);

        }
    </script>

</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="topApp" ng-controller="csFrontPageCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-3">
                    <span>
                        <a class="navbar-brand" href="#">
                            CanShare front page
                        </a>
                    </span>

            </div>

            <div class="col-md-1">
                <div class="navbar-text">

                </div>
            </div>





            <div class="col-md-2">
                <div class="navbar-text">


                </div>

            </div>

            <div class="col-md-3">
                <div class="navbar-text">


                </div>
            </div>

            <div class="col-md-1">
                <div class="navbar-text " ng-hide="user">
                    <div style="padding: 8px">
                        <span style="font-size:1.2em; cursor: pointer" uib-popover="Click to log in"
                              popover-placement="left"
                              popover-trigger="'mouseenter'">
                            <div ng-click="login()">
                                <i class="glyphicon glyphicon-log-in"></i>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="navbar-text"  ng-show="user">
                    <div style="padding: 8px">
                        <span style="font-size:1.2em;  cursor: pointer" uib-popover="{{user.email}}"
                              popover-placement="left"
                              popover-trigger="'mouseenter'">
                            <div ng-click="logout()">
                                <i class="glyphicon glyphicon-log-out"></i>
                            </div>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-8">

            <!-- List filters published, name/description filter-->

            <table class="table table-bordered">
                <tr><th>Name</th><th>Description</th><th>Version</th><th>Date</th></tr>
                <tr ng-repeat = "pg in playgrounds"
                    style="cursor: pointer"
                    ng-class="{listItemSelected:selectedPG==pg}"
                    ng-click="selectPG(pg)">
                    <td>{{pg.name}}</td>
                    <td>{{pg.description}}
                    <div>
                        <div style="padding-left: 20px" ng-repeat="v in input.versions[pg.id]">
                            Version: {{v.publishedVersion}} Published {{v.publishedDate | date}}
                        </div>
                    </div>
                    </td>
                    <td>{{pg.publishedVersion}}</td>
                    <td width="15%">{{pg.publishedDate | date}}</td>
                </tr>
            </table>

        </div>
        <div class="col-md-4">


            <div ng-show="selectedPG">
                <button class="btn btn-primary pull-right" ng-click="viewQ()">Details</button>
                <h4>Selected Standard metadata</h4>

                <div><strong>Name</strong></div>
                <div>{{selectedPG.name}}</div>
                <div><strong>Description</strong></div>
                <div>{{selectedPG.description}}</div>

                <!--
                <div><strong>Internal Id</strong></div>
                <div>{{selectedPG.id}}</div>
                -->
                <div><strong>Last updated</strong></div>
                <div>{{selectedPG.updated | date}}</div>

               <br/>


                <h4>Downloads</h4>

                <div class="row">
                    <div class="col-md-2">
                        <div style="padding-top: 6px"> Version</div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" ng-model="input.ddSelectedVersion"
                                ng-options="v.display for v in ddVersions">
                        </select>
                    </div>
                </div>


                <br/>

                <div class="clickable">Download MSWord spec</div>
                <div class="clickable">Download Questionnaire</div>
                <div class="clickable">Download TSV</div>

                <br/><br/>
            </div>


            <!-- Adjust list based on logged in status-->
            <h4>Links to CanShare modules</h4>

            <div><a target="_blank" href="../vsLookup.html">ValueSet explorer</a></div>
            <div ng-show="user"><a target="_blank" href="../models.html">Designer</a></div>
            <div><a target="_blank" href="../modelReview.html">Review form</a></div>
            <div ng-show="user"><a target="_blank" href="../updateVS.html">ValueSet updater</a></div>
            <div ng-show="user"><a target="_blank" href="../updateVS.html">ConceptMap updater</a></div>
            <div><a target="_blank" href="../cmTester.html">ConceptMap Tester</a></div>
            <div><a target="_blank" href="../qrVisualizer.html">QR Visualizer</a></div>





        </div>
    </div>



</div>
</body>
