<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>eRequest</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .retired {
            background-color: lightsalmon;
        }
    </style>


    <script>
        angular.module("pocApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

    </script>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/eRequestCtrl.js"></script>
    <script src="js/QutilitiesSvc.js"></script>




</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="pocApp" ng-controller="eRequestCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            eRequest dashboard
                        </a>
                    </span>

            </div>

            <div class="col-md-3">
                <div class="navbar-text">

                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text " ng-hide="user">
                    <span style="font-size:1.2em; cursor: pointer" uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="navbar-text"  ng-show="user">
                    <span style="font-size:1.2em;  cursor: pointer" uib-popover="{{user.email}}"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="logout()">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </div>
                    </span>
                </div>

            </div>


            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/canshareLogo.png"/>
                </a>
            </div>
        </div>
    </nav>



    <div class="pull-right"><a href="https://hl7.org/fhir/R4/servicerequest.html" target="_blank">ServiceRequest</a> </div>

    <uib-tabset  active="input.mainTabActive">
        <uib-tab heading="ServiceRequests">

            <uib-tabset>

                <uib-tab heading="Table">
                    <div class="myScroll">
                        <div class="tableFixHead">
                            <table class="table table-bordered">
                                <thead>
                                <tr><th>Identifier</th><th>Category</th><th>Code (display)</th>
                                    <th>Code (text)</th>
                                    <th>Date</th>
                                    <th>Status</th><th>Contained#</th><th>Version</th></tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="entry in serviceRequest">

                                    <td>
                                        <div class="clickableDotted" ng-click="selectSR(entry.resource)">
                                            {{entry.resource.requisition.value}}
                                        </div>

                                    </td>



                                    <td>{{entry.resource.category[0].coding[0].display}}</td>
                                    <td>{{entry.resource.code.coding[0].display}}</td>
                                    <td>{{entry.resource.code.text}}</td>
                                    <td>{{entry.resource.authoredOn | date : "MMM dd HH:mm"}}
                                        {{entry.resource.period}}
                                    </td>
                                    <td>{{entry.resource.status}}</td>
                                    <td>{{entry.resource.contained.length}}</td>
                                    <td>{{entry.resource.meta.versionId}}</td>

                                </tr>
                                </tbody>

                            </table>

                        </div>


                    </div>

                </uib-tab>

                <uib-tab heading="List">
                    <div class="row">
                        <div class="col-md-3">

                            <div class="myScroll">
                                <div class="list-group">
                                    <div ng-class="{'list-group-item':true,listItemSelected:entry.resource.id == selectedSR.id}"
                                         ng-click="selectSR(entry.resource)"
                                         style="cursor: pointer"
                                         ng-repeat="entry in serviceRequest">

                                        {{entry.resource.code.coding[0].display || entry.code.text ||  'No code'}}
                                       <!--  <span class="pull-right"> ({{entry.resource.status}})</span>
                                        -->
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-9">
                            <uib-tabset>

                                <uib-tab heading="Json w/o Contained">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="myScroll">
                                                <pre>{{selectedSRNoContained | json}}</pre>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div ng-repeat="resource in contained">
                                                {{resource.resourceType}}
                                            </div>
                                            <div class="myScroll">
                                                <pre>{{contained | json}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>

                                <uib-tab heading="Json">
                                    <div class="myScroll">
                                        <pre>{{selectedSR | json}}</pre>
                                    </div>

                                </uib-tab>






                            </uib-tabset>




                        </div>
                    </div>
                </uib-tab>


            </uib-tabset>



        </uib-tab>

        <uib-tab ng-show = "selectedSR">
            <uib-tab-heading>
                Selected ServiceRequest {{selectedSR.requisition.value}}
            </uib-tab-heading>

            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div ng-repeat="entry in history.entry"
                             style="cursor: pointer"
                             ng-click="selectHistoryItem(entry.resource)"
                             ng-class="{'list-group-item':true,listItemSelected:entry.resource == selectedHistoryItem}">
                            {{entry.resource.meta.versionId}}
                            {{entry.resource.meta.lastUpdated | date : "MMM dd HH:mm"}}
                            {{entry.request.method}}
                        </div>
                    </div>


                </div>
                <div class="col-md-9">


                    <uib-tabset>

                        <uib-tab heading="Full ServiceRequest">
                            <pre>{{selectedHistoryItem | json}}</pre>

                        </uib-tab>

                        <uib-tab heading="ServiceRequest with separate Contained">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="myScroll">
                                        <pre>{{selectedselectedHistoryItemNoContained | json}}</pre>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div ng-repeat="resource in selectedHistoryItemContained">
                                        {{resource.resourceType}}
                                    </div>
                                    <div class="myScroll">
                                        <pre>{{selectedHistoryItemContained | json}}</pre>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>



                        <uib-tab heading="Validate">

                            <div class="btn-link btn" ng-click="validate(selectedHistoryItem)">Validate</div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="myScroll">
                                        <table class="table table-bordered">
                                            <tr ng-repeat="iss in oo.issue">
                                                <td>{{iss.diagnostics}}
                                                    <br/>
                                                    <div ng-repeat="loc in iss.location">
                                                        <em>{{loc}}</em>
                                                    </div>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="myScroll">
                                        <pre>{{selectedHistoryItem | json}}</pre>
                                    </div>


                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>




                </div>
            </div>



        </uib-tab>

        <uib-tab ng-if="false" heading="SR Json">
            <pre>{{serviceRequest | json}}</pre>
        </uib-tab>


        <uib-tab heading="New request">


            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Paste in a Transaction bundle</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-link pull-right"
                                    ng-click="pasteBundle(input.pastedBundle)"
                                    ng-if="input.pastedBundle">Parse bundle</button>
                        </div>
                    </div>

                    <pre>{{bundle | json}}</pre>

                    <textarea class="form-control" ng-model="input.pastedBundle" rows="20"></textarea>
                </div>
                <div class="col-md-6">
                    <uib-tabset>
                        <uib-tab heading="Validation">
                            <div class="myScroll">
                                <table class="table table-bordered">
                                    <tr ng-repeat="iss in newBundleOO.issue">
                                        <td>{{iss.diagnostics}}
                                            <br/>
                                            <div ng-repeat="loc in iss.location">
                                                <em>{{loc}}</em>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                            <table class="table table-bordered">
                                <tr ng-repeat="iss in newBundleOO.issue">
                                    <td>{{iss.diagnostics}}
                                        <br/>
                                        <div ng-repeat="loc in iss.location">
                                            <em>{{loc}}</em>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </uib-tab>

                        <uib-tab>
                            <uib-tab-heading>Resources <span class="badge">{{bundle.entry.length}}</span> </uib-tab-heading>
                            <ul>
                                <li ng-repeat = 'entry in bundle.entry'>
                                    {{entry.resource.resourceType}}
                                </li>
                            </ul>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>


        </uib-tab>

        <uib-tab heading="QR summary generation">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-link pull-right"
                            ng-click="generateSummary(input.pastedQR)"
                            ng-if="input.pastedBundle">Parse bundle</button>

                    <textarea class="form-control" ng-model="input.pastedQR" rows="20"></textarea>
                </div>
                <div class="col-md-6">
                    {{input.qrSummary}}
                </div>
            </div>

        </uib-tab>

    </uib-tabset>




    <div class="row">
        <div class="col-md-3">


        </div>


        <div class="col-md-9">

        </div>
    </div>






</div>
</body>
