<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Lab interface</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

    </script>

    <script src="js/labCtrl.js"></script>
    <script src="js/labSvc.js"></script>
    <script src="js/commonSvc.js"></script>

    <script src="directive/QRDisplay/QRDisplayDir.js"></script>
    <script src="directive/reportDisplay/reportDisplayDir.js"></script>
    <script src="directive/viewBundle/viewBundleDir.js"></script>
    <script src="directive/viewBundle/viewBundleSvc.js"></script>
    <script src="directive/viewValidation/viewValidationDir.js"></script>

    <script src="directive/renderForm/renderFormSvc.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/libs/vis.min.js"></script>


</head>

<body style="padding: 8px;padding-top: 80px">
    <div ng-app="pocApp" ng-controller="labCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2">
                    <span>
                        <a class="navbar-brand" href="#">
                            Lab interface
                        </a>
                    </span>

            </div>

            <div class="col-md-3">
                <div class="navbar-text">

                    <select style="margin-top: 8px" class="form-control" ng-model="input.request"
                            ng-change = "selectRequest(input.request)"
                            ng-options="request.sr.id + ' ' + commonSvc.getPatientName(request.pat) for request in activeRequests"></select>


                </div>

            </div>

            <div class="col-md-3">
                <div class="navbar-text">
                    {{commonSvc.getPatientName(selectedRequest.pat)}} {{selectedRequest.pat.gender}} {{selectedRequest.pat.birthDate}}
                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <button class="btn btn-primary" ng-click="getActiveRequests()">Refresh</button>

                </form>
            </div>





            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

<!--
    <div style="background-color: #e9e9e9; height: 50px" class="row">
        <div class="col-md-2">
            <div style="margin-top: 12px">Currently active requests</div>
        </div>
        <div class="col-md-2">

            <select style="margin-top: 8px" class="form-control" ng-model="input.request"
                    ng-change = "selectRequest(input.request)"
                    ng-options="commonSvc.getPatientName(request.pat) for request in activeRequests"></select>
        </div>
        <div class="col-md-4">
            <div style="margin-top: 12px">
                {{commonSvc.getPatientName(selectedRequest.Pat)}} {{selectedRequest.Pat.gender}} {{selectedRequest.Pat.birthDate}}
            </div>

        </div>
        <div class="col-md-2">

        </div>
    </div>
        -->

    <div class="row" style="margin-top: 8px">
        <div class="col-md-4">
            <div class="banner">Request</div>
        </div>
        <div class="col-md-8">
            <div class="banner">Report</div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <br/>
            <div ng-hide="selectedRequest">
                <br/><br/>
                Select one of the current requests from dropdown above to show the details of the request.
                <br/><br>
                Once a request has been selected, the report form area will show to the right. Select the report template to display the form.

            </div>

            <uib-tabset ng-show="selectedRequest">

                <uib-tab heading="Request text">
                    <div class="myScroll">
                        <qrdisplay qr="selectedRequest.qr"></qrdisplay>
                    </div>

                </uib-tab>

                <uib-tab heading = "SR">
                    <div class="myScroll">
                        <pre>{{selectedRequest.sr | json}}</pre>
                    </div>
                </uib-tab>


                <uib-tab heading = "QR">
                    <div class="myScroll">
                        <pre>{{selectedRequest.qr | json}}</pre>
                    </div>
                </uib-tab>



            </uib-tabset>

        </div>

        <div ng-show="selectedRequest" class="col-md-8">
            <br/>
            <uib-tabset>
                <uib-tab heading="New report">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">

                            <div ng-show = "submissionOO">
                                <pre>{{submissionOO | json}}</pre>
                            </div>

                            <div ng-hide="submissionOO">
                                <div class="row">
                                    <div class="col-md-3">
                                        Template
                                    </div>
                                    <div class="col-md-6">
                                        <select ng-model="selectedTemplate" class="form-control"
                                                placeholder="Select form"
                                                ng-change="selectQ(selectedTemplate)"
                                                ng-options = "item.display for item in templates">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary"
                                                ng-show="selectedRequest && selectedReportQ"
                                                ng-click="submitReport()">Submit report</button>
                                    </div>
                                </div>

                                <div class="myScroll">
                                    <renderform q="selectedReportQ" qr="QR"></renderform>
                                </div>
                            </div>




                        </div>

                    </div>
                </uib-tab>
                <uib-tab heading="Report Preview">
                    <qrdisplay qr="createdQR" q="selectedReportQ"></qrdisplay>
                </uib-tab>
                <uib-tab heading="View report bundle">

                    <viewbundle bundle="reportBundle"></viewbundle>
                </uib-tab>
                <uib-tab heading="Validate report bundle">


                    <br/>
                    <div>
                        <button class="btn btn-link pull-right" ng-click="validate()">Perform validation</button>
                    </div>
                    <viewvalidation validationobject="labValidationObject"
                                    unknownissues="labValidationUnknownIssues"></viewvalidation>

                </uib-tab>

                <uib-tab heading="Previous reports">
                    <div class="row">
                        <div class="col-md-4">

                            <ul class="list-group">
                                <li ng-class="{'list-group-item':true}"
                                    ng-click="selectPreviousReport(report)"
                                    ng-repeat = "report in previousReports">
                                    {{report.DR.code.text}}
                                    <div><em>{{report.DR.issued | date}}</em></div>
                                </li>
                            </ul>

                        </div>

                        <div class="col-md-8">
                            <div ng-show="selectedReportObject">
                                <uib-tabset>
                                    <uib-tab heading="Report">

                                        <reportdisplay reportobject="selectedReportObject"></reportdisplay>

                                        <!--
                                        <ng-include src="'/includes/ReportDisplay.html'"></ng-include>
-->
                                    </uib-tab>
                                    <uib-tab heading="Json">
                                        <pre>{{selectedReportObject | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>


                            </div>

                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>


        </div>




    </div>



</div>

</body>
</html>