<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Lab interface</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

        //this allows the directives (which are in the formsApp) to be used. see https://stackoverflow.com/questions/15641730/angular-js-directives-in-different-modules
        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>

    <script src="js/labCtrl.js"></script>
    <script src="js/labSvc.js"></script>
    <script src="js/commonSvc.js"></script>

    <script src="directive/QRDisplay/QRDisplayDir.js"></script>
    <script src="directive/reportDisplay/reportDisplayDir.js"></script>
    <script src="directive/viewBundle/viewBundleDir.js"></script>
    <script src="directive/viewBundle/viewBundleSvc.js"></script>
    <script src="directive/viewValidation/viewValidationDir.js"></script>

    <script src="directive/renderForm/renderFormSvc.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/libs/vis.min.js"></script>


</head>

<body style="padding: 8px;padding-top: 80px">
    <div ng-app="topApp" ng-controller="labCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2">
                    <span>
                        <a class="navbar-brand" href="#">
                            Lab interface
                        </a>
                    </span>

            </div>

            <div class="col-md-2">
                <div class="navbar-text">

                    <select style="margin-top: 8px" class="form-control" ng-model="input.request"
                            ng-change = "selectRequest(input.request)"
                            ng-options="request.sr.id + ' ' + commonSvc.getPatientName(request.pat) for request in activeRequests"></select>


                </div>

            </div>

            <div class="col-md-4">
                <div class="navbar-text">
                    <a target="_blank" ng-href={{pathToClinicalViewer}}>{{commonSvc.getPatientName(selectedRequest.pat)}}</a>

                     {{selectedRequest.pat.gender}} {{selectedRequest.pat.birthDate}}
                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">

                    <button class="btn btn-link" ng-click="toggleRequestDisplay()">Toggle request</button>

                </form>
            </div>





            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>


    <div class="row">

        <div ng-class="input.leftPane">
            <br/>
            <div ng-show="selectedRequest" class="banner">Request</div>

            <div ng-hide="selectedRequest">
                <br/><br/>
                Select one of the current requests from dropdown above to show the details of the request.
                <br/><br>
                Once a request has been selected, the report form area will show to the right. Select the report template to display the form.

            </div>


            <div class="myScroll">
                <qrdisplay qr="selectedRequest.qr"></qrdisplay>
            </div>

<!--
            <uib-tabset ng-show="selectedRequest">

                <uib-tab heading="Request text">
                    <div class="myScroll">
                        <qrdisplay qr="selectedRequest.qr"></qrdisplay>
                    </div>

                </uib-tab>

                <uib-tab heading = "SR">
                    <div class="myScroll">
                        <pre>{{selectedRequest.sr | json}}</pre>
                    </div>
                </uib-tab>

                <uib-tab heading = "QR">
                    <div class="myScroll">
                        <pre>{{selectedRequest.qr | json}}</pre>
                    </div>
                </uib-tab>

            </uib-tabset>
            -->

        </div>

        <div ng-show="selectedRequest" ng-class="input.rightPane">
            <br/>
            <div class="banner">Report</div>

            <uib-tabset>
                <uib-tab heading="New report">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">


                            <div ng-show="selectedRequest.dr">
                                <div class="alert alert-warning">
                                    You are updating a report.
                                </div>
                            </div>

                            <div ng-show = "submissionOO">

                                <uib-tabset>
                                    <uib-tab heading="Outcome">
                                        <div class="alert alert-success">
                                            The report has been successfully saved on the CanShare server.
                                            Details of the resources created are show in the details tab.
                                        </div>

                                    </uib-tab>
                                    <uib-tab heading="Details">
                                        <pre class="alert-success" ng-show="submissionOO">{{submissionOO | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>

                                <!--
                                <div class="alert alert-success">
                                    <pre>{{submissionOO | json}}</pre>
                                </div>
                                -->
                            </div>

                            <div ng-show = "errorOO">
                                <uib-tabset>
                                    <uib-tab heading="Outcome">
                                        <div class="alert alert-danger">
                                            There was an error saving the report, and it has not been saved.
                                            Details of the error are available in the details tab.
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Details">
                                        <pre class="alert-danger" ng-show="errorOO">{{errorOO | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>

                                <!--
                                <div class="alert alert-danger">
                                    <pre>{{errorOO | json}}</pre>
                                </div>
                                -->

                            </div>

                            <div ng-hide="submissionOO || errorOO">
                                <div class="row">
                                    <div class="col-md-2">
                                        Template
                                    </div>
                                    <div class="col-md-4">
                                        <select ng-model="selectedTemplate" class="form-control"
                                                placeholder="Select form"
                                                ng-change="selectQ(selectedTemplate)"
                                                ng-options = "item.display for item in templates">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <checkbox ng-show="selectedRequest && selectedReportQ"
                                                  ng-model="input.final"></checkbox> Final report
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary pull-right"
                                                ng-show="selectedRequest && selectedReportQ && createdQR"
                                                ng-click="submitReport()">{{submitLabel()}}</button>
                                    </div>
                                </div>


                                    <div class="row">


                                        <div class="col-md-8">
                                            <div class="myScroll">
                                                <renderform q="selectedReportQ" qr="QR" form="prePopData"></renderform>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div ng-show="input.itemDetail">
                                                <ng-include src ="'includes/itemDetail.html'"></ng-include>
                                            </div>

                                            <qrdisplay qr="createdQR" q="selectedReportQ"></qrdisplay>
                                        </div>
                                    </div>



                            </div>




                        </div>

                    </div>
                </uib-tab>

                <uib-tab heading="Technical views">
                    <br/>
                    <uib-tabset>

                        <uib-tab heading="View report bundle">

                            <viewbundle bundle="reportBundle"></viewbundle>
                        </uib-tab>

                        <uib-tab heading = "SR">
                            <div class="myScroll">
                                <pre>{{selectedRequest.sr | json}}</pre>
                            </div>
                        </uib-tab>

                        <uib-tab heading = "QR">
                            <div class="myScroll">
                                <pre>{{selectedRequest.qr | json}}</pre>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Report QR">
                            <em>This resource is created by the form rendering directive as the user enters data, it is not saved on the server.</em>
                            <pre>{{createdQR | json}}</pre>
                        </uib-tab>

                        <uib-tab heading="Report Q">
                            <em>The Questionnaire that defines the selected pathology template</em>
                            <pre>{{selectedReportQ | json}}</pre>
                        </uib-tab>




                        <uib-tab heading="Validate report bundle">


                            <br/>
                            <div>
                                <button class="btn btn-link pull-right" ng-click="validate()">Perform validation</button>
                            </div>
                            <viewvalidation validationobject="labValidationObject"
                                            unknownissues="labValidationUnknownIssues"></viewvalidation>

                        </uib-tab>
                    </uib-tabset>

                </uib-tab>






            </uib-tabset>


        </div>




    </div>



</div>

</body>
</html>