<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Logical Model</title>

    <style>
        #graph {
            width: 100%;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox','ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>



    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/jstree.min.js"></script>

    <script src="js/modelsCtrl.js"></script>
    <script src="js/modelsSvc.js"></script>
    <script src="js/modelsDemoSvc.js"></script>
    <script src="js/modelCompSvc.js"></script>

    <script src="js/libs/vis.min.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/editModelCtrl.js"></script>
    <script src="js/editCompositionCtrl.js"></script>
    <script src="js/editVSCtrl.js"></script>
    <script src="js/modelCompositionCtrl.js"></script>

    <script src="directive/renderForm/renderFormSvc.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>
<!--

   <script src="js/querySvc.js"></script>

  <script src="js/makeLibraryQuery.js"></script>
    <script src="js/showParameters.js"></script>

    <script src="directive/viewBundle/viewBundleDir.js"></script>
    <script src="directive/viewBundle/viewBundleSvc.js"></script>

    <script src="directive/renderForm/renderFormDir.js"></script>
    <script src="directive/renderForm/renderFormSvc.js"></script>

    -->

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>



</head>
<body style="padding: 8px;padding-top: 80px" >
<div ng-app="topApp" ng-controller="modelsCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-2">
                    <span>
                        <a class="navbar-brand" href="#">
                            Logical models
                        </a>
                    </span>

            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">

                </div>
            </div>
            <div class="col-md-2">
                <div class="navbar-text">
                    <!--
                    <select class="form-control" ng-model="svr" ng-change="selectServer(svr)"
                            ng-options="svr.display for svr in allServers">

                    </select>
                    -->


                </div>
            </div>

            <div class="col-md-4">
                <div class="navbar-text">
                    <!--
                    {{selectedServer.url}}
                    -->
                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>



            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

    <div>

        <a class="btn pull-right" target="_blank" href="https://build.fhir.org/ig/HL7/fhir-mCODE-ig/">mCODE</a>

        <button class="pull-right btn-link btn" ng-click="resetWorld()">Reset</button>

        <a class="btn pull-right" target="_blank" href="https://docs.google.com/spreadsheets/d/1XU7Jc0BbC5nXgmTu-qVLS-WwJjKO9GLXgjVHVk2WRL0/edit#gid=0">Spreadsheet</a>

    </div>

    <uib-tabset>


        <uib-tab heading="Compositions and datagroups">
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="myScroll">
                        <uib-accordion close-others="true" >

                            <div uib-accordion-group class="panel-default" is-open="true">
                                <uib-accordion-heading>
                                    <span ng-click="accordianOpened('composition')">Compositions</span>

                                </uib-accordion-heading>

                                <div class="list-group">
                                    <div ng-class="{'list-group-item':true,listItemSelected:selectedModel == v}" style="cursor: pointer"
                                         ng-click="selectComposition(v)"
                                         ng-repeat="(k,v) in world.compositions">


                                        <i class="glyphicon glyphicon-edit pull-right clickable"
                                           ng-click="editComposition(v)"></i>
                                        <div>{{v.title}}</div>
                                        <em>{{k}}</em>

                                        <div ng-show="v.parent" class="pull-right">
                                            ({{v.parent}})
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link" ng-click="newComposition()">New Composition</button>
                                </div>
                            </div>

                            <div uib-accordion-group class="panel-default" >
                                <uib-accordion-heading>
                                    <span ng-click="accordianOpened('datagroup')">DataGroups</span>
                                </uib-accordion-heading>

                                <div>
                                    <button class="btn btn-link pull-right" ng-click="listAllDG()">List all</button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="list-group">
                                    <div ng-class="{'list-group-item':true,listItemSelected:selectedModel == v}" style="cursor: pointer"
                                         ng-click="selectModel(v)"
                                         ng-repeat="(k,v) in world.dataGroups">

                                        <i class="glyphicon glyphicon-edit pull-right clickable"
                                           ng-click="editModel(v)"></i>

                                        {{v.title}}
<!--
                                        <div><em>{{v.description}}</em></div>
                                        -->
<!--
                                        <div class="clickable" ng-click="editModel(v)"><em>{{k}}</em></div>
-->
                                    </div>
                                </div>

                                <div>
                                    <button class="btn btn-link" ng-click="newModel('dg')">New DataGroup</button>
                                </div>

                            </div>

                            <div ng-show = 'false' uib-accordion-group class="panel-default">
                                <uib-accordion-heading>
                                    <span ng-click="accordianOpened('valueset')">ValueSets</span>
                                </uib-accordion-heading>

                                <div class="list-group">
                                    <div ng-class="{'list-group-item':true,listItemSelected:selectedModel == v}" style="cursor: pointer"
                                         ng-click="selectModel(v)"
                                         ng-repeat="(k,v) in world.valueSets">
                                        {{v.title}}
                                        <div><em>{{k}}</em></div>

                                    </div>
                                </div>
                            </div>

                        </uib-accordion>
                    </div>



                </div>


                <div class="col-md-9" ng-show="input.showDGList">
                    <div class="banner"> List of all DataGroups</div>

                    <table class="table table-condensed table-bordered">
                        <tr><th>Name</th><th>Title</th><th>Description</th><th>mCODE group</th><th># elements</th></tr>
                        <tr ng-repeat="(k,v) in world.dataGroups">
                            <td><div class="clickable" ng-click="selectModelFromList(k,v.kind)">{{v.name}}</div></td>
                            <td>{{v.title}}</td>
                            <td>{{v.description}}

                                <div>
                                    <div
                                         ng-click="selectModelFromList(item.name,item.kind)"
                                         ng-repeat="item in xref[v.name] track by $index">
                                        {{item.kind}}: <span  class="clickable">{{item.name}}</span> (<em>{{item.path}}</em>)

                                    </div>
                                </div>

                            </td>
                            <td>
                                <a ng-href="{{mCodeGroupPage[v.mcodegroup]}}" target="_blank">{{v.mcodegroup}}</a>
                            </td>
                            <td>{{v.diff.length}}</td>
                        </tr>
                    </table>

                </div>

                <div class="col-md-9" ng-show="!showDGList && selectedModel.kind == 'comp'">
                    <ng-include src="'/includes/showComposition.html'"></ng-include>
                </div>


                <div class="col-md-9" ng-show="!showDGList && selectedModel.kind == 'vs'">
                    <br/>

                    <div ng-controller="editVSCtrl">
                        <uib-tabset>
                            <uib-tab heading="Table">

                                <div class="row">
                                    <div class="col-md-2">Name</div>
                                    <div class="col-md-10">{{selectedModel.name}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Title</div>
                                    <div class="col-md-10">{{selectedModel.title}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">Url</div>
                                    <div class="col-md-10">{{selectedModel.url}}</div>
                                </div>
                                <br/>
                                <table class="table table-bordered">
                                    <tr><th>Display</th><th>Code</th></tr>
                                    <tr ng-repeat="concept in selectedModel.concepts">
                                        <td>{{concept.display}}</td>
                                        <td>{{concept.code}}</td>
                                    </tr>
                                </table>
                            </uib-tab>
                            <uib-tab heading="Json">
                                <pre>{{selectedModel | json}}</pre>
                            </uib-tab>
                        </uib-tabset>
                    </div>





                </div>

                <div class="col-md-9" ng-show="!showDGList && selectedModel.kind == 'dg'">
                    <br/>
                    <div class="row">
                        <div class="col-md-9">
                            <strong>{{selectedModel.description}}</strong>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <checkbox ng-model="input.showFullModel" ng-click="updateFullModelShow()"></checkbox> Show expanded model
                            </div>
                        </div>
                    </div>
                    <br/>





                    <uib-tabset>

                        <uib-tab heading="Tree">
                            <em>The model as a tree. Expanded if the checkbox is selected</em>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="dgTree"></div>
                                </div>
                                <div class="col-md-6">

                                    <div ng-show="selectedNode.data.ed">

                                        <table class="table table-bordered table-condensed">
                                            <tr><td style="width : 20%">Path</td><td>{{selectedNode.data.ed.path}}</td></tr>
                                            <tr><td>Type</td>
                                                <td><div ng-repeat="type in selectedNode.data.ed.type">
                                                    {{type}}&nbsp;</div>
                                                </td></tr>
                                            <tr><td>Description</td><td>{{selectedNode.data.ed.description}}</td></tr>
                                            <tr ng-show="selectedNode.data.ed.valueSet">
                                                <td>ValueSet</td>
                                                <td>{{selectedNode.data.ed.valueSet}}</td>
                                            </tr>
                                        </table>


                                    </div>

                                    <br/>
                                    <pre ng-show="selectedNode">{{selectedNode.data.ed | json}}</pre>


                                    <div ng-show="selectedModel.kind == 'comp'">
                                        <div ng-show="selectedNode.data.ed.type.indexOf('CodeableConcept') > -1" >
                                            <button class="btn btn-link" ng-click="setValueSet(selectedNode.data.ed)">
                                                Set ValueSet
                                            </button>
                                        </div>

                                        <div ng-hide="!selectedNode || selectedNode.data.ed.mult.indexOf('0..0') > -1" >
                                            <button class="btn btn-link" ng-click="removeElement(selectedNode.data.ed)">
                                                Remove element
                                            </button>
                                        </div>

                                    </div>








                                </div>
                            </div>



                        </uib-tab>


                        <uib-tab heading="Table">
                            <em class="pull-right">The model as a table. Expanded if the checkbox is selected</em>

                            <div ng-show = "selectedModel.parent">
                                <strong class="pull-left">Profiles: {{selectedModel.parent}}</strong>
                            </div>

                            <table class="table-bordered table">
                                <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Code</th></tr>
                                <tr ng-repeat="element in fullElementList" ng-hide="$index==0 || element.mult.indexOf('..0') > -1">

                                    <td>
                                        <div  ng-style="{ 'padding-left': (element.path | pathindent) }">
                                           <!-- {{element.path | dropFirstInPath}} -->
                                            <div ng-hide="input.showFullModel">
                                                {{element.path | dropFirstInPath}}
                                            </div>
                                            <div ng-show="input.showFullModel">
                                                {{element.path | lastInPath}}

                                            </div>



                                        </div>


                                    </td>
                                    <td>{{element.title}}</td>
                                    <td>{{element.description}}</td>
                                    <td>
                                        <div ng-repeat="type in element.type">
                                            {{type}}
                                        </div>
                                        <div><em class="clickable" ng-click="showVS(element.valueSet)">{{element.valueSet}}</em></div>
                                    </td>
                                    <td>{{element.mult}}</td>
                                    <td>
                                        <div ng-repeat="code in element.code">
                                            {{code.code}}
                                        </div>

                                    </td>

                                </tr>
                            </table>
                        </uib-tab>


                        <uib-tab heading="Graph" select="fitGraph()">

                            <div class="row">
                                <div class="col-md-6">
                                    <div id="graph"></div>
                                </div>
                                <div class="col-md-6">
                                    <uib-tabset ng-show="selectedModelFromGraph">
                                        <uib-tab heading="Table">

                                            <div class="row">
                                                <div class="col-md-2">Name:</div>
                                                <div class="col-md-10">{{selectedModelFromGraph.name}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">Title:</div>
                                                <div class="col-md-10">{{selectedModelFromGraph.title}}</div>
                                            </div>


                                            <br/>
                                            <table class="table-bordered table table-condensed">
                                                <tr><th>Path</th><th>Type</th><th>Card.</th></tr>
                                                <tr ng-repeat="ed in selectedModelFromGraph.diff">
                                                    <td>{{ed.path}}
                                                        <div style="padding-left: 8px"><em >{{ed.description}}</em></div>
                                                    </td>
                                                    <td>{{ed.type[0]}}
                                                        <div class="clickable"><em>{{ed.valueSet}}</em></div>
                                                    </td>
                                                    <!--
                                                    <td>
                                                        <div ng-repeat="code in code">
                                                            {{code}}
                                                        </div>
                                                    </td>
                                                    -->
                                                    <td>{{ed.mult}}</td>
                                                </tr>
                                            </table>

                                        </uib-tab>
                                        <uib-tab heading="Json">
                                            <pre>{{selectedModelFromGraph | json}}</pre>
                                        </uib-tab>
                                    </uib-tabset>


                                </div>
                            </div>


                        </uib-tab>

                        <uib-tab ng-show="selectedModel.kind == 'dg'">
                            <uib-tab-heading>Referenced by</uib-tab-heading>


                            <table class="table table-bordered">
                                <tr><th>Name</th><th>Path</th><th>Kind</th></tr>
                                <tr ng-repeat="item in xref[selectedModel.name] track by $index">
                                    <td>
                                        <div class="clickable" ng-click="selectModelFromList(item.name,item.kind)">
                                            {{item.name}}
                                        </div>


                                    </td>
                                    <td>{{item.path}}</td>
                                    <td>{{item.kind}}</td>
                                </tr>
                            </table>
<!--
                            {{selectedModel.name}}
                            <pre>{{xref | json}}</pre>

-->



                        </uib-tab>

                        <uib-tab heading="Questionnaire">
                            <uib-tabset>
                                <uib-tab heading="Form">
                                    <renderform q="Qobject" qr="QR"></renderform>
                                </uib-tab>
                                <uib-tab heading="Json">
                                    <pre>{{Qobject | json}}</pre>
                                </uib-tab>
                            </uib-tabset>





                        </uib-tab>


                        <uib-tab ng-show="selectedModel.kind == 'comp'" heading="Overrides">
                            <em class="pull-right">Elements that have been overriden in this model</em>

                            <div ng-show = "selectedModel.parent">
                                <strong class="pull-left">Profiles: {{selectedModel.parent}}</strong>
                            </div>

                            <table class="table-bordered table">
                                <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Code</th></tr>
                                <tr ng-repeat="element in overrides">

                                    <td>
                                        <div>
                                            {{element.path}}


                                            <!-- {{element.path | dropFirstInPath}} -->
                                            <!--
                                            <div ng-hide="input.showFullModel">
                                                {{element.path | dropFirstInPath}}
                                            </div>
                                            <div ng-show="input.showFullModel">
                                                {{element.path | lastInPath}}

                                            </div>
-->


                                        </div>


                                    </td>
                                    <td>{{element.title}}</td>
                                    <td>{{element.description}}</td>
                                    <td>
                                        <div ng-repeat="type in element.type">
                                            {{type}}
                                        </div>
                                        <div><em class="clickable" ng-click="showVS(element.valueSet)">{{element.valueSet}}</em></div>
                                    </td>
                                    <td>{{element.mult}}</td>
                                    <td>
                                        <div ng-repeat="code in element.code">
                                            {{code.code}}
                                        </div>

                                    </td>

                                </tr>
                            </table>
                        </uib-tab>




                        <uib-tab ng-show="false" heading="Json">
                            <em>All the elements in a 'flattened' list (like a StructureDefinition).</em>
                            <pre>{{fullElementList | json}}</pre>
                        </uib-tab>

                        <uib-tab heading="Json">
                            <em>The definition for this model (not expanded)</em>
                            <pre>{{selectedModel | json}}</pre>
                        </uib-tab>


                    </uib-tabset>


                </div>

            </div>


        </uib-tab>

        <uib-tab>
            <uib-tab-heading>
                Errors <span class="badge">{{errors.length}}</span>
            </uib-tab-heading>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr ng-repeat="row in errors">
                            <td>
                                <div style="cursor: pointer" ng-click="input.errorModel = row.model">{{row.msg}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <pre>{{input.errorModel | json}}</pre>
                </div>
            </div>



        </uib-tab>

        <uib-tab heading="Full model">
            <uib-tabset>
                <br/>
                <uib-tab heading="Type usage summary">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="myScroll">
                                <table class="table-bordered table">
                                    <tr><th>Type</th>
                                        <th>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Source type
                                                </div>
                                                <div class="col-md-9">
                                                    Path in source
                                                </div>
                                            </div>
                                        </th></tr>
                                    <tr ng-repeat="(k,v) in analysis">
                                        <td>{{k}}</td>
                                        <td>
                                            <div ng-repeat="item in v">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="clickable"
                                                             ng-click="selectModelFromTypeUsage(item.model)">{{item.model.name}}</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{item.path}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <pre>{{selectedModelFromTypeUsage | json}}</pre>
                        </div>
                    </div>




                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{world | json}}</pre>
                </uib-tab>
            </uib-tabset>

        </uib-tab>

        <uib-tab heading="LM StructureDefinitions">
            <button class="btn-link btn pull-right" ng-click="makeBundle()">Make Bundle</button>
            <button ng-show="lmBundle" class="btn-link btn pull-right" ng-click="validateBundle(lmBundle)">Validate</button>

            <div class="clearfix"></div>

            <uib-tabset>

                <uib-tab heading="Bundle">
                    <pre>{{lmBundle | json}}</pre>
                </uib-tab>

                <uib-tab heading="Validation" ng-show="lmValidateSummary">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                <div ng-class="{'list-group-item':true,listItemSelected:input.selectedValidationResource == resource}"
                                     ng-click="input.selectedValidationResource = resource"
                                     style="cursor: pointer"
                                     ng-repeat="resource in lmValidateSummary.resources">
                                    <div class="pull-right badge"> {{resource.issues.length}}</div>
                                    {{resource.resource.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <pre ng-show="input.selectedValidationResource.issues.length > 0">{{input.selectedValidationResource.issues | json}}</pre>
                            <pre ng-show="input.selectedValidationResource.resource">{{input.selectedValidationResource.resource | json}}</pre>
                        </div>
                    </div>
                </uib-tab>





            </uib-tabset>

<!--
            <div class="row">
                <div class="col-md-5">
                    <button class="btn-link btn pull-right" ng-click="makeBundle()">Make Bundle</button>
                    <div class="clearfix"></div>
                    <pre>{{lmBundle | json}}</pre>
                </div>
                <div class="col-md-7">
                    <div ng-show="lmBundle">
                        <button class="btn-link btn pull-right" ng-click="validateBundle(lmBundle)">Validate</button>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="list-group">
                                    <div class="list-group-item"
                                         ng-click="input.selectedIssues = resource.issues"
                                         ng-repeat="resource in lmValidateSummary.resources">
                                        <div class="pull-right badge"> {{resource.issues.length}}</div>
                                        {{resource.resource.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <pre>{{input.selectedIssues | json}}</pre>

                            </div>
                        </div>




<hr/>
                        {{lmValidateSummary}}
                        <pre>{{lmValidate | json}}</pre>
                    </div>


                </div>
            </div>

-->


        </uib-tab>

        <uib-tab heading="ValueSet">


            <button class="btn-link btn" ng-click="importVS(input.pasteVS)">Import</button>

            <textarea ng-model = "input.pasteVS" class="form-control" rows="20"></textarea>
        </uib-tab>


    </uib-tabset>








</div>
</body>
