<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Model Admin</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <style>
        .retired {
            background-color: lightsalmon;
        }
    </style>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox',"firebase",'ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("pocApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);


        angular.module("pocApp").constant("moment", moment);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/modelAdminCtrl.js"></script>
    <script src="js/querySvc.js"></script>
    <script src="js/showParameters.js"></script>
    <script src="js/loginCtrl.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDG1ToLHycsMUX0CfX0OZVSRUUpFQeKE9o",
            authDomain: "canshare-730e6.firebaseapp.com",
            projectId: "canshare-730e6",
            storageBucket: "canshare-730e6.appspot.com",
            messagingSenderId: "12147821347",
            appId: "1:12147821347:web:5963d577cb050259475a96"
        };
        if (firebase) {
            console.log('init firebase')
            firebase.initializeApp(firebaseConfig);

        }
    </script>

</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="topApp" ng-controller="modelAdminCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5">
                    <span>
                        <a class="navbar-brand" href="#">
                            Model admin
                        </a>
                    </span>

            </div>

            <div class="col-md-3">
                <div class="navbar-text">

                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text " ng-hide="user">
                    <span style="font-size:1.2em; cursor: pointer" uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="navbar-text"  ng-show="user">
                    <span style="font-size:1.2em;  cursor: pointer" uib-popover="{{user.email}}"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="logout()">
                            <i class="glyphicon glyphicon-log-out"></i>
                        </div>
                    </span>
                </div>
            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>


    <uib-tabset>
        <uib-tab heading="Log">

            <div class="row">
                <div class="col-md-7">

                    <div>

                        <div class="row">
                            <div class="col-md-3">
                                DataGroups filter:
                            </div>
                            <div class="col-md-4">

                                <select ng-model = "input.selectedDGName" class="form-control"
                                        ng-change = "setFilter(input.selectedDGName)"
                                        ng-options="type for type in lstType">

                                </select>
                            </div>

                            <div class="col-md-4">

                                <select ng-model = "input.selectedEmail" class="form-control"
                                        ng-change = "setEmailFilter(input.selectedEmail)"
                                        ng-options="k for (k,v) in hashUser">
                                    <option value=""></option>

                                </select>
                            </div>

                            <div class="col-md-3">
                                <checkbox ng-model="input.hideSelect"></checkbox> Hide select
                            </div>

                        </div>
                    </div>

                    <div class="myScroll">

                        <br/>
                        <em class="pull-right">Last 500 entries. <strong>Date descending order - most recent first. </strong></em>
                        <table class="table table-bordered table-condensed">
                            <tr><th>Date</th><th>Kind</th><th>Action</th><th>Title</th><th>Path</th><th>Description</th><th>Diff</th><th>User</th></tr>
                            <tr ng-click="selectTraceItem(hx)"
                                style="cursor: pointer"
                                ng-class="{listItemSelected:selectedTraceItem == hx}"
                                ng-show = canShow(hx)
                                ng-repeat="hx in traceHistory">
                                <td>
                                    {{hx.date | date : "MMM dd HH:mm:ss"}}

                                </td>
                                <td>{{hx.model.kind}}</td>
                                <td>{{hx.action}}</td>

                                <td>{{hx.model.title}}</td>
                                <td>{{hx.path}}</td>
                                <td>{{hx.description}}</td>
                                <td>{{hx.model.diff.length}}</td>
                                <td>{{hx.userEmail}}</td>

                            </tr>
                        </table>
                    </div>

                </div>
                <div class="col-md-5">

                    <div>
                        <button ng-show="false && currentDG.checkedOut == user.email && selectedTraceItem.model.name == currentDG.name"
                                ng-click="restoreDG(selectedTraceItem.model)"
                                class="btn btn-danger pull-right">
                            Restore this version
                        </button>
                    </div>
                    <uib-tabset>

                        <uib-tab heading="Diff">
                            <div ng-show="selectedTraceItem.model.parent">
                                <br/>
                                <div class="banner">
                                    <strong>Parent: </strong>{{selectedTraceItem.model.parent}}
                                    <br/>
                                </div>

                            </div>
                            <table class="table-condensed table table-bordered">
                                <tr><th>Title</th><th>Path</th><th>Card.</th><th>Type</th></tr>
                                <tr ng-repeat="element in selectedTraceItem.model.diff">
                                    <td>{{element.title}}</td>
                                    <td>{{element.path}}</td>
                                    <td>{{element.mult}}</td>
                                    <td>{{element.type[0]}}</td>

                                </tr>
                            </table>

                        </uib-tab>
                        <uib-tab heading="Json">
                            <pre>{{selectedTraceItem | json}}</pre>
                        </uib-tab>

                    </uib-tabset>
                </div>
            </div>


        </uib-tab>
        <uib-tab heading="Local storage">

            <a class="btn btn-link" download="{{downloadLinkJsonName}}"
               href="{{downloadLinkJson}}" title="{{downloadLinkJsonName}}" >
                Download Json to computer
            </a>


            <pre>{{world | json}}</pre>

        </uib-tab>
    </uib-tabset>




</div>
</body>
