<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Review Model</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/jstree.min.js"></script>

    <style>
        .form-background  {
            background-color: #f7f7f7;
            border: 1px solid gainsboro;
            padding : 5px;
            margin: 4px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

        angular.module("pocApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);

        //this allows the directives (which are in the formsApp) to be used. see https://stackoverflow.com/questions/15641730/angular-js-directives-in-different-modules
        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>

    <script>
        //add a function to determine if a given path is a child of another. Used when excluding paths
        //eg seg1.seg2 is a child of seg1.  seg1path is not.
        //Add here to ensure it is available before any functions that use it are loaded...
        String.prototype.isChildPath = function (parent) {
            let test = parent + "."
            if (this.indexOf(test) > -1) {
                return true
            } else { return false}

        };

    </script>

    <script src="js/modelReviewCtrl.js"></script>
    <script src="js/modelsSvc.js"></script>


    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <script src="js/viewVSCtrl.js"></script>

    <script src="js/modelCompSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/makeQSvc.js"></script>
    <script src="js/codedOptionsSvc.js"></script>
    <script src="js/utilsSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/showParameters.js"></script>

<!--
    <script src="js/modelsDemoSvc.js"></script>

    -->
    <script src="js/vsSvc.js"></script>
    <script src="js/orderingSvc.js"></script>
    <script src="js/makeCompQSvcDEP.js"></script>
    <script src="js/cmSvc.js"></script>
    <script src="js/snapShotSvc.js"></script>
    <script src="js/QutilitiesSvc.js"></script>



    <script src="directive/renderForm/renderFormSvc.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>
    <script src="directive/renderSingleItem/renderSingleItemDir.js"></script>


    <!-- While developing new directive -->
    <script src="directive/renderForm2/renderFormSvc2.js"></script>
    <script src="directive/renderForm2/renderFormDir2.js"></script>
    <script src="js/questionnaireSvc.js"></script>

<!--
    <script src="js/models/ObservationModels.js"></script>
    <script src="js/models/StagingModels.js"></script>
-->
</head>

<body style="padding: 8px;padding-top: 80px">
    <div ng-app="topApp" ng-controller="modelReviewCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2">
                    <span>
                        <a class="navbar-brand" href="#">
                            Review model
                        </a>
                    </span>

            </div>

            <div class="col-md-4">
                <div class="navbar-text">
<!--
                    <select class="form-control" ng-model="selectedComp" ng-hide="selectedFromUrl"
                        ng-change="selectComposition(selectedComp)"
                            ng-options = "v.title for (k,v) in hashAllCompositions"></select>
-->
                    <div ng-show="selectedFromUrl">{{selectedComp.title}}</div>
                </div>
            </div>


            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
                </form>
            </div>
            <div class="col-md-1">
                <div class="navbar-text">
                    {{version}}
                </div>
            </div>

            <div class="col-md-2">
                <div class="navbar-text">
                    <checkbox ng-model="input.technical"></checkbox> Technical view
                </div>
            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>


        <uib-tabset>
            <uib-tab heading="Form">
                <renderform2 q="fullQ" hash-ed="hashEd" technicalview="input.technical" errors="errorLog"></renderform2>
            </uib-tab>
            <uib-tab heading="Q report">

                <table class="table table-condensed table-bordered">
                    <tr ng-repeat="entry in qReport.entries">
                        <td>
                            <div ng-style="{ 'padding-left': (entry.linkId | pathindent) }">
                                {{entry.text}}
                            </div>
                        </td>
                        <td>{{entry.type}}</td>
                        <td>{{entry.mult}}</td>
                        <td>
                            <div ng-show="entry.definition">Definition: {{entry.definition}}</div>
                            <div ng-show="entry.initialExpression">Initial: {{entry.initialExpression}}</div>



                        </td>

                    </tr>
                </table>

                https://build.fhir.org/ig/HL7/sdc/Questionnaire-demographics.html
            </uib-tab>


        </uib-tabset>

<!--
        <renderform2 q="fullQ" hash-ed="hashEd" technicalview="input.technical" errors="errorLog"></renderform2>
-->




    <uib-tabset ng-show="false && selectedComp">
        <uib-tab>
            <uib-tab-heading>
                <span ng-show="selectedComp.kind == 'dg'">Data Group</span>
                <span ng-show="selectedComp.kind == 'comp'">Composition</span>
            </uib-tab-heading>



            <div class="row">
                <div class="col-md-8">

                    <uib-tabset>
                        <br/>

                        <uib-tab heading="Tree"  select="tabSelect('tree')">
                            <div class="pull-right clickable" ng-click="expandCompTree()">Expand all ({{allCompElements.length}})</div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="myScroll">
                                        <div id="compositionTree"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>




                        </uib-tab>

                        <uib-tab ng-show = 'false' heading = "comp list">
                            <div class="myScroll">
                                <table class="table-bordered table">
                                    <tr ng-repeat = "row in allCompElements">
                                        <td>{{row.ed.path.split('.').length}}</td>
                                        <td>{{row.ed.path}}</td>
                                    </tr>
                                </table>
                            </div>

                        </uib-tab>

                        <uib-tab heading="Form"  select="tabSelect('form')">
                            <div class="pull-right"><em>This form is only to assist with reviewing and does not represent what a 'real' form might look like.</em></div>
                            <div class="form-background">
                                <renderform q="fullQ" qr="{}"></renderform>
                            </div>


                        </uib-tab>

                        <uib-tab select="tabSelect('summary')">
                            <uib-tab-heading>
                                <span ng-show="selectedComp.kind == 'dg'">Data Group Summary</span>
                                <span ng-show="selectedComp.kind == 'comp'">Composition Summary</span>
                            </uib-tab-heading>
                            <br/>
                            <div ng-show="selectedComp.kind == 'comp'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table">
                                            <tr>
                                                <td>Name</td>
                                                <td><input type="text" class="form-control" disabled = "true" ng-model="selectedComp.name"/></td>
                                            </tr>
                                            <tr>
                                                <td>Title</td>
                                                <td><input type="text" class="form-control" disabled = "true" ng-model="selectedComp.title"/></td>
                                            </tr>
                                            <tr>
                                                <td>Description</td>
                                                <td><textarea disabled="true"
                                                              class="form-control" ng-model="selectedComp.description" ></textarea> </td>
                                            </tr>
                                            <tr>
                                                <td>Category</td>
                                                <td><input type="text" class="form-control" disabled = "true" ng-model="selectedComp.description"/></td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table">

                                            <tr>
                                                <td>Tumour stream</td>
                                                <td><input type="text" class="form-control" disabled = "true" ng-model="selectedComp.meta.tumourStream"/></td>
                                            </tr>

                                            <tr>
                                                <td>Organ</td>
                                                <td><input type="text" class="form-control" disabled = "true" ng-model="selectedComp.meta.organ"/></td>
                                            </tr>

                                            <tr>
                                                <td>Procedure</td>

                                                <td><input type="text" class="form-control" disabled = "true" ng-model="selectedComp.meta.procedure"/></td>




                                            </tr>


                                            <tr>
                                                <td>Source reference</td>

                                                <td><textarea disabled="true"
                                                              class="form-control" ng-model="selectedComp.sourceReference" ></textarea> </td>



                                            </tr>


                                        </table>
                                    </div>
                                </div>


                            </div>
                        </uib-tab>
                        <uib-tab ng-show="selectedComp.kind == 'dg'" heading="Table (DG)"  select="tabSelect('dg')">
                        </uib-tab>
                        <uib-tab ng-show="selectedComp.kind == 'comp'" heading="Table (Composition)" select="tabSelect('table')">
                            <br/>
                            <div class="row" style="margin-top: 8px;margin-bottom: 8px">
                                <div class="col-md-2">
                                    Sections
                                </div>
                                <div class="col-md-3">
                                    <select ng-model="input.tableSection" class="form-control"
                                            ng-options="section.title for section in input.tableSections"></select>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class = "form-control" placeholder="title filter" ng-model="input.tableFilter"/>
                                </div>
                                <div class="col-md-5">
                                    <div class="pull-right">
                                        <checkbox ng-model="input.hideSomeDG"></checkbox> Hide common DG
                                    </div>

                                </div>
                            </div>

                            <div class="tableFixHead">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr><th>Title</th><th>Description</th><th>Type</th><th>Card.</th><th>Cond.</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-style="{ 'background-color': getRowColour(item.ed) }"
                                        ng-class="{listItemSelected:item.ed==selectedED}"
                                        ng-click="selectED(item.ed)"
                                        ng-show="showTableRow(item.ed)"
                                        ng-repeat="item in allCompElements track by $index">
<!--
                                        <div ng-style="{ 'padding-left': (item.ed.path | pathindent) }">
                                            {{item.ed.path | lastInPath}}
                                        </div>
                                        -->


                                        <td><div ng-style="{ 'padding-left': (item.ed.path | pathindentCompTable) }">{{item.ed.title}}</div>


                                        </td>

                                        <td>{{item.ed.description}}

                                        </td>


                                        <td>


                                            <div ng-show="item.ed.type[0] == 'CodeableConcept'">
                                                <button ng-show="item.ed.valueSet"
                                                        ng-click="viewVS(item.ed.valueSet)"
                                                        class="btn-link btn">{{item.ed.type[0]}}</button>
                                                <div ng-hide="item.ed.valueSet">
                                                    {{item.ed.type[0]}}
                                                </div>

                                            </div>

                                            <div ng-hide="item.ed.type[0] == 'CodeableConcept'">
                                                {{item.ed.type[0]}}
                                            </div>



                                        </td>

                                        <td>


                                            <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->

                                            <div ng-show = "item.host">{{item.host.mult}}</div>
                                            <div ng-hide = "item.host">{{item.ed.mult}}</div>

                                        </td>
                                        <td>
                                            <div ng-show="item.ed.enableWhen.length > 0">Yes</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </uib-tab>









                    </uib-tabset>

                </div>


                <div class="col-md-4">

                    <uib-tabset>
                        <uib-tab heading="Details">



                            <div ng-show="showAllCommentSummary">
                                Show help
                                <!--
                                                        <table class="table-condensed table-bordered table">
                                                            <tr><th>Path</th><th>Comment</th><th>Disposition</th></tr>
                                                            <tr ng-repeat="comment in allComments">
                                                                <td>{{comment.path | lastInPath}}</td>
                                                                <td>{{comment.comment}}</td>
                                                                <td>{{comment.disposition}}</td>
                                                            </tr>
                                                        </table>
                                                        -->



                            </div>
                            <div ng-show="selectedCompositionNode && ! showAllCommentSummary">

                                <div class="banner">Details</div>


                                <div ng-show="selectedCompositionNode.data.ed.kind == 'section'">
                                    {{selectedCompositionNode.data.ed.title}}
                                    todo test this...

                                </div>

                                <div ng-hide = "selectedCompositionNode.data.ed.kind == 'section' || selectedCompositionNode.data.ed.kind == 'root'">

                                    <div class="row">
                                        <div class="col-md-3 ">
                                            Title
                                        </div>
                                        <div class="col-md-9">
                                            {{selectedCompositionNode.data.ed.title}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            Description
                                        </div>
                                        <div class="col-md-9">
                                            {{selectedCompositionNode.data.ed.description}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            Type
                                        </div>
                                        <div class="col-md-9">
                                            <div ng-repeat="type in selectedCompositionNode.data.ed.type">
                                                <div ng-show="fhirDataTypes.indexOf(type) > -1" class="pull-right">
                                                    <a target = "_blank" ng-href="{{fhirRoot}}datatypes.html#{{type}}">Details in spec</a>
                                                </div>
                                                {{type}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            Cardinality
                                        </div>
                                        <div class="col-md-9">
                                            {{selectedCompositionNode.data.ed.mult}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            Obligation
                                        </div>
                                        <div class="col-md-9">
                                            <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->



                                            <div ng-show = "selectedCompositionNode.data.host">
                                                <!-- for now, just hide it if a section is selected todo - check this logic
                                                Host:{{selectedCompositionNode.data.host.mult}}
                                                -->
                                            </div>
                                            <div ng-hide = "selectedCompositionNode.data.host">
                                                {{getObligation(selectedCompositionNode.data.ed)}}

                                                <!--{{selectedCompositionNode.data.ed.mult}}-->

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row" ng-show="selectedCompositionNode.data.ed.options.length > 0">
                                        <div class="col-md-3">
                                            Options
                                        </div>
                                        <div class="col-md-9">
                                            <ul>
                                                <li ng-repeat="option in selectedCompositionNode.data.ed.options">
                                                    {{option.display}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div ng-show = "false" class="row" >
                                        <div class="col-md-3">
                                            Full Path
                                        </div>
                                        <div class="col-md-9">

                                            <div ng-repeat="segment in getPathSegments(selectedCompositionNode.data.ed.path) track by $index">
                                                <div ng-show="$index > 0"> {{segment}}</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div ng-show="hasFixedValue(selectedCompositionNode.data.ed)" class="row" >
                                        <div class="col-md-3">
                                            Fixed value
                                        </div>
                                        <div class="col-md-9">
                                            <div ng-show="selectedCompositionNode.data.ed.fixedCode">
                                                {{selectedCompositionNode.data.ed.fixedCode}}
                                            </div>

                                            <div ng-show="selectedCompositionNode.data.ed.fixedRatio">
                                                <div ng-show="selectedCompositionNode.data.ed.fixedRatio.numerator.unit">Numerator unit: {{selectedCompositionNode.data.ed.fixedRatio.numerator.unit}}</div>
                                                <div ng-show="selectedCompositionNode.data.ed.fixedRatio.denominator.unit">Denominator unit: {{selectedCompositionNode.data.ed.fixedRatio.denominator.unit}}</div>
                                                <div ng-show="selectedCompositionNode.data.ed.fixedRatio.denominator.value">Denominator value: {{selectedCompositionNode.data.ed.fixedRatio.denominator.value}}</div>
                                            </div>

                                            <div ng-show="selectedCompositionNode.data.ed.fixedQuantity">
                                                <span ng-show = "selectedCompositionNode.data.ed.fixedQuantity.unit">
                                                  Unit: {{selectedCompositionNode.data.ed.fixedQuantity.unit}}
                                                </span>

                                                <span ng-show = "selectedCompositionNode.data.ed.fixedQuantity.value">
                                                  Value: {{selectedCompositionNode.data.ed.fixedQuantity.value}}
                                                </span>
                                            </div>

                                            <div ng-show="selectedCompositionNode.data.ed.fixedCoding">
                                                {{selectedCompositionNode.data.ed.fixedCoding.code}} | {{selectedCompositionNode.data.ed.fixedCoding.display}} | {{selectedCompositionNode.data.ed.fixedCoding.system}}
                                            </div>

                                            <span ng-show="selectedCompositionNode.data.ed.fixedCoding ||
                                                selectedCompositionNode.data.ed.fixedQuantity || selectedCompositionNode.data.ed.fixedRatio"
                                                class="pull-right"></span>

                                        </div>
                                    </div>

                                    <div ng-show = "hasDefaultValue(selectedCompositionNode.data.ed)" class="row" >
                                        <div class="col-md-3">
                                            Default value
                                        </div>
                                        <div class="col-md-9">
                                            <div class="col-md-9">
                                                <div ng-show="selectedCompositionNode.data.ed.defaultCode">
                                                    {{selectedCompositionNode.data.ed.defaultCode}}
                                                </div>

                                                <div ng-show="selectedCompositionNode.data.ed.defaultRatio">
                                                    <div ng-show="selectedCompositionNode.data.ed.defaultRatio.numerator.unit">Numerator unit: {{selectedCompositionNode.data.ed.defaultRatio.numerator.unit}}</div>
                                                    <div ng-show="selectedCompositionNode.data.ed.defaultRatio.denominator.unit">Denominator unit: {{selectedCompositionNode.data.ed.defaultRatio.denominator.unit}}</div>
                                                    <div ng-show="selectedCompositionNode.data.ed.defaultRatio.denominator.value">Denominator value: {{selectedCompositionNode.data.ed.defaultRatio.denominator.value}}</div>
                                                </div>

                                                <div ng-show="selectedCompositionNode.data.ed.defaultQuantity">
                                                <span ng-show = "selectedCompositionNode.data.ed.defaultQuantity.unit">
                                                  Unit: {{selectedCompositionNode.data.ed.defaultQuantity.unit}}
                                                </span>

                                                    <span ng-show = "selectedCompositionNode.data.ed.defaultQuantity.value">
                                                  Value: {{selectedCompositionNode.data.ed.defaultQuantity.value}}
                                                </span>
                                                </div>

                                                <div ng-show="selectedCompositionNode.data.ed.defaultCoding">
                                                    {{selectedCompositionNode.data.ed.defaultCoding.code}} | {{selectedCompositionNode.data.ed.defaultCoding.display}} | {{selectedCompositionNode.data.ed.defaultCoding.system}}
                                                </div>

                                                <span ng-show="selectedCompositionNode.data.ed.defaultCoding ||
                                                selectedCompositionNode.data.ed.defaultQuantity || selectedCompositionNode.data.ed.defaultRatio"
                                                      class="pull-right"></span>

                                            </div>

                                        </div>
                                    </div>


                                    <div ng-show = "true" class="row" ng-show="selectedCompositionNode.data.ed.type[0] == 'CodeableConcept' ">
                                        <div class="col-md-3">
                                            ValueSet
                                        </div>
                                        <div class="col-md-9">
                                            <div><em>{{selectedCompositionNode.data.ed.valueSet}}</em>

                                                <div ng-hide="selectedCompositionNode.data.ed.valueSet">
                                                    No ValueSet specified
                                                </div>


                                            </div>
                                            <div>
                                                <button ng-show="selectedCompositionNode.data.ed.valueSet"
                                                        ng-click="viewVS(selectedCompositionNode.data.ed.valueSet)"
                                                        class="btn-link btn">View VS</button>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="selectedCompositionNode.data.ed.enableWhen">
                                        <div class="col-md-3">
                                            Conditional
                                        </div>
                                        <div class="col-md-9">
                                            <table class="table">
                                                <tr><th>Source</th><th>Op.</th><th>Value</th></tr>
                                                <tr ng-repeat="ew in selectedCompositionNode.data.ed.enableWhen">
                                                    <td>{{ew.source}}</td>
                                                    <td>{{ew.operator}}</td>
                                                    <td>{{ew.value.code}} | {{ew.value.display}}</td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>

                                    <div class="row" ng-show="selectedCompositionNode.data.ed.sourceReference">
                                        <div class="col-md-3">
                                            Source Ref
                                        </div>
                                        <div class="col-md-9">
                                            {{selectedCompositionNode.data.ed.sourceReference}}

                                        </div>
                                    </div>


                                </div>

                                <div class="row" ng-show = "selectedCompositionNode.data.ed.zElement">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-9">
                                        <em>This element has been added directly (a 'Z' element)</em>
                                    </div>
                                </div>


                                <div class="banner">Comments</div>

                                <table class="table table-condensed" ng-show="commentsThisPath.length > 0">
                                    <tr><th>Comment</th><th>Disposition</th></tr>
                                    <tr ng-repeat = "com in commentsThisPath">
                                        <td>{{com.comment}}</td>
                                        <td>{{com.disposition.display}}
                                            <div><em>{{com.dispositionNote}}</em></div>

                                        </td>
                                    </tr>

                                </table>

                                <strong>New comment</strong>

                                <textarea class="form-control" ng-model="input.comment"></textarea>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-model="input.author" placeholder="Your name"/>
                                    </div>
                                    <div class="col-md-6">
                                        <button ng-show="input.comment"
                                                class="btn btn-link pull-right" ng-click="addComment(input.comment)">Add comment</button>
                                    </div>

                                </div>

                            </div>

                        </uib-tab>
                        <uib-tab heading="Form">
                            The rendered version of the form (from the POC)
                        </uib-tab>
                        <uib-tab heading="Json">
                            <pre>{{selectedED | json}}</pre>
                        </uib-tab>
                    </uib-tabset>






                </div>

            </div>



        </uib-tab>

        <uib-tab>
            <uib-tab-heading>All comments <span class="badge">{{allComments.length}}</span> </uib-tab-heading>


            <uib-tabset>
                <div>
                    <div class="pull-right">
                        <checkbox ng-model="input.newCommentsOnly"></checkbox> New comments only
                    </div>
                </div>

                <uib-tab heading="List of comments">
                    <table class="table-condensed table-bordered table">
                        <tr><th>Path</th><th>Author</th><th>Comment</th><th>Disposition</th></tr>
                        <tr ng-repeat="comment in allComments"
                            ng-show="showCommentLine(comment)">
                            <td>

                                {{comment.path | compositionSummaryPath}}
                            </td>
                            <td>{{comment.author}}</td>
                            <td>{{comment.comment}}</td>

                            <td>
                                <div ng-show="comment.disposition">
                                    {{comment.disposition.display}}
                                    <div><em>{{comment.dispositionNote}}</em></div>
                                </div>
                                <div ng-show="! comment.disposition">
                                    <div class="clickable" ng-click="addDisposition(comment)">Add disposition</div>
                                </div>

                            </td>
                        </tr>
                    </table>

                </uib-tab>

                <uib-tab ng-show="selectedComp.kind == 'comp'" heading="Comments by section">
                    <div ng-repeat="(k,v) in commentsBySection">
                        <div><strong>{{k}}</strong></div>
                        <table class="table table-bordered">
                            <tr><th>Path</th><th>Author</th><th>Comment</th><th>Disposition</th></tr>
                            <tr ng-repeat="item in v"
                                ng-show="showCommentLine(item.comment)">
                                <td width="15%">
                                    <!--
                                    <div  uib-popover="{{item.shortPath}}"
                                          popover-append-to-body=true
                                          popover-placement="auto top"
                                          popover-trigger="'mouseenter'">
                                        {{item.control}}
                                    </div>
                                    -->
                                    {{item.path | compositionSummaryPath}}

                                </td>
                                <td width="15%">{{item.comment.author}}</td>
                                <td width="45%">{{item.comment.comment}}</td>
                                <td>
                                    <div ng-show="item.comment.disposition">
                                        {{item.comment.disposition.display}}
                                        <div><em>{{item.comment.dispositionNote}}</em></div>
                                    </div>
                                    <div ng-show="! item.comment.disposition">
                                        <div class="clickable" ng-click="addDisposition(item.comment)">Add disposition</div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>

                </uib-tab>

            </uib-tabset>


        </uib-tab>

        <uib-tab ng-show="false" heading="Json">
            <pre>{{selectedComp | json}}</pre>
        </uib-tab>

        <uib-tab heading="Model">
            <br/>
            <div class="row">

                <div class="col-md-4">
                    <em>Stuff about the model</em>
                </div>
                <div class="col-md-8">
                    <img width="100%" src="images/LIM-org.png" usemap="#image_map"/>
                </div>
            </div>



        </uib-tab>

    </uib-tabset>



</div>

</body>
</html>