<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Logical Model</title>

    <style>
        #graph {
            width: 100%;
            height: 400px;
            border: 1px solid lightgray;
        }

         .tableFixHead {
             overflow-y: auto;
             height: 800px;
         }
        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th,
        td {
            padding: 8px 16px;
            border: 1px solid #ccc;
        }
        th {
            background: #eee;
        }


        modal-xlg {
            width : 1200px
        }
    </style>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox','ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>




    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/jstree.min.js"></script>

    <script src="js/modelsCtrl.js"></script>
    <script src="js/modelsSvc.js"></script>
    <script src="js/modelsDemoSvc.js"></script>
    <script src="js/modelCompSvc.js"></script>

    <script src="js/libs/vis.min.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/editDGCtrl.js"></script>
    <script src="js/editCompositionCtrl.js"></script>
    <!--
    <script src="js/editVSCtrl.js"></script>
    -->
    <script src="js/modelCompCtrl.js"></script>
    <script src="js/modelDGCtrl.js"></script>
    <script src="js/modelDGSvc.js"></script>
    <script src="js/modelTermCtrl.js"></script>
    <script src="js/modelTermSvc.js"></script>
    <script src="js/optionsCtrl.js"></script>
    <script src="js/viewVSCtrl.js"></script>
    <script src="js/showParameters.js"></script>


    <script src="js/QutilitiesSvc.js"></script>
    <script src="js/igSvc.js"></script>

    <script src="directive/renderForm/renderFormSvc.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>


    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>



</head>
<body style="padding: 8px;padding-top: 80px" >
<div ng-app="topApp" ng-controller="modelsCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-4">
                    <span>
                        <a class="navbar-brand" href="#">
                            Logical modeller workbench
                        </a>
                    </span>

            </div>


            <div class="col-md-2">
                <div class="navbar-text">
                    <button class="btn btn-link pull-right" ng-click="toggleLeftPanel()">Toggle list</button>
                </div>
            </div>


            <div class="col-md-2">
                <div class="navbar-text" >
                    <checkbox ng-model="input.canEdit"></checkbox> Can edit
                </div>
            </div>


            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    <a href="https://docs.google.com/document/d/1InT4HDIudFl4gUAF5htUNeLJG2QT8rBnMjB_E1fe78s" target="_blank">Help</a>
                </div>
            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

    <div>

        <a class="btn pull-right" target="_blank" href="https://build.fhir.org/ig/HL7/fhir-mCODE-ig/">mCODE</a>
        <button class="pull-right btn-link btn" ng-click="resetWorld()">Reset</button>
        <a class="btn pull-right" target="_blank" href="https://docs.google.com/spreadsheets/d/1XU7Jc0BbC5nXgmTu-qVLS-WwJjKO9GLXgjVHVk2WRL0/edit#gid=0">Spreadsheet</a>
        <button ng-show = "selectedModel" class="pull-right btn-link btn" ng-click="showDGSummary()">Show image</button>
    </div>


    <uib-tabset active="input.mainTabActive">

        <uib-tab heading="Compositions">
            <br/>

            <div class="row">
                <div ng-class="leftPanel">

                    <div class="row">
                        <div class="col-md-3">
                            Stream
                        </div>
                        <div class="col-md-9">
                            <select ng-model="input.selectedTumourStream" class="form-control"
                                    ng-options="ts for ts in tumourStreams"></select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Category
                        </div>
                        <div class="col-md-9">
                            <select ng-model="input.selectedCompCategory" class="form-control"
                                    ng-options="cat for cat in compCategories"></select>
                        </div>
                    </div>

                    <br/>
                    <div class="myScroll">

                        <div class="list-group">
                            <div ng-class="{'list-group-item':true,listItemSelected:selectedModel == v}" style="cursor: pointer"
                                 ng-click="selectComposition(v)"
                                 ng-show="showComposition(v)"
                                 ng-repeat="(k,v) in world.compositions">

                                <div>{{v.title}}</div>
                                <em>{{k}}</em>

                            </div>
                        </div>

                        <div>
                            <button class="btn btn-link" ng-click="newComposition()">New Composition</button>
                        </div>
                    </div>



                </div>
                <div ng-class="rightPanel">
                    <ng-include src="'/includes/showComposition.html'"></ng-include>
                </div>
            </div>

        </uib-tab>

        <uib-tab heading="DataGroups">

            <div class="row">
                <div ng-class="leftPanel">

                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Filter" class="form-control"
                                       ng-model="input.dgFilter"/>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-link  pull-right" ng-click="newModel('dg')">New</button>
                                <button class="btn btn-link pull-right" ng-click="listAllDG()">List all</button>
                            </div>
                        </div>



                    </div>
                    <div class="clearfix"></div>

                    <div class="myScroll">
                        <div class="list-group">
                            <div ng-class="{'list-group-item':true,listItemSelected:selectedModel == v}" style="cursor: pointer"
                                 ng-click="selectModel(v)"
                                 ng-show="showDG(v,input.dgFilter)"
                                 ng-repeat="v in sortedDGList">

                                <i class="glyphicon glyphicon-edit pull-right clickable"
                                   ng-click="editModel(v)"></i>

                                {{v.title}}
                            </div>
                        </div>
                    </div>


                    <div>
                        <button class="btn btn-link" ng-click="newModel('dg')">New DataGroup</button>
                    </div>
                </div>
                <div ng-class="rightPanel">

                    <div  ng-show="input.showDGList">
                        <div class="banner"> List of all DataGroups</div>

                        <div class="tableFixHead">
                            <table class="table table-condensed table-bordered">
                                <thead>
                            <tr><th>Name</th><th>Title</th><th>Description & Referenced by</th><th>mCODE group</th><th># elements</th></tr>
                                </thead>
                                <tbody>
                            <tr ng-repeat="(k,v) in world.dataGroups">
                                <td><div class="clickable" ng-click="selectModelFromList(k,v.kind)">{{v.name}}</div></td>
                                <td>{{v.title}}</td>
                                <td>{{v.description}}

                                    <div>
                                        <div
                                                ng-click="selectModelFromList(item.name,item.kind)"
                                                ng-repeat="item in xref[v.name] track by $index">
                                            {{item.kind}}: <span  class="clickable">{{item.name}}</span> (<em>{{item.path}}</em>)

                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <a ng-href="{{mCodeGroupPage[v.mcodegroup]}}" target="_blank">{{v.mcodegroup}}</a>
                                </td>
                                <td>{{v.diff.length}}</td>
                            </tr>
                                </tbody>
                        </table>
                        </div>
                    </div>


                    <div  ng-show="!showDGList && selectedModel.kind == 'dg'">
                        <ng-include src="'/includes/showDG.html'"></ng-include>
                    </div>

                    <div ng-hide = "selectedModel">
                        <div class="banner">Summary of DataGroups</div>
                        <img width="100%" src="images/LIM-org.png"/>
                    </div>

                </div>
            </div>

        </uib-tab>

        <uib-tab heading="Terminology reports">
            <ng-include src="'/includes/terminology.html'"></ng-include>
        </uib-tab>

        <uib-tab>
            <uib-tab-heading> DataGroup updates <span class="badge">{{dgUpdates.length}}</span> </uib-tab-heading>
            <em>Changes made to DataGroups</em>


            <ng-include src="'/includes/dgReport.html'"></ng-include>

<!--
            <pre>{{dgUpdates | json}}</pre>
            -->

        </uib-tab>

        <uib-tab>
            <uib-tab-heading>
                Errors <span class="badge">{{errors.length}}</span>
            </uib-tab-heading>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr ng-repeat="row in errors">
                            <td>
                                <div style="cursor: pointer" ng-click="input.errorModel = row.model">{{row.msg}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <pre>{{input.errorModel | json}}</pre>
                </div>
            </div>



        </uib-tab>

        <uib-tab ng-show = 'false' heading="Full model">
            <uib-tabset>
                <br/>
                <uib-tab heading="Type usage summary">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="myScroll">
                                <table class="table-bordered table">
                                    <tr><th>Type</th>
                                        <th>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Source type
                                                </div>
                                                <div class="col-md-9">
                                                    Path in source
                                                </div>
                                            </div>
                                        </th></tr>
                                    <tr ng-repeat="(k,v) in analysis">
                                        <td>{{k}}</td>
                                        <td>
                                            <div ng-repeat="item in v">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="clickable"
                                                             ng-click="selectModelFromTypeUsage(item.model)">{{item.model.name}}</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{item.path}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <pre>{{selectedModelFromTypeUsage | json}}</pre>
                        </div>
                    </div>




                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{world | json}}</pre>
                </uib-tab>
            </uib-tabset>

        </uib-tab>

        <uib-tab heading="LM StructureDefinitions">
            <button class="btn-link btn pull-right" ng-click="makeBundle()">Make Bundle</button>
            <button ng-show="lmBundle" class="btn-link btn pull-right" ng-click="validateBundle(lmBundle)">Validate</button>

            <div class="clearfix"></div>

            <uib-tabset>

                <uib-tab heading="Bundle">
                    <pre>{{lmBundle | json}}</pre>
                </uib-tab>

                <uib-tab heading="Validation" ng-show="lmValidateSummary">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                <div ng-class="{'list-group-item':true,listItemSelected:input.selectedValidationResource == resource}"
                                     ng-click="input.selectedValidationResource = resource"
                                     style="cursor: pointer"
                                     ng-repeat="resource in lmValidateSummary.resources">
                                    <div class="pull-right badge"> {{resource.issues.length}}</div>
                                    {{resource.resource.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <pre ng-show="input.selectedValidationResource.issues.length > 0">{{input.selectedValidationResource.issues | json}}</pre>
                            <pre ng-show="input.selectedValidationResource.resource">{{input.selectedValidationResource.resource | json}}</pre>
                        </div>
                    </div>
                </uib-tab>





            </uib-tabset>

<!--
            <div class="row">
                <div class="col-md-5">
                    <button class="btn-link btn pull-right" ng-click="makeBundle()">Make Bundle</button>
                    <div class="clearfix"></div>
                    <pre>{{lmBundle | json}}</pre>
                </div>
                <div class="col-md-7">
                    <div ng-show="lmBundle">
                        <button class="btn-link btn pull-right" ng-click="validateBundle(lmBundle)">Validate</button>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="list-group">
                                    <div class="list-group-item"
                                         ng-click="input.selectedIssues = resource.issues"
                                         ng-repeat="resource in lmValidateSummary.resources">
                                        <div class="pull-right badge"> {{resource.issues.length}}</div>
                                        {{resource.resource.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <pre>{{input.selectedIssues | json}}</pre>

                            </div>
                        </div>




<hr/>
                        {{lmValidateSummary}}
                        <pre>{{lmValidate | json}}</pre>
                    </div>


                </div>
            </div>

-->


        </uib-tab>

    </uib-tabset>

</div>
</body>
</html>
