<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Review Model</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/jstree.min.js"></script>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

        //this allows the directives (which are in the formsApp) to be used. see https://stackoverflow.com/questions/15641730/angular-js-directives-in-different-modules
        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>

    <script src="js/modelReviewCtrl.js"></script>
    <script src="js/modelsSvc.js"></script>
    <script src="js/modelsDemoSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/viewVSCtrl.js"></script>

    <script src="js/modelCompSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/makeQSvc.js"></script>
    <script src="js/codedOptionsSvc.js"></script>
    <script src="js/utilsSvc.js"></script>

    <script src="js/utilsSvc.js"></script>



    <script src="directive/renderForm/renderFormSvc.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>
    <script src="directive/renderSingleItem/renderSingleItemDir.js"></script>

<!--
    <script src="js/models/ObservationModels.js"></script>
    <script src="js/models/StagingModels.js"></script>
-->
</head>

<body style="padding: 8px;padding-top: 80px">
    <div ng-app="topApp" ng-controller="modelReviewCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2">
                    <span>
                        <a class="navbar-brand" href="#">
                            Review model
                        </a>
                    </span>

            </div>

            <div class="col-md-6">
                <div class="navbar-text">

                    <select class="form-control" ng-model="selectedComp"
                        ng-change="selectComposition(selectedComp)"
                            ng-options = "v.title for (k,v) in hashAllCompositions"></select>
                </div>
            </div>


            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
                </form>
            </div>
            <div class="col-md-1">
                <div class="navbar-text">
                    {{version}}
                </div>
            </div>
            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>


    <uib-tabset  ng-show="selectedComp">
        <uib-tab heading="Composition">


            <div class="row">
                <div class="col-md-8">

                    <uib-tabset>
                        <uib-tab heading="Form">
                            <div class="pull-right"><em>This form is only to assist with reviewing and does not represent what a 'real' form might look like.</em></div>
                            <renderform q="fullQ" qr="{}"></renderform>
                        </uib-tab>
                        <uib-tab heading="Tree">
                            <div class="pull-right clickable" ng-click="expandCompTree()">Expand all ({{allCompElements.length}})</div>
                            <div class="myScroll">
                                <div id="compositionTree"></div>
                            </div>
                        </uib-tab>

                    </uib-tabset>

                </div>


                <div class="col-md-4">

                    <div ng-show="selectedCompositionNode">

                        <div class="banner">Details</div>
                                <!--
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                Path
                                                            </div>
                                                            <div class="col-md-9">
                                                                {{selectedCompositionNode.data.ed.path}}
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                Kind
                                                            </div>
                                                            <div class="col-md-9">
                                                                {{selectedCompositionNode.data.ed.kind}}
                                                            </div>
                                                        </div>
                                                        -->

                        <div ng-hide = "selectedCompositionNode.data.ed.kind == 'section' || selectedCompositionNode.data.ed.kind == 'root'">

                            <div class="row">
                                <div class="col-md-3">
                                    Title
                                </div>
                                <div class="col-md-9">
                                    {{selectedCompositionNode.data.ed.title}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    Description
                                </div>
                                <div class="col-md-9">
                                    {{selectedCompositionNode.data.ed.description}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    Type
                                </div>
                                <div class="col-md-9">
                                    <div ng-repeat="type in selectedCompositionNode.data.ed.type">
                                        <div ng-show="fhirDataTypes.indexOf(type) > -1" class="pull-right">
                                            <a target = "_blank" ng-href="{{fhirRoot}}datatypes.html#{{type}}">Details in spec</a>
                                        </div>
                                        {{type}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    Cardinality
                                </div>
                                <div class="col-md-9">
                                    <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->

                                    <div ng-show = "selectedCompositionNode.data.host">{{selectedCompositionNode.data.host.mult}}</div>
                                    <div ng-hide = "selectedCompositionNode.data.host">{{selectedCompositionNode.data.ed.mult}}</div>

                                </div>
                            </div>
<!--
                            <div class="row" ng-show="selectedCompositionNode.data.ed.type[0] == 'CodeableConcept'">
                                <div class="col-md-3">
                                    ValueSet
                                </div>
                                <div class="col-md-9">
                                    <div><em>{{selectedCompositionNode.data.ed.valueSet}}</em></div>
                                    <div>
                                        <button ng-show="selectedCompositionNode.data.ed.valueSet"
                                                ng-click="viewVS(selectedCompositionNode.data.ed.valueSet)"
                                                class="btn-link btn">View VS</button>

                                    </div>
                                </div>
                            </div>
                            -->





                        </div>

                        <div class="row" ng-show = "selectedCompositionNode.data.ed.zElement">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-9">
                                        <em>This element has been added directly (a 'Z' element)</em>
                                    </div>
                                </div>


                        <div class="banner">Comments</div>

                        <table class="table table-condensed" ng-show="commentsThisPath.length > 0">
                            <tr><th>Comment</th><th>Disposition</th></tr>
                            <tr ng-repeat = "com in commentsThisPath">
                                <td>{{com.comment}}</td>
                                <td>{{com.disposition.display}}
                                    <div><em>{{com.dispositionNote}}</em></div>

                                </td>
                            </tr>

                        </table>

                        <strong>New comment</strong>

                        <textarea class="form-control" ng-model="input.comment"></textarea>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="input.author" placeholder="Your name"/>
                            </div>
                            <div class="col-md-6">
                                <button ng-show="input.comment"
                                        class="btn btn-link pull-right" ng-click="addComment(input.comment)">Add comment</button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>



        </uib-tab>

        <uib-tab>
            <uib-tab-heading>All comments <span class="badge">{{allComments.length}}</span> </uib-tab-heading>


            <uib-tabset>

                <uib-tab heading="By section">
                    <div ng-repeat="(k,v) in commentsBySection">
                        <div><strong>{{k}}</strong></div>
                        <table class="table table-bordered">
                            <tr><th>Path</th><th>Author</th><th>Comment</th><th>Disposition</th></tr>
                            <tr ng-repeat="item in v">
                                <td width="15%">
                                    <div  uib-popover="{{item.shortPath}}"
                                          popover-append-to-body=true
                                          popover-placement="auto top"
                                          popover-trigger="'mouseenter'">
                                        {{item.control}}
                                    </div>

                                </td>
                                <td width="15%">{{item.comment.author}}</td>
                                <td width="45%">{{item.comment.comment}}</td>
                                <td>
                                    <div ng-show="item.comment.disposition">
                                        {{item.comment.disposition.display}}
                                        <div><em>{{item.comment.dispositionNote}}</em></div>
                                    </div>
                                    <div ng-show="! item.comment.disposition">
                                        <div class="clickable" ng-click="addDisposition(item.comment)">Add disposition</div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>

                </uib-tab>
                <uib-tab heading="Raw">
                    <table class="table-condensed table-bordered table">
                        <tr><th>Path</th><th>Author</th><th>Comment</th><th>Disposition</th></tr>
                        <tr ng-repeat="comment in allComments">
                            <td>{{comment.path}}</td>
                            <td>{{comment.author}}</td>
                            <td>{{comment.comment}}</td>

                            <td>
                                <div ng-show="comment.disposition">
                                    {{comment.disposition.display}}
                                    <div><em>{{comment.dispositionNote}}</em></div>
                                </div>
                                <div ng-show="! comment.disposition">
                                    <div class="clickable" ng-click="addDisposition(comment)">Add disposition</div>
                                </div>

                            </td>
                        </tr>
                    </table>

                </uib-tab>
            </uib-tabset>


        </uib-tab>

        <uib-tab heading="Json">
            <pre>{{selectedComp | json}}</pre>
        </uib-tab>
    </uib-tabset>



</div>

</body>
</html>