<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Query</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox','ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("pocApp").constant("moment", moment);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>



    <script src="js/queryCtrl.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/makeLibraryQuery.js"></script>

    <script src="directive/viewBundle/viewBundleDir.js"></script>
    <script src="directive/viewBundle/viewBundleSvc.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>



</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="topApp" ng-controller="queryCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-2">
                    <span>
                        <a class="navbar-brand" href="#">
                            Query
                        </a>
                    </span>

            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    Server
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="navbar-text">
                    <select class="form-control" ng-model="svr" ng-change="selectServer(svr)"
                            ng-options="svr.display for svr in allServers">

                    </select>


                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-2">

            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

    <uib-tabset>


        <uib-tab heading="General queries">
            <br/>
            <div class="row">
                <div class="col-md-1">
                    Query
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="generalQuery"/>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary" ng-click="executeGeneralQuery(generalQuery)">Execute</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">

                    <uib-tabset>
                        <uib-tab heading="Library">
                            <br/>
                            <ul class="list-unstyled">
                                <li ng-click="executeFromLibrary(item)"
                                    class="clickable"
                                    ng-repeat="item in library.entry track by $index">
                                    {{item.display}}
                                </li>
                            </ul>
                        </uib-tab>

                        <uib-tab heading="History (last 20)">
                            <br/>
                            <ul class="list-unstyled">
                                <li
                                    class="clickable"

                                    ng-repeat="item in localStorage.genHistory track by $index">

                                    <span  ng-click="executeFromHistory(item)">{{trimDisplay(item,65)}}</span>

                                    <span ng-click="removeHistory($index)"> <i class="glyphicon glyphicon-remove-sign pull-right"></i></span>
                                </li>
                            </ul>
                        </uib-tab>
                    </uib-tabset>




                    <br/>



                </div>
                <div class="col-md-8">
                    <pre ng-show="ooGeneral">{{ooGeneral | json}}</pre>
                    <viewbundle bundle="generalBundle"></viewbundle>
                </div>
            </div>




        </uib-tab>

        <uib-tab heading="ValueSet explorer">
            <div class="row">
                <div class="col-md-3">
                    <br/>
                    <label>Type of ValueSet</label>
                    <div>
                        <select class="form-control" ng-model="vsType"
                                ng-disabled="vsCustom.length > 0"
                                ng-options = "option.display for option in vsTypes">
                            <option></option>

                        </select>
                    </div>
                    <br/>
                    <label>Tumour type</label>
                    <div>
                        <select class="form-control" ng-model="vsTumourType"
                                ng-disabled="vsCustom.length > 0"
                                ng-options = "option.display for option in vsTumourTypes">
                            <option></option>
                        </select>
                    </div>

                    <br/>
                    <label>Custom Search</label>
                    <input type="text" class="form-control" ng-model="vsCustom"/>





                    <br/>
                    <div>
                        <button class="btn-primary btn pull-right" ng-click="findVS(vsType,vsTumourType,vsCustom)">Find</button>
                    </div>

                    <br/> <br/>
                    <label>Saved queries</label>
                    <br/> <br/>
                    <ul class="list-unstyled">
                        <li ng-repeat="qry in localStorage.vsQuery">
                            <div class="clickable" ng-click="findVS(null,null,qry)">
                                {{qry}}
                            </div>

                        </li>
                    </ul>

                </div>
                <div class="col-md-9">
                    <div ng-show="query" class="rounded-box">Query: {{query}}</div>
                    <br/>

                    <div ng-show="oo">
                        <div class="alert alert-danger">
                            <pre>{{oo | json}}</pre>
                        </div>

                    </div>

                    <div ng-hide="oo" class="row">
                        <div class="col-md-3">
                            <div class="myScroll">
                                <div class="list-group">
                                    <div ng-class="{'list-group-item':true,listItemSelected:selectedVS.id == entry.resource.id}"
                                         ng-click="selectVS(entry.resource)"
                                         style="cursor: pointer"
                                         ng-repeat="entry in vsBundle.entry">
                                        {{entry.resource.title || getLastPartOfUrl(entry.resource.url)}}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-9" ng-show="selectedVS">
                            <div class="banner">{{selectedVS.url}}</div>
                            <uib-tabset>
                                <uib-tab heading="Json">
                                    <pre>{{selectedVS | json}}</pre>
                                </uib-tab>
                                <uib-tab heading="Expand">
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" placeholder="Filter text" class="form-control" ng-model="filter"/>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn-primary btn" ng-click="expandVS(selectedVS,filter)">Expand</button>
                                        </div>
                                    </div>
                                    <br/>
                                    <pre ng-show="ooExpand">{{ooExpand | json}}</pre>

                                    <uib-tabset ng-show="vsExpanded">
                                        <uib-tab heading="List">
                                            <table class="table table-condensed">
                                                <tr ng-repeat="concept in vsExpanded.expansion.contains">
                                                    <td>{{concept.display}}</td>
                                                    <td>{{concept.code}}</td>
                                                    <td>{{concept.system}}
                                                        <div>{{concept.version}}</div>
                                                    </td>

                                                </tr>
                                            </table>
                                        </uib-tab>
                                        <uib-tab heading="Json">
                                            <pre >{{vsExpanded.expansion | json}}</pre>
                                        </uib-tab>
                                    </uib-tabset>




                                </uib-tab>
                            </uib-tabset>


                        </div>



                    </div>

                </div>
            </div>
        </uib-tab>

    </uib-tabset>


</div>
</body>
