<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Requester</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

    </script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/requesterCtrl.js"></script>
    <script src="js/requesterSvc.js"></script>
    <script src="directive/renderForm/renderFormSvc.js"></script>

    <script src="js/commonSvc.js"></script>

    <script src="directive/QRDisplay/QRDisplayDir.js"></script>
    <script src="directive/reportDisplay/reportDisplayDir.js"></script>
    <script src="directive/renderForm/renderFormDir.js"></script>

</head>
<body style="padding: 8px;padding-top: 80px">
    <div ng-app="pocApp" ng-controller="requesterCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-3">
                    <span>
                        <a class="navbar-brand" href="#">
                            Requester
                        </a>
                    </span>

            </div>



            <div class="col-md-2">
                <div class="navbar-text">
                <select ng-model="input.pat" class="form-control"
                        ng-change="selectPatient(input.pat)"
                        ng-options="item.display for item in allPatients">
                    <option value="" disabled selected>Select patient</option>
                </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="navbar-text">
                NHI: {{selectedPatient.identifier[0].value}}
                <span ng-show="selectedPatient.gender">Gender: {{selectedPatient.gender}}</span>
                <span ng-show="selectedPatient.birthDate">BirthDate: {{selectedPatient.birthDate}}</span>
                </div>
            </div>


            <div class="col-md-2">
                <div class="navbar-text">

                </div>
            </div>


            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>



            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

        <div ng-show="false" class="row">
            <div class="col-md-1">
                Select patient
            </div>
            <div class="col-md-2">
                <select ng-model="input.pat" class="form-control"
                        ng-change="selectPatient(input.pat)"
                        ng-options="item.display for item in allPatients">

                </select>
            </div>
            <div class="col-md-3">

                NHI: {{selectedPatient.identifier[0].value}}
                <span ng-show="selectedPatient.gender">Gender: {{selectedPatient.gender}}</span>
                <span ng-show="selectedPatient.birthDate">BirthDate: {{selectedPatient.birthDate}}</span>
            </div>
        </div>


        <div class="row">

            <div class="col-md-12" ng-show="selectedPatient">

                <uib-tabset>
                    <uib-tab heading="New request">
                        <br/>

                        <uib-tabset>
                            <uib-tab heading="Enter request data">
                                <br/>
                                <div class="row">

                                    <div class="col-md-8" >
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select ng-model="selectedTemplate" class="form-control"
                                                        placeholder="Select form"
                                                        ng-change="selectQ(selectedTemplate)"
                                                        ng-options = "item.display for item in templates">
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary" ng-click="submitRequest()">Send request</button>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary" ng-click="validateBundle()">Validate</button>
                                            </div>
                                        </div>

                                        <div class="alert" ng-show="oo">
                                            <br/>
                                            <div ng-show = "submitStatus == 'pass'">
                                                <pre class="alert-success" ng-show="oo">{{oo | json}}</pre>
                                            </div>
                                            <div ng-show = "submitStatus == 'fail'" >
                                                <pre class="alert-danger" ng-show="oo">{{oo | json}}</pre>
                                            </div>
                                        </div>

                                        <div ng-hide="oo">
                                            <renderform q="selectedTemplate.Q" qr="QR"></renderform>
                                        </div>

                                        <!--

                                        <uib-tabset>
                                            <uib-tab heading="Form">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <select ng-model="selectedTemplate" class="form-control"
                                                                placeholder="Select form"
                                                                ng-change="selectQ(selectedTemplate)"
                                                                ng-options = "item.display for item in templates">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-primary" ng-click="submitRequest()">Send request</button>
                                                    </div>
                                                </div>


                                                <div class="alert" ng-show="oo">
                                                    <br/>
                                                    <div ng-show = "submitStatus == 'pass'">
                                                        <pre class="alert-success" ng-show="oo">{{oo | json}}</pre>
                                                    </div>
                                                    <div ng-show = "submitStatus == 'fail'" >
                                                        <pre class="alert-danger" ng-show="oo">{{oo | json}}</pre>
                                                    </div>
                                                </div>

                                                <div ng-hide="oo">
                                                    <renderform q="selectedTemplate.Q" qr="QR"></renderform>
                                                </div>

                                                <pre>{{QR | json}}</pre>

                                            </uib-tab>
                                            <uib-tab heading="Text">
                                                <qrdisplay qr="QR"></qrdisplay>

                                            </uib-tab>
                                            <uib-tab heading="Q">
                                                <pre>{{selectedTemplate | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="QR">
                                                <pre>{{QR | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="SR">
                                                <pre>{{SR | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="Bundle">
                                                <pre>{{bundle | json}}</pre>
                                            </uib-tab>
                                        </uib-tabset>

                                        -->
                                    </div>

                                    <div class="col-md-4">

                                        <qrdisplay qr="QR"></qrdisplay>
<!--
                                        <pre>{{validationResult | json}}</pre>

                                        <uib-tabset>
                                            <uib-tab heading="Request text">
                                                <qrdisplay qr="QR"></qrdisplay>
                                            </uib-tab>
                                            <uib-tab heading="Q">
                                                <pre>{{selectedTemplate | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="Patient">
                                                <pre>{{selectedPatient | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="QR">
                                                <pre>{{QR | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="SR">
                                                <pre>{{createdSR | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="Extract">
                                                <button class="btn btn-link" ng-click="testExtraction(QR)">Extract

                                                </button>


                                                <pre>{{testExtractionResult | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="Bundle">
                                                <pre>{{bundle | json}}</pre>
                                            </uib-tab>
                                        </uib-tabset>

-->

                                    </div>

                                </div>
                            </uib-tab>
                            <uib-tab heading="FHIR resources">
                                <br/>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="list-group">


                                            <div ng-class="{'list-group-item':true,activeFhirDisplay:input.selectedFhirDisplayOption == f.code}"
                                                ng-repeat = "f in fhirDisplayOptions"
                                                 style="cursor: pointer"
                                                ng-click = "input.selectedFhirDisplayOption = f.code">
                                                {{f.display}}
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="myScroll">


                                        <div ng-show = "input.selectedFhirDisplayOption == 'text'">
                                            <qrdisplay qr="QR"></qrdisplay>
                                        </div>
                                        <div ng-show = "input.selectedFhirDisplayOption == 'Q'">
                                            <pre>{{selectedTemplate | json}}</pre>
                                        </div>
                                        <div ng-show = "input.selectedFhirDisplayOption == 'patient'">
                                            <pre>{{selectedPatient | json}}</pre>
                                        </div>

                                        <div ng-show = "input.selectedFhirDisplayOption == 'QR'">
                                            <pre>{{QR | json}}</pre>
                                        </div>

                                        <div ng-show = "input.selectedFhirDisplayOption == 'SR'">
                                            <pre>{{createdSR | json}}</pre>
                                        </div>

                                        <div ng-show = "input.selectedFhirDisplayOption == 'extract'">
                                            <button class="btn btn-link" ng-click="testExtraction(QR)">Extract</button>
                                            <pre>{{testExtractionResult | json}}</pre>
                                        </div>

                                        <div ng-show = "input.selectedFhirDisplayOption == 'bundle'">
                                            <pre>{{bundle | json}}</pre>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                <uib-tabset vertical="true">
                                    <uib-tab heading="Request text">
                                        <qrdisplay qr="QR"></qrdisplay>
                                    </uib-tab>
                                    <uib-tab heading="Q">
                                        <pre>{{selectedTemplate | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="Patient">
                                        <pre>{{selectedPatient | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="QR">
                                        <pre>{{QR | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="SR">
                                        <pre>{{createdSR | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="Extract">
                                        <button class="btn btn-link" ng-click="testExtraction(QR)">Extract

                                        </button>


                                        <pre>{{testExtractionResult | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="Bundle">
                                        <pre>{{bundle | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>

                                -->

                            </uib-tab>

                        </uib-tabset>



                    </uib-tab>



                    <uib-tab heading="Previous request history">
                        <br/>

                        <ng-include src="'/includes/SRSummary.html'"></ng-include>


                    </uib-tab>
                    <uib-tab heading="Other clinical data">
                        <br/>
                        ACT-NOW meds & regimens
                        make a directive
                    </uib-tab>
                </uib-tabset>



            </div>
        </div>





        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>

</div>

</body>
</html>