<!--

Displays the ValueSets in a list and allows them to be viewed.
Public facing
No editing
-->



<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>ValueSet lookup </title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/jstree.min.js"></script>


    <script>
        angular.module("pocApp",['ui.bootstrap','ui.checkbox','ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("pocApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);

        angular.module("pocApp").constant("moment", moment);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>
    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <script src="js/vsLookupCtrl.js"></script>




    <script src="js/libs/localforage.min.js"></script>

    <script src="js/vsSvc.js"></script>
    <script src="js/viewVSCtrl.js"></script>


    <script src="js/showParameters.js"></script>
    <script src="js/commonSvc.js"></script>
    <script src="js/querySvc.js"></script>
    <script src="js/utilsSvc.js"></script>


<!--

    <script src="js/filters.js"></script>


    <script src="js/selectConceptCtrl.js"></script>



    <script src="js/cmCtrl.js"></script>
    <script src="js/cmSvc.js"></script>

    <script src="js/stagingCtrl.js"></script>
    <script src="js/gradingCtrl.js"></script>
    <script src="js/cmViewerCtrl.js"></script>
    <script src="js/updateVSSvc.js"></script>
    <script src="directive/viewBundle/viewBundleDir.js"></script>
    <script src="directive/viewBundle/viewBundleSvc.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/vis.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    -->

</head>
<body style="padding: 8px;padding-top: 90px">
<div ng-app="topApp" ng-controller="vsLookupCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-3">

                    <div>
                        <a class="navbar-brand" href="#">
                            ValueSet lookup <span class="badge">{{allVSItem.length}}</span>
                        </a>
                    </div>



            </div>




            <div class="col-md-3">
                <div class="navbar-text">

                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">

                    <img ng-show="showWaiting || refreshingCache || loadingCM" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    {{version}}
                </div>
            </div>

            <div class="col-md-2">
                <div class="navbar-text">


                </div>
            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/canshareLogo.png"/>
                </a>
            </div>
        </div>
    </nav>

        <div class="pull-right">
            <select class="form-control"
                    ng-change="changeInstance(input.tsInstance)"
                    ng-model="input.tsInstance">
                <option value="authoring">Authoring Instance</option>
                <option value="prod">Production Instance</option>
            </select>
        </div>


        <div ng-show="showLoadingMessage">Loading ValueSets, please wait...</div>

    <br/>
        <div class="row">
            <div class="col-md-3">
                <input placeholder="Filter on VS title or url" type="text" class="form-control"
                       ng-model="input.filterlist"/>
                <div>  <checkbox ng-model="input.includeRetired"></checkbox> Include retired & draft
                </div>
                <br/>
                <div class="myScroll">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,listItemSelected:selectedItem==item,retiredVS:item.vs.status == 'retired',draftVS:item.vs.status == 'draft'}"
                             ng-show="showVS(item)"
                             style="cursor: pointer" ng-repeat="item in allVSItem" ng-click="selectVSItem(item)">
                            {{item.display}}

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9" ng-show="selectedVS">
                <br/>

                <div class="banner"> {{selectedVS.description}}</div>
                <br/>
                <uib-tabset>


                    <uib-tab heading="Expand">
                        <br/>
                        <div class="row">
                            <div class="col-md-1">
                                Language
                            </div>
                            <div class="col-md-3">
                                <select ng-model="input.selectedLanguage" class="form-control"
                                        ng-options = "item.display for item in languages"></select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="input.filter" placeholder="Filter text"/>
                            </div>
                            <div class="col-md-3">
                                <div ng-show="expandedVS.expansion.contains">{{expandedVS.expansion.contains.length}} concepts</div>
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-primary pull-right" ng-click="expandVSInTS(selectedVS)">Expand</button>
                            </div>
                        </div>

                        <br/>



                        <pre ng-show="expansionError">{{expansionError.data | json}}</pre>

                        <uib-tabset ng-show="expandedVS">
                            <uib-tab heading="Concepts">
                                <table class="table table-bordered table-condensed">
                                    <tr><th>Display</th><th>Code</th><th>System</th></tr>
                                    <tr ng-repeat="concept in expandedVS.expansion.contains">
                                        <td>{{concept.display}}</td>
                                        <td>
                                            <div  class="clickable" ng-click="lookup(concept.code,concept.system)">
                                                {{concept.code}}</div>
                                        </td>
                                        <td>{{concept.system}}</td>
                                    </tr>
                                </table>
                            </uib-tab>
                            <uib-tab heading="Query">
                                <br/>
                                <p>The query that produced this ValueSet</p>
                                <div ng-show="expandQry">{{expandQry}}</div>
                            </uib-tab>
                            <uib-tab heading="Json">
                                <pre>{{expandedVS | json}}</pre>
                            </uib-tab>
                        </uib-tabset>






                    </uib-tab>

                    <uib-tab heading="FSH">

                        <div ng-repeat="concept in expandedVS.expansion.contains">
                            * $snomed#{{concept.code}} "{{concept.display}}"

                        </div>


                    </uib-tab>

                    <uib-tab heading="Json">
                        <br/>
                        Query: {{termServerQuery}}
                        <br/>  <br/>

                        <pre>{{selectedVS | json}}</pre>
                    </uib-tab>




                </uib-tabset>

            </div>
        </div>






</div>
</body>
</html>
