

.modal-xlg {
    width : 1200px
}

.modelInfo {
    background-color: lightgoldenrodyellow;
    border: 1px solid gainsboro;
    padding : 3px;
    margin: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.clickable {
    color: rgb(79, 155, 214);
    cursor: pointer;
}

.clickableDotted {
    color: rgb(79, 155, 214);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

.listItemSelected {
    background-color: lightsteelblue;
}

.activeFhirDisplay {
    background-color: lightsteelblue;
}

.myScroll {
    height: 700px;
    overflow-y: scroll;

}

.tableFixHead {
    overflow-y: auto;
    height: 800px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}
th {
    background: #eee;
}

.banner {

    border: 1px solid #b8b9b5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #F6F6F6;
    font-weight: bold;
}

.rounded-box {
    border: 1px solid gainsboro;
    padding : 5px;
    margin: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded-box-filled {
    border : 1px solid #eeeeee;
    padding : 5px;
    margin: 0px;
    /*margin-left : 10px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#F6F6F6;
}