


<div ng-show="entry.type == 'group'">
  <div class="group">{{item.title }}</div>
</div>

<div ng-show="entry.type == 'leaf'">
  <div ng-class="{leaf:true, disabled:entry.isDisabled}">
    <div>{{entry.title }}</div>

    <div style="padding-left: 15px; padding-right: 15px" ng-switch="entry.item.type">

      <div ng-switch-when = "choice" >

        <select class="form-control"  ng-model="dataEntered[entry.linkId]"
                ng-change = "dataUpdated(entry.item)"
                ng-options="concept.display for concept in getOptions(entry.item)">
        </select>

      </div>

      <div ng-switch-when = "quantity">


        <input class="form-control"
               ng-focus="onFocus(item)"
               ng-blur = "dataUpdated(entry.item)"
               placeholder="{{cell.meta.placeholder}}"
               ng-model="dataEntered[item.linkId]"/>
      </div>

      <div ng-switch-default>

        <input class="form-control"

               ng-focus="onFocus(entry)"
               ng-change = "dataUpdated(entry.item)"
               placeholder="{{cell.meta.placeholder}}"
               ng-model="dataEntered[entry.linkId]"/>



      </div>


    </div>

  </div>

</div>

<br/>
