<!--

Accept a pasted CM, parse it and upload it to the Terminology Server
These are CM's intended for code mapping during analytics ingestion - not for dynamic UI
-->


<div>


  <div class="row" ng-show="false">

    <div class="col-md-2">
      <button ng-show="input.cmData"
              class="btn-link btn" ng-click="parseCMFile(input.cmData)">Parse content</button>
    </div>
    <div class="col-md-2">


      <div style="padding: 8px;font-weight: bold;color: #ef8fbe">
        <select class="form-control" ng-model = "input.selectedDomain"
                ng-change="getConceptMapVersions(input.selectedDomain)"
                ng-options = "d for d in allDomains"></select>
      </div>



    </div>
    <div class="col-md-2">
      <!--
      <div>
        <button class="btn-link btn" ng-click="loadCurrent()">Download from Term. server</button>
      </div>
      -->
    </div>
    <div class="col-md-2">
      <a class="btn" target="_blank" href="https://docs.google.com/spreadsheets/d/1S-08cA1m-CAy8humztO0S5Djr_wtXibmNn6w4_uFCIE/edit#gid=285304653">Concept Map spreadsheet</a>

    </div>
    <div class="col-md-4">
      <div class="pull-right" ng-show="conceptMap && user.email && canUpload ">
        <button style="padding-top: 8px"  class="btn btn-danger " ng-click="uploadConceptMap(input.publishCMVer)">Upload ConceptMap</button>

        <span  ng-if="activeRC">
            <checkbox ng-model="input.publishCMVer"></checkbox> Release Candidate {{previousVersion}}
          </span>


      </div>

    </div>

  </div>


  <div class="row">
    <div class="col-md-6">

      <uib-tabset>
        <uib-tab heading="Json to upload">
          <div class="banner">Paste ConceptMap here</div>
          <textarea class="form-control" rows="20" ng-model="input.cmJson"></textarea>
        </uib-tab>
        <uib-tab heading="Parsed ConceptMap">
          <pre>{{cmUpload | json}}</pre>

        </uib-tab>
      </uib-tabset>


      <div>
        <div class="pull-right clickable " ng-show="input.cmJson" ng-click="parseAnalyticsCM()">Parse</div>
      </div>


    </div>
    <div class="col-md-6">
      <div class="banner">MetaData</div>

      <table class="table table-bordered" ng-if="cmUpload.group.length > 0">
        <tr>
          <td>Id</td>
          <td><input type="text" class="form-control"
                     ng-blur = "setUrl(cmUpload.id)"
                     ng-model="cmUpload.id"/> </td>
        </tr>
        <tr>
          <td>Url</td>
          <td>{{cmUpload.url}} </td>
        </tr>
        <tr>
          <td>Identifier</td>
          <td>
            System: {{cmUpload.identifier.system}} <div>value: {{cmUpload.identifier.value}}</div>
          </td>
        </tr>
        <tr>

          <td>Status</td>
          <td>
            <select style="width: 150px" class="form-control" ng-model="cmUpload.status">
              <option value="draft">draft</option>
              <option value="active">active</option>
              <option value="retired">retired</option>
              <option value="unknown">unknown</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Title</td>
          <td><input type="text" class="form-control" ng-model="cmUpload.title"/> </td>
        </tr>

        <tr>
          <td>Description</td>
          <td><textarea class="form-control" ng-model="cmUpload.description"></textarea> </td>
        </tr>

        <tr>
          <td>Source CodeSystem</td>
          <td><input type="text" class="form-control"
                     ng-blur="checkCS(input.sourceCS)"
                     ng-model="input.sourceCS"/> </td>
        </tr>

        <tr>
          <td>Don't Syndicate</td>
          <td><checkbox ng-model="cmUpload.experimental"></checkbox>  <em>If checked, ConceptMap will NOT be syndicated</em></td>
        </tr>

      </table>

      <div class="row" ng-show="message && input.sourceCS">
        <div class="col-md-8">
          <div ng-show="exists" class="alert alert-danger">{{message}}</div>
          <div ng-hide="exists" class="alert alert-info">{{message}}</div>
        </div>
        <div class="col-md-4">
          <div class="pull-right btn btn-danger"  ng-click="uploadAnalyticsCM(cmUpload.id)">Upload</div>
        </div>
      </div>


    </div>
  </div>
</div>