<div>

  <div class="row" ng-show="selectedComposition">
    <div class="col-md-4">
      <div class="banner">Headings</div>
      <!-- Note that sections got renamed to 'headings' in the UI - still 'section' in the code-->
      <div class="list-group">
        <div ng-class="{'list-group-item':true,listItemSelected:section == selectedSection}"
             style="cursor: pointer"
             ng-click="selectSection(section)"

             ng-repeat="section in selectedComposition.sections">

              <div ng-show = "canEditComp(selectedComposition)">

                <span class="clickable pull-right" ng-click="removeSection($index)">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>

                <span ng-hide="$index==0" class="clickable pull-right" ng-click="moveSectionUp($index)">
                      <i class="glyphicon glyphicon-arrow-up"></i>
                </span>

                <span ng-hide="$index == selectedComposition.sections.length-1" class="clickable pull-right" ng-click="moveSectionDown($index)">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </span>
              </div>

          {{section.title || section.name}}
        </div>
      </div>


      <div ng-show = "canEditComp(selectedComposition)">

        <h5>New heading</h5>


        <div class="row">
        <div class="col-md-10">
          <input type="text" placeholder="Section name"
                 class="form-control" ng-model="local.sectionName"/>
          <div>
            <input type="text" placeholder="Title"
                   class="form-control" ng-model="local.sectionTitle"/>
          </div>
          <div>
            <input type="text" placeholder="Cardinality (default 0..1)"
                   class="form-control" ng-model="local.sectionMultiplicity"/>
          </div>
        </div>
        <div class="col-md-2">
          <button ng-show="local.sectionName"
                  class="btn-link btn"
                  ng-click="addSection(local.sectionName,local.sectionTitle,local.sectionMultiplicity)">Add</button>
        </div>
      </div>

      </div>

    </div>
    <div class="col-md-4" ng-show="selectedSection">

      <div class="banner">Heading details</div>

      <div class="row">
        <div class="col-md-2"><div style="padding-top: 8px">Name</div></div>
        <div class="col-md-10">
          <input type="text" disabled="disabled"
                 class="form-control" ng-model="selectedSection.name"/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><div style="padding-top: 8px">Title</div></div>
        <div class="col-md-10">
          <input type="text" ng-disabled = "! canEditComp(selectedComposition)"
                 class="form-control" ng-model="selectedSection.title"/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><div style="padding-top: 8px">Card.</div></div>
        <div class="col-md-10">
          <!--
          <input type="text" ng-disabled = "! canEditComp(selectedComposition)" class="form-control"
                 ng-model="selectedSection.mult"/>
          -->

          <select class="form-control" ng-disabled = "! canEditComp(selectedComposition)"  ng-model="selectedSection.mult">
            <option value="0..1">0..1</option>
            <option value="1..1">1..1</option>
            <option value="0..*">0..*</option>
            <option value="1..*">1..*</option>
          </select>


        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><div style="padding-top: 8px">Rules</div></div>
        <div class="col-md-10">
          <textarea ng-disabled = "! canEditComp(selectedComposition)"
                    class="form-control" ng-model="selectedSection.rules"></textarea>
        </div>
      </div>


      <br/>

      <div class="banner">DGs under this heading</div>


      <div class="list-group">
        <div ng-class="{'list-group-item':true,listItemSelected:item == selectedItem}"
             ng-click="selectItem(item)"
             style="cursor: pointer"
             ng-repeat="item in selectedSection.items">

          <div ng-show = "canEditComp(selectedComposition)">
              <i class="glyphicon glyphicon-remove pull-right clickable"
                ng-click="removeDG($index)"></i>

              <span ng-hide="$index==0" class="clickable pull-right" ng-click="moveDGUp($index)">
                      <i class="glyphicon glyphicon-arrow-up"></i>
              </span>

              <span ng-hide="$index==selectedSection.items.length -1" class="clickable pull-right" ng-click="moveDGDown($index)">
                    <i class="glyphicon glyphicon-arrow-down"></i>
              </span>

          </div>

          {{item.title}}
        </div>
      </div>
      <hr/>

      <div class="row">
        <div class="col-md-10">
          <strong>{{selectedNewDG.name}}</strong>
          <div><em> {{selectedNewDG.description}}</em></div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-link"
                  ng-show="selectedSection && selectedNewDG"
                  ng-click="addSectionItem(selectedNewDG)">Add</button>
        </div>
        <br/>
        <em ng-show="selectedNewDG">Elements:</em>
        <table class="table table-bordered table-condensed">
          <tr ng-repeat="item in fullElementListPossible" ng-hide="item.ed.mult == '0..0'">
            <td>{{item.ed.title || item.ed.path}}</td>
            <td>{{item.ed.description}}</td>
            <td>{{item.ed.mult}}</td>
          </tr>

        </table>

      </div>

    </div>
    <div class="col-md-4" ng-show="selectedSection">
      <div class="banner">Selected DG details, add DG to heading</div>
      <uib-tabset>

        <uib-tab heading="Details">

          <div ng-show="selectedItem">
            <button class="btn-link btn pull-right" ng-click="showDG(selectedItem.type[0])">Load {{selectedItem.type[0]}} DataGroup</button>
          </div>

          <table class="table table-bordered table-condensed">
            <tr ng-repeat="item in filteredElementList">
              <td>{{item.ed.title || item.ed.path}}</td>
              <td>{{item.ed.description}}</td>
            </tr>

          </table>

        </uib-tab>


        <uib-tab heading="DG library Tree">
          <!--
          <div class="clickable" ng-click="setup()">refresh</div>
-->

          <div ng-hide="canEditComp(selectedComposition)">
            <em>The Composition must be checked out for DG tree to be visible</em>
          </div>

          <div ng-show="canEditComp(selectedComposition)">
            <div ng-show="selectedNewDG">
              <button class="btn-link btn pull-right" ng-click="showDG(selectedNewDG.name)">Load {{selectedNewDG.name}} DataGroup</button>
              <div class="clearfix"></div>
            </div>

            <div class="clickable pull-right" ng-click="setup()">Refresh tree</div>
            <div class="myScroll">
              <div id="dgSelectTree"></div>
            </div>


          </div>






        </uib-tab>

        <uib-tab ng-show="false" heading="DG library List">

         <div class="list-group">
           <div class="list-group-item"
                ng-click = "addSectionItem(v)"
                ng-repeat = "(k,v) in hashAllDG">
             {{k}}
           </div>
         </div>

        </uib-tab>


      </uib-tabset>

    </div>
  </div>


  <div ng-show="selectedSection">


    <h5>Conditionals</h5>

    <strong>Existing conditionals this heading</strong>
    <table class="table-bordered table">
      <tr><th>Source heading</th><th>DataGroup</th><th>Element</th><th>Value</th></tr>
      <tr ng-repeat="ew in selectedComposition.enableWhen"
        ng-show="ew.targetSection == selectedSection.name">
        <td>{{ew.sourceSection}}</td>
        <td>{{ew.dg}}</td>
        <td>{{ew.ed}}</td>
        <td>{{ew.value}}</td>
      </tr>
    </table>
    <em>Each row represents a source condition that must be true for the heading contents to appear
    in a Form. There can be multiple - if any match then the heading is shown.</em>



    <div ng-show = "canEditComp(selectedComposition)">
      <br/><br/>
      <strong>New conditional</strong>
      <div class="row" >
        <div class="col-md-3">
          Heading where the source is

          <select class="form-control" ng-model="local.ewSection" ng-change="getDGsForSection(local.ewSection)"
                  ng-options = "section.title for section in local.ewSections"></select>
        </div>

        <div class="col-md-3">
          DG that has the source element
          <select class="form-control" ng-model="local.ewDG" ng-change="getCodedElementsForDG(local.ewDG)"
                  ng-options = "dg.title for dg in local.ewDGs"></select>

        </div>

        <div class="col-md-3">
          Coded element in DG
          <select class="form-control" ng-model="local.ewED" ng-change="getValuesForED(local.ewED)"
                  ng-options = "element.title for element in local.ewEDs"></select>

        </div>

        <div class="col-md-2">
          Possible values
          <select class="form-control" ng-model="local.ewValue"
                  ng-options = "concept.display for concept in local.ewValues"></select>

        </div>

        <div class="col-md-1">
          <br/>
          <i style="color: green" class="glyphicon glyphicon-ok clickable"
             ng-show="local.ewSection && local.ewDG && local.ewED && local.ewValue"
             ng-click="addEW(local.ewSection,local.ewDG,local.ewED,local.ewValue)"></i>
        </div>


      </div>
      <br/>
      <em>Will only allow the source (what has to be true for the heading to be shown) to be a coded
      item (ie CodeableConcept) and the source of possible values is currently only from options - not yet the ValueSet.</em>
    </div>


    <!--
    <pre>{{selectedSection.enableWhen | json}}</pre>
    <pre>{{selectedSection | json}}</pre>
-->

  </div>



</div>