<div>



  <div class="row">

    <div class="col-md-3">
      <strong></strong>
      <div class="myScroll">
        <div class="list-group">
          <div ng-class="{'list-group-item':true,listItemSelected:selectedCsItem.vs.id==item.vs.id,retired:item.vs.status == 'retired'}"
               style="cursor: pointer" ng-repeat="item in customVS" ng-click="selectCustomVSItem(item)">
            <div>{{item.display}}</div>
            <div class="pull-right"><em>{{item.vs.meta.lastUpdated | ageSeconds}}</em></div>
            <div class="clearfix"></div>
          </div>
        </div>
        <em>These are 'Maximal' ValueSets that refer to the entire CodeSystem and are automatically created. To create a ValueSet that
        has a subset of codes, you'll need to create a new valueSet.</em>
        <br/>
        <button class="btn-link btn pull-right" ng-click="newCS()">New CodeSystem</button>

      </div>
    </div>

    <div class="col-md-9">

      <button class="pull-right btn btn-danger"
              ng-show="ccDirty"
              ng-click="saveCustomVS()">Update VS</button>

      <uib-tabset ng-show="model">
        <uib-tab heading="Edit ValueSet and CodeSystem">
          <table class="table table-bordered">

            <tr>
              <td>Id</td>
              <td><input type="text"
                 disabled = "disabled"
                 ng-blur="generateResources()" class="form-control" ng-model="input.name"/>

              </td>
            </tr>

            <tr>
              <td>CodeSystem Url</td>
              <td><input type="text" class="form-control"
                 disabled = "disabled"
                 ng-model="cs.url"/>

              </td>
            </tr>

            <tr>
              <td>ValueSet Url</td>
              <td><input type="text" class="form-control"
                         disabled = "disabled"
                         ng-model="vs.url"/>

              </td>
            </tr>


            <tr>
              <td>VS Status</td>
              <td>
                <select ng-model="input.status" class="form-control"  ng-change="generateResources()">
                  <option value="active">Active</option>
                  <option value="retired">Retired</option>
                  <option value="draft">Draft</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Title</td>
              <td><input type="text"  ng-blur="generateResources()" class="form-control" ng-model="input.title"/> </td>
            </tr>

            <tr>
              <td>Description</td>
              <td><textarea type="text" ng-blur="generateResources()" class="form-control" ng-model="input.description"> </textarea></td>
            </tr>



          </table>


          <div class="clickable pull-right" ng-click="deleteAll()">Delete all concepts</div>

          <uib-tabset>
            <uib-tab heading="Contents">
              <table class="table table-bordered">
                <tr><th>Code</th><th>Display</th></tr>
                <tr ng-repeat="concept in model.concepts">
                  <td>{{concept.code}}</td>
                  <td>{{concept.display}}</td>
                  <td>
                    <i style="color: red" class="glyphicon glyphicon-remove clickable"
                       ng-click="removeCustomConcept($index)"></i>
                  </td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" ng-model="input.newCode"/> </td>
                  <td><input type="text" class="form-control" ng-model="input.newDisplay"/> </td>
                  <td>
                    <i style="color: green" class="glyphicon glyphicon-ok clickable"
                       ng-show="input.newCode && input.newDisplay"
                       ng-click="addCustomConcept()"></i>
                  </td>

                </tr>
              </table>
            </uib-tab>
            <uib-tab heading="Import">
              <br/>
              <em>Paste in from spreadsheet</em>
              <div class="row">
                <div class="col-md-6">
                  <textarea rows = "10" class="form-control"ng-model="input.pastedCodes"></textarea>
                </div>
                <div class="col-md-6">
                  <em>Please paste in the concepts to be added to the CodeSystem. You should add these
                  into a spreadsheet, then copy the cells from the Spreadsheet. The copy area should be 2 columns wide
                    with the code in the first column and the display in the second.</em>
                  <br/><br/>

                  <div class="clickable" ng-click="parseConceptList(input.pastedCodes)">Import</div>
                </div>
              </div>



            </uib-tab>
          </uib-tabset>


        </uib-tab>
        <uib-tab heading="Json">
          <pre>{{vs | json}}</pre>

          <pre>{{cs | json}}</pre>

        </uib-tab>
      </uib-tabset>


    </div>




  </div>



</div>