<div>



  <div class="row">

    <div class="col-md-3">
      <div class="myScroll">
        <div class="list-group">
          <div ng-class="{'list-group-item':true,listItemSelected:selectedCsItem.vs.id==item.vs.id,retired:item.vs.status == 'retired'}"
               style="cursor: pointer" ng-repeat="item in customVS" ng-click="selectCustomVSItem(item)">
            <div>{{item.display}}</div>
            <div class="pull-right"><em>{{item.vs.meta.lastUpdated | ageSeconds}}</em></div>
            <div class="clearfix"></div>
          </div>
        </div>

        <button class="btn-link btn" ng-click="newCS()">New CodeSystem</button>

      </div>
    </div>

    <div class="col-md-9">

      <button class="pull-right btn btn-danger"
              ng-show="ccDirty"
              ng-click="saveCustomVS()">Update VS</button>

      <uib-tabset ng-show="model">
        <uib-tab heading="Edit ValueSet and CodeSystem">
          <table class="table table-bordered">

            <tr>
              <td>Id</td>
              <td><input type="text"
                 disabled = "disabled"
                 placeholder="Id (and name) of the CS & VS - no spaces or _. eg canshare-ns-laterality"
                 ng-blur="generateResources()" class="form-control" ng-model="input.name"/>

              </td>
            </tr>

            <tr>
              <td>VS Status</td>
              <td>
                <select ng-model="input.status" class="form-control"  ng-change="generateResources()">
                  <option value="active">Active</option>
                  <option value="retired">Retired</option>
                  <option value="draft">Draft</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Title</td>
              <td><input type="text"  ng-blur="generateResources()" class="form-control" ng-model="input.title"/> </td>
            </tr>

            <tr>
              <td>Description</td>
              <td><textarea type="text" ng-blur="generateResources()" class="form-control" ng-model="input.description"> </textarea></td>
            </tr>



          </table>

          <table class="table table-bordered">
            <tr><th>Code</th><th>Display</th></tr>
            <tr ng-repeat="concept in model.concepts">
              <td>{{concept.code}}</td>
              <td>{{concept.display}}</td>
              <td>
                <i style="color: red" class="glyphicon glyphicon-remove clickable"
                   ng-click="removeCustomConcept($index)"></i>
              </td>
            </tr>
            <tr>
              <td><input type="text" class="form-control" ng-model="input.newCode"/> </td>
              <td><input type="text" class="form-control" ng-model="input.newDisplay"/> </td>
              <td>
                <i style="color: green" class="glyphicon glyphicon-ok clickable"
                   ng-show="input.newCode && input.newDisplay"
                   ng-click="addCustomConcept()"></i>
              </td>

            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Json">
          <pre>{{vs | json}}</pre>

          <pre>{{cs | json}}</pre>

        </uib-tab>
      </uib-tabset>


    </div>




  </div>



</div>