<div class="row">
  <div class="col-md-12">


    <table class="table-condensed table table-bordered">
      <tr><th>DG</th><th>Change</th><th>Path</th><th>Effects these DGs</th></tr>
      <tr ng-repeat="item in dgUpdates">
        <td>
          <div class="clickable" ng-click="termSelectDG(item)">{{item.DGName}}</div>

        </td>
        <td>


          <span ng-show="hashAllDG[item.DGName].status == 'new'">
            <div class="clickable pull-right" ng-click="deleteDG(item.DGName)" >Delete</div>
          </span>
          {{item.msg}}

        </td>
        <td>
          <div class="clickable" ng-click="termSelectDGItem({hiddenDGName:item.DGName, path:item.path})">{{item.path}}</div>
        </td>

        <td>
          <div ng-repeat="xref in item.xref">

            <div ng-hide="xref.path" >
              <span class="clickable" ng-click="termSelectDG(item)">{{xref.name}}</span>  ({{xref.mode}})
            </div>



            <div ng-show="xref.path" >
              <span  class="clickable" ng-click="termSelectDGItem({hiddenDGName: xref.name,path: xref.path})">{{xref.name}}.{{xref.path}}</span>  ({{xref.mode}})
            </div>




          </div>
        </td>
      </tr>
    </table>

<!--

    <br/>
    <strong>User created DataTypes</strong>
  <br/>
    <table class="table-condensed table table-bordered">
      <tr ng-repeat="(k,v) in hashAllDG" ng-show="v.status == 'new'">
        <td>{{k}}</td>
        <td>{{v.title}}</td>
        <td>{{v.description}}</td>
      </tr>
    </table>

    -->



  </div>


</div>