<table class="table table-bordered">
    <tr ng-repeat = "(k,v) in cmConfig.gradingProperties" >
        <td width = "30%">
            <span >{{v.UI}}</span>

            <i class=" glyphicon glyphicon-info-sign clickable pull-right"
               ng-click="viewConceptMap(k)"></i>

        </td>
        <td>
            <div class="row">
                <div class="col-md-10">
                    <div ng-show="v.options.length > 0">


                        <select class="form-control" ng-model="local.cmPropertyValue[k]"
                            ng-change="updateGrading(k)"
                            ng-options="v1.display for (k1,v1) in v.options">
                        </select>

                    </div>
                </div>
                <div class="col-md-2">
                    <span class="pull-right" ng-show = "v.options.length > 0"> {{v.options.length}}</span>


                </div>
            </div>
        </td>
    </tr>
</table>