<div>

  <style>
    .isDG {
      font-weight: bold;
    }
  </style>


  <div class="row">
    <div ng-class="leftPanel">

      <div class="list-group">
        <div ng-class="{'list-group-item':true,listItemSelected:currentQObject.name == k}"
             style="cursor: pointer"

             ng-repeat = "(k,v) in hashLibraryQO"

             ng-click = "selectQObject(v)">
          {{v.name}}
          <div><em>{{v.compName}}</em></div>
        </div>
      </div>



      <button class="btn btn-link" ng-show="user" ng-click="newQObject()">New Q</button>
    </div>
    <div ng-class="rightPanel">

      <div class="modelInfo" ng-show="currentQObject">

        <div class="row">
          <div class="col-md-4">
            <div>{{currentQObject.name}}</div>
            <div>{{currentQObject.compName}}</div>
            <div>{{currentQObject.description}}</div>
          </div>
          <div class="col-md-4">
            <div>{{currentQObject.status}} <span ng-show="currentQObject.status == 'checked-out'"> to {{currentQObject.user}}</span> </div>


            <div ng-show = "currentQObject.status == 'checked-out' && currentQObject.user == user.email">
              <div class="btn btn-link" ng-click="checkin()">Check in</div>
            </div>

            <div ng-hide = "currentQObject.status == 'checked-out' || ! user">
              <div class="btn btn-link" ng-click="checkout()">Check out</div>
            </div>

          </div>
          <div class="col-md-4">
            <!--
            <div class="btn btn-danger pull-right" ng-click="pushToPOC()">Push to POC</div>
            -->
          </div>
        </div>
      </div>


      <div class="pull-right"><button ng-show="currentQObject" class="btn btn-link" ng-click="save()">Save</button></div>
      <uib-tabset>
        <uib-tab heading="Editor tree">
          <div class="row">

            <div class="col-md-3">

              <div id="qtree"></div>

              <br/>

              <div ng-show="canEdit">
                <span class="clickable" ng-show="selectedQNode" ng-click="moveUp()">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </span>

                <span class="clickable" ng-show="selectedQNode" ng-click="moveDown()">
                  <i class="glyphicon glyphicon-arrow-down"></i>
                </span>

                <span ng-show="allowAddGroup" class="clickable" ng-click="addGroup(selectedQNode)">
                  Add Group
                </span>
              </div>






            </div>


            <div class="col-md-4">

              <div ng-show="selectedQNode.data.level == 'group'">
                <div class="banner">Group details</div>
                <table class="table table-bordered">
                  <tr><td>Name</td><td>{{selectedQNode.text}}</td></tr>
                  <tr><td>Columns</td>
                    <td><input class="form-control" type="number"
                               ng-blur="updateCols(selectedQNode.data.cols)"
                               ng-model="selectedQNode.data.cols"/></td>
                  </tr>
                </table>

                <br/>
              </div>

              <div ng-show="canEdit">

                <div ng-hide="selectedQNode.data.level == 'element'">


                      <div ng-show="allElementsThisSection">
                        <div class="banner">Elements that can be added</div>
                        <div ng-repeat="ed in allElementsThisSection"
                             style="cursor: pointer"
                             ng-click="selectElementToAdd($index)">
                          <div ng-class="{clickable:ed.type,isDG:ed.kind=='dg'}">{{ed.shortPath}}</div>
                        </div>
                      </div>
                </div>

              </div>



              <div ng-show="selectedQNode.data.level == 'element'">
                <div class="banner">Selected element details</div>

                <table class="table table-bordered">
                  <tr><td>Path</td><td>{{selectedQNode.data.ed.path | dropFirstInPath}}</td></tr>
                  <tr><td>Title</td><td>{{selectedQNode.data.ed.title }}</td></tr>
                  <tr><td>Description</td><td>{{selectedQNode.data.ed.description }}</td></tr>
                  <tr><td>Data type</td><td>{{selectedQNode.data.ed.type[0] }}</td></tr>
                  <tr><td>Control type</td><td>{{selectedQNode.data.controlType }}</td></tr>
                  <tr><td>Control hint</td><td>{{selectedQNode.data.controlHint }}</td></tr>
                  <tr><td>Cardinality</td><td>{{selectedQNode.data.ed.mult }}</td></tr>
                  <tr ng-show="selectedQNode.data.ed.otherAllowed"><td>Other allowed</td><td>Is enabled</td></tr>

                  <tr ng-show="selectedQNode.data.ed.enableWhen.length > 0">
                    <td>Conditional</td>
                    <td>
                      <table class="table">
                        <tr ng-repeat = "ew in selectedQNode.data.ed.enableWhen">
                          <td>{{ew.source}}</td>
                          <td>{{ew.operator}}</td>
                          <td>{{ew.value.display}}</td>
                        </tr>
                      </table>

                  </tr>
                </table>

                <div class="clickable" ng-show="canEdit" ng-click="removeElement()">Remove this element</div>


                <!--
                          <pre>{{selectedQNode.data | json}}</pre>
                -->

              </div>


            </div>

            <div  class="col-md-5">


              <div class="btn-link btn pull-right" ng-click="previewQ()">Preview form</div>

              <uib-tabset>
                <uib-tab heading="Form">
                  <div class="banner">{{selectedSection.text}}</div>

                  <div ng-repeat = 'item in selectedSection.item'>

                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <div ng-show="item.level == 'group'">
                          <strong>{{item.text}}</strong>
                        </div>
                        <div ng-hide="item.level == 'group'">
                          {{item.text}}
                        </div>




                      </div>
                      <div class="col-sm-6 col-md-6">
                        <div style="padding-left: 15px" ng-switch="item.level">
                          <!--
                                          <div ng-switch-when="group">
                                            group: {{item.text}}
                                          </div>
                          -->
                          <div ng-switch-when="element">
                            <div style="padding-top: 8px">
                              <rendersingleitem item="item"></rendersingleitem>
                            </div>

                          </div>


                        </div>

                      </div>
                    </div>

                    <div ng-repeat = 'groupItem in item.item'>
                      <div class="row">
                        <div class="col-sm-6 col-md-6">
                          {{groupItem.text}}
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div  style="padding-top: 8px">
                            <rendersingleitem item="groupItem"></rendersingleitem>
                          </div>

                        </div>
                      </div>

                    </div>

                  </div>

                </uib-tab>
                <uib-tab  heading="Q">
                  <div>
                    <a class="btn btn-link pull-right" download="{{downloadQLinkJsonName}}"
                       href="{{downloadQLinkJson}}" title="{{downloadQLinkJsonName}}" >
                      Download Questionnaire resource
                    </a>
                  </div>
                  <div class="clearfix"/>
                  <pre>{{Qresource | json}}</pre>

                </uib-tab>
              </uib-tabset>



            </div>
          </div>


        </uib-tab>

        <uib-tab heading="All elements">
          <pre>{{allCompElements | json}}</pre>
        </uib-tab>
        <uib-tab heading="Tree data">
          <table class="table">
            <tr><th>Id</th><th>Parent</th><th>Text</th><th>Level</th><th>Name</th></tr>
            <tr ng-repeat="item in treeData">
              <td>{{item.id}}</td>
              <td>{{item.parent}}</td>
              <td>{{item.text}}</td>
              <td>{{item.data.level}}</td>
              <td>{{item.data.name}}</td>
            </tr>
          </table>
          <pre>{{treeData | json}}</pre>
        </uib-tab>
        <uib-tab heading = "Json">
          <pre>{{currentQObject | json}}</pre>
        </uib-tab>
      </uib-tabset>


    </div>

  </div>


</div>