<div>

  <style>
    .fixed-width {
      display: inline-block;
      width: 20px;
    }
    .multiple {
      background-color: #f2dede;
    }
  </style>



  <button class="btn-link btn pull-right"
          ng-show="canEdit(selectedModel) && (! selectedModel.ordering || selectedModel.ordering.length < 1)"
          ng-click="lookupParents()">Fill from parent</button>

  <uib-tabset>
    <uib-tab heading="Move instructions in this DG">
      <h4>Ordering</h4>

      <h5>Move instructions in execution order</h5>

      <table class="table-bordered table">
        <tr><th>Insert this element...</th><th>After this element</th><th></th></tr>

        <tr ng-repeat="order in selectedModel.ordering track by $index">
          <td>
            {{getElementEd(order.toMove).title}} <div><em>({{order.toMove | dropFirstInPath}})</em></div>
          </td>
          <td>
            {{getElementEd(order.insertAfter).title}} <div><em>({{order.insertAfter | dropFirstInPath}})</em></div>

          </td>
          <td width="15%" >
            <div ng-show="canEdit(selectedModel)">
               <span class="fixed-width">
                <i  ng-show="$index > 0" class="glyphicon glyphicon-arrow-up clickable"
                    ng-click="moveUp($index)"></i>
            </span>

              <span  class="fixed-width" >
                <i ng-show="$index < selectedModel.ordering.length -1" class="glyphicon glyphicon-arrow-down clickable"
                   ng-click="moveDn($index)"></i>
            </span>

              <i class="glyphicon glyphicon-remove  clickable fixed-width"
                 ng-click="removeInsertAfter($index)"></i>

            </div>

          </td>
        </tr>

        <tr  ng-show="canEdit(selectedModel)">
          <td>
            <select class="form-control" ng-model="local.toMove"
                    ng-options="path for path in allPaths"></select>
          </td>
          <td>
            <select class="form-control" ng-model="local.insertAfter"
                    ng-options="path for path in allPaths"></select>

          </td>
          <td>
            <i class="glyphicon glyphicon-plus-sign  clickable"
               ng-show="local.toMove && local.insertAfter"
               ng-click="addInsertAfter(local.toMove,local.insertAfter)"></i>

          </td>
        </tr>
      </table>

      <h5>Move instructions by 'toMove' element</h5>
      <table class="table-bordered table">
        <tr><th>Element</th><th>Move after</th></tr>
        <tr ng-repeat = "(k,v) in orderingByToMove track by $index"
            ng-class="{multiple:v.length > 1}">
          <td>{{k}}</td>
          <td><div ng-repeat="moveAfter in v track by $index">{{moveAfter}}</div></td>
        </tr>
      </table>

      <div ng-show="dgReferencesOrdering.length > 0">
        <h5>Referenced DG ordering (direct references only)</h5>
        <table class="table table-bordered">
          <tr><th>Path</th><th>Insert this element...</th><th>After this element</th><th></th></tr>
          <tr ng-repeat="ord in dgReferencesOrdering  track by $index">
            <td>{{ord.path}}</td>
            <td>{{ord.toMove}}</td>
            <td>{{ord.insertAfter}}</td>
            <td><div class="clickable" ng-click="addToDG(ord,$index)">Add</div> </td>
          </tr>
        </table>


      </div>


    </uib-tab>


    <uib-tab heading="Move instructions from referenced DG">

      <table class="table-bordered table">
        <tr><th>Move instructions</th><th>Currently in DG</th><th ng-show="canEdit(selectedModel)">Action</th></tr>
        <tr ng-repeat="item in referencedDGOrdering">
          <td>
            <div><strong>Move:</strong> {{item.adjToMove}}</div>
            <div><strong>After: </strong>{{item.adjInsertAfter}}</div>
          </td>
          <td>{{item.alreadyInDG ? 'Yes' : 'No'}}</td>
          <td ng-show="canEdit(selectedModel)">
            <div class='clickable' ng-hide="item.alreadyInDG" ng-click="addReferencedMove(item)">Add to DG</div>
            <div class='clickable' ng-show="item.alreadyInDG" ng-click="removeReferencedMove(item)">Remove from DG</div>

          </td>
        </tr>


      </table>


      <!--
       <pre>{{referencedDGOrdering | json}}</pre>


      <button class="btn-link btn pull-right"
              ng-show="true"
              ng-click="applyMoveFromReferences()">Apply move</button>
      -->

    </uib-tab>
  </uib-tabset>



</div>