<div>

  <style>
    .fixed-width {
      display: inline-block;
      width: 20px;
    }
  </style>

  <button class="btn-link btn pull-right"
          ng-show="! selectedModel.ordering || selectedModel.ordering.length < 1"
          ng-click="lookupParents()">Fill from parent</button>

  <h4>Ordering</h4>


  <table class="table-bordered table">
    <tr><th>Insert this element...</th><th>After this element</th><th></th></tr>

    <tr ng-repeat="order in selectedModel.ordering">
      <td>
        {{getElementEd(order.toMove).title}} <div><em>({{order.toMove}})</em></div>
      </td>
      <td>
        {{getElementEd(order.insertAfter).title}} <div><em>({{order.insertAfter}})</em></div>

      </td>
      <td width="15%">

        <span class="fixed-width">
            <i  ng-show="$index > 0" class="glyphicon glyphicon-arrow-up clickable"
               ng-click="moveUp($index)"></i>
        </span>

        <span  class="fixed-width" >
            <i ng-show="$index < selectedModel.ordering.length -1" class="glyphicon glyphicon-arrow-down clickable"
               ng-click="moveDn($index)"></i>
        </span>

        <i class="glyphicon glyphicon-remove  clickable fixed-width"
           ng-click="removeInsertAfter($index)"></i>

      </td>
    </tr>


    <tr>
      <td>
        <select class="form-control" ng-model="local.toMove"
                ng-options="path for path in allPaths"></select>
      </td>
      <td>
        <select class="form-control" ng-model="local.insertAfter"
                ng-options="path for path in allPaths"></select>

      </td>
      <td>
        <i class="glyphicon glyphicon-plus-sign  clickable"
           ng-show="local.toMove && local.insertAfter"
           ng-click="addInsertAfter(local.toMove,local.insertAfter)"></i>

        </td>
    </tr>
  </table>

  <div ng-show="dgReferencesOrdering.length > 0">
    <h5>Referenced DG ordering (direct references only)</h5>
    <table class="table table-bordered">
      <tr><th>Path</th><th>Insert this element...</th><th>After this element</th><th></th></tr>
      <tr ng-repeat="ord in dgReferencesOrdering">
        <td>{{ord.path}}</td>
        <td>{{ord.toMove}}</td>
        <td>{{ord.insertAfter}}</td>
        <td><div class="clickable" ng-click="addToDG(ord,$index)">Add</div> </td>
      </tr>
    </table>


  </div>


</div>