<div>


  <uib-tabset>
    <uib-tab heading="Profile">

      <div class="row">
        <div class="col-md-9">
          <textarea id="dgFshFile" class="form-control" cols = "20" ng-model="input.dgFsh.fsh"></textarea>
        </div>
        <div class="col-md-3">
          <div ng-show="fhirResourceType">
            Resource Type: {{fhirResourceType}}
            <div>
              <button class="btn btn-link" ng-click="generateFsh()">Generate FSH from model</button>
            </div>
          </div>

          <div ng-hide="fhirResourceType">
            <div class="alert alert-warning">There is no base FHIR resource type on the DG or any
              of its parents. This means that the automated FSH generation won't work. Edit the DG
              (or any of its parents) to set the resource type.</div>
          </div>

          <button class="btn-link btn" ng-click="refresh()">Refresh from server</button>
          <button class="btn-link btn"
                  ng-show="isDirty"
                  ng-click="updateFsh(selectedModel.name,input.dgFsh.fsh)">Update to server</button>

        </div>
      </div>

    </uib-tab>


    <uib-tab ng-show="logEd" heading="Generation log">
      <table class="table table-bordered">
        <tr ng-repeat="log in logEd">
          <td><div class="clickable" ng-click="editDGItem({ed:log.ed})">{{log.ed.title}}</div> </td>
          <td>{{log.reason}}</td>
          <td>
            <div ng-repeat="lne in log.content track by $index">
              {{lne}}
            </div>
        </tr>

      </table>
    </uib-tab>

    <uib-tab heading="Logical Model">
      The FHIR shorthand that represents this DataGroup as a FHIR Logical Model.
      <span class="pull-right">
       <i class="glyphicon glyphicon-paperclip pull-right clickable"
          ng-click="copyFshToClipboard(dgFshLM)"></i>
      </span>
      <br/>
      <pre>{{dgFshLM}}</pre>
    </uib-tab>

  </uib-tabset>







</div>