<div>

    <uib-tabset>
        <uib-tab heading="Profile">
            <div class="row">
                <div class="col-md-6">
                    <textarea class="form-control" rows="20" ng-model="input.fsh"></textarea>
                </div>
                <div class="col-md-6">
                    <button class="btn-link btn" ng-click="runSushi()">Run sushi</button>
                    <div ng-show="executingSushi">
                        <br/>
                        Running the Sushi transformer to produce a StructureDefinition from the FSH. Please be patient -
                        this can take a few seconds...
                    </div>

                    <div ng-show="sushi">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>Errors <span class="badge">{{sushi.errors.length}}</span> </uib-tab-heading>
                            <table class="table-bordered table table-condensed">
                                <tr ng-repeat="err in sushi.errors">
                                    <td>{{err.message}}</td>
                                    <td>{{err.location.startLine}}</td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>Warnings <span class="badge">{{sushi.warnings.length}}</span> </uib-tab-heading>
                            <table class="table-bordered table table-condensed">
                                <tr ng-repeat="warn in sushi.warnings">
                                    <td>{{warn.message}}</td>
                                    <td>{{warn.location.startLine}}</td>
                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab heading="StructureDefinition">
                            <pre>{{sushi.fhir | json}}</pre>
                        </uib-tab>
                    </uib-tabset>
                    </div>
                </div>
            </div>


          <br/>



        </uib-tab>
        <uib-tab heading="Comp. Json">
            <pre>{{selectedComposition | json}}</pre>
        </uib-tab>
        <uib-tab heading="Logical Model">
            <span class="pull-right">
                <i class="glyphicon glyphicon-paperclip pull-right clickable"
              ng-click="copyFshToClipboard(compFsh)"></i>
            </span>

            The FHIR shorthand that represents the composition as a FHIR Logical Model
            <br/>
            <pre>{{compFsh}}</pre>
        </uib-tab>
    </uib-tabset>


</div>