<div ng-controller="QbuilderCtrl">



  <button class="btn btn-link" ng-click="setupQ()">Setup</button>

  <div class="row">
    <div class="col-md-4">
      <div id="QcompositionTree"></div>
    </div>
    <div class="col-md-8">



      <pre>{{selectedQNode.data.ed | json}}</pre>

      <button ng-show="selectedQNode" class="btn-danger btn" ng-click = "deleteNode()">Delete</button>

      <button class="btn btn-link" ng-click="addControl('id1','text','demo box')">Add</button>

      <div id="Qform"></div>
    </div>
  </div>




</div>