<div ng-controller="modelCompositionCtrl">

  <style>

    #slice {
      color: #ebcccc;
    }

    #section {
      background-color: #00ff26;
    }

  </style>

  <uib-tabset active="input.compTabActive" ng-show="selectedModel">




    <uib-tab heading="Tree">

      <div class="row">
        <div class="col-md-5">
          <em style="padding-top: 8px" class="pull-right clickable" ng-click="expandCompTree()">Expand all</em>
          <br/>
          <div class="myScroll">
            <div id="compositionTree"></div>
          </div>

        </div>
        <div class="col-md-7">


          <uib-tabset>

            <uib-tab heading = "Details">



              <div ng-show="selectedCompositionNode">



              <div class="row">
                <div class="col-md-3">
                  Path
                </div>
                <div class="col-md-9">
                  {{selectedCompositionNode.data.ed.path}}
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  Kind
                </div>
                <div class="col-md-9">
                  {{selectedCompositionNode.data.ed.kind}}
                </div>
              </div>

              <div ng-hide = "selectedCompositionNode.data.ed.kind == 'section' || selectedCompositionNode.data.ed.kind == 'root'">

                <div class="row">
                  <div class="col-md-3">
                    Title
                  </div>
                  <div class="col-md-9">
                    {{selectedCompositionNode.data.ed.title}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    Description
                  </div>
                  <div class="col-md-9">
                    {{selectedCompositionNode.data.ed.description}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    Type
                  </div>
                  <div class="col-md-9">
                    <div ng-repeat="type in selectedCompositionNode.data.ed.type">
                      <div ng-show="fhirDataTypes.indexOf(type) > -1" class="pull-right">
                        <a target = "_blank" ng-href="{{fhirRoot}}datatypes.html#{{type}}">Details in spec</a>
                      </div>
                      {{type}}
                    </div>





                  </div>
                </div>

                <div class="row"  ng-show="selectedCompositionNode.data.ed.type[0] == 'CodeableConcept'">
                  <div class="col-md-3">
                    ValueSet
                  </div>
                  <div class="col-md-9">
                    <div><em>{{selectedCompositionNode.data.ed.valueSet}}</em></div>
                    <div>
                      <button ng-show="selectedCompositionNode.data.ed.valueSet"
                            ng-click="viewVS(selectedCompositionNode.data.ed.valueSet)"
                            class="btn-link btn">View VS</button>

                      <button ng-show="selectedCompositionNode.data.ed.valueSet"
                              ng-click = "changeValueSet(selectedCompositionNode.data.ed)"
                              class="btn-link btn">Change VS</button>

                      <button ng-hide="selectedCompositionNode.data.ed.valueSet"
                              ng-click = "changeValueSet(selectedCompositionNode.data.ed)"
                              class="btn-link btn">Set VS</button>

                    </div>
                  </div>
                </div>

                <div class="row"  ng-show="selectedCompositionNode.data.ed.type[0] == 'CodeableConcept'">
                  <div class="col-md-3">
                    Options List
                  </div>
                  <div class="col-md-9">
                    <div ng-show="selectedCompositionNode.data.ed.options">
                      There are {{selectedCompositionNode.data.ed.options.length}} options defined
                    </div>

                    <div ng-hide="selectedCompositionNode.data.ed.options">
                      There are no options defined
                    </div>
                    <div><em>Options are used to build ValueSets</em></div>


                      <button
                              ng-click = "editOptionsList(selectedCompositionNode.data.ed)"
                              class="btn-link btn">View / Edit list</button>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    Cardinality
                  </div>
                  <div class="col-md-9">
                    <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->

                    <div ng-show = "selectedCompositionNode.data.host">{{selectedCompositionNode.data.host.mult}}</div>
                    <div ng-hide = "selectedCompositionNode.data.host">{{selectedCompositionNode.data.ed.mult}}</div>

                  </div>
                </div>

               <div class="row" ng-show="selectedCompositionNode.data.ed.slice">
                 <div class="col-md-3">
                   Slice Info
                 </div>
                 <div class="col-md-9">
                   {{selectedCompositionNode.data.ed.slice.name}}
                 </div>
               </div>
              </div>

              <div class="row" ng-show = "selectedCompositionNode.data.ed.zElement">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                  <em>This element has been added directly (a 'Z' element)</em>
                  
                </div>
              </div>


            <!-- If the root is selected, we can add a new section-->
            <div ng-show="selectedCompositionNode.id.indexOf('.') == -1">
              <br/>
              <strong>Add section</strong>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="Title" class="form-control" ng-model="input.newSectionTitle"/>



                </div>
                <div class="col-md-4">
                  <button class="btn-link btn"
                          ng-show="input.newSectionTitle"
                          ng-click="addSection(selectedModel,input.newSectionTitle)">Add new section</button>
                </div>
              </div>
            </div>

            <div ng-hide ="selectedCompositionNode.data.ed.mult == '0..0'  ||
              selectedCompositionNode.data.ed.zElement || selectedCompositionNode.data.ed.kind == 'root'">
              <button class="btn-link btn pull-right"
                      ng-click="removeElement(selectedCompositionNode.data.ed)">Remove this element</button>
            </div>


              <div ng-show ="selectedCompositionNode.data.ed.kind == 'dg' || selectedCompositionNode.data.ed.kind == 'section'">
                <button class="btn-link btn pull-right"
                        ng-click="addZElement(selectedCompositionNode.data.ed)">Add Z element</button>
              </div>



               <div ng-show="selectedCompositionNode.data.ed.kind == 'section'">
                 <br/><br/>
                 <strong>Add new DG to section</strong>

               <div class="row">
                 <div class="col-md-4">
<!--
                   <input type="text" ng-model="input.newCompType"
                          placeholder="DG name"
                          uib-typeahead="item.name for item in arDG | filter:$viewValue | limitTo:8" class="form-control">

-->
                   <select class="form-control" ng-model="input.newCompType"
                           ng-options = "k for (k,v) in world.dataGroups">
                   </select>

                   <br/>

                   <div>
                     <input placeholder ="path (no spaces)" type="text" class="form-control"
                            ng-model="input.newCompName"/>
                   </div>

                   <div>
                     <input placeholder ="Title (in tree)" type="text" class="form-control"
                            ng-model="input.newCompTitle"/>
                   </div>
                   <button ng-show = "input.newCompType" class="btn btn-link"
                           ng-click="addDGtoSection(
                            selectedCompositionNode.data.ed,
                             input.newCompType,
                             input.newCompName,
                             input.newCompTitle)">Add DG</button>


                 </div>

                 <div class="col-md-8">
                   <table class="table-bordered table">
                     <tr ng-repeat="ed in input.newCompType.diff">
                       <td>{{ed.title}}</td>
                       <td>{{ed.type[0]}}</td>
                       <td>{{ed.mult}}</td>
                       <td>{{ed.description}}</td>
                     </tr>
                   </table>

                 </div>
               </div>


            </div>


              </div>



            </uib-tab>




            <uib-tab heading = "Json">
              <pre>{{selectedCompositionNode.data | json}}</pre>
            </uib-tab>
          </uib-tabset>

        </div>
      </div>
    </uib-tab>

    <uib-tab heading="Table">
      <div class="tableFixHead">
      <table class="table table-bordered">
        <thead>
        <tr><th>Path</th><th>Title</th><th>Kind</th><th>Description</th><th>Type</th><th>Slice</th><th>Card.</th></tr>
        </thead>
        <tbody>
        <tr
                ng-style="{ 'background-color': getRowColour(item.ed) }"
                ng-repeat="item in allCompElements track by $index">
          <td>
            <div ng-style="{ 'padding-left': (item.ed.path | pathindent) }">
              {{item.ed.path | lastInPath}}
            </div>

            </td>
          <td>{{item.ed.title}}</td>
          <td>{{item.ed.kind}}</td>
          <td>{{item.ed.description}}</td>
          <td>{{item.ed.type[0]}}</td>
          <td>
            <div ng-show = "ed.slice">
              {{item.ed.slice.path}}
              <div><em>code={{ed.slice.code}}</em></div>
            </div>
          </td>
          <td>


            <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->

            <div ng-show = "item.host">{{item.host.mult}}</div>
            <div ng-hide = "item.host">{{item.ed.mult}}</div>

          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </uib-tab>

    <uib-tab>
      <uib-tab-heading>
        Overrides <span class="badge">{{getOverridesCount()}}</span>
      </uib-tab-heading>

      <table class="table table-bordered">
        <tr><th>Path</th><th>Title</th><th>ValueSet</th><th>Card.</th><th>Z</th><th></th></tr>
        <tr ng-repeat="ed in selectedModel.override track by $index">
          <td>

            <div class="clickable" ng-click="selectCompTreePath(ed.path)">{{ed.path}}</div>
          </td>
          <td>{{ed.title}}</td>
          <td>{{ed.valueSet}}</td>
          <td>{{ed.mult}}</td>
          <td>{{ed.zElement}}</td>
          <td><button class="btn-link btn" ng-click="revertOverride(ed.path)">Revert</button> </td>
        </tr>
      </table>
    </uib-tab>

    <uib-tab heading = "MetaData">

      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>Name</td>
              <td>{{selectedModel.name}}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td><input type="text" class="form-control" ng-model="selectedModel.title" />  </td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea class="form-control" ng-model="selectedModel.description" ></textarea> </td>
            </tr>
            <tr>
              <td>Category</td>
              <td><input type="text" class="form-control"
                         ng-blur="updateMetaValues()"
                         ng-model="selectedModel.meta.category" />  </td>
            </tr>

          </table>
        </div>
        <div class="col-md-6">
          <table class="table">

            <tr>
              <td>Tumour stream</td>
              <td><input type="text" class="form-control"
                         ng-blur="updateMetaValues()"
                         ng-model="selectedModel.meta.tumourStream" /> </td>
            </tr>

            <tr>
              <td>Tags</td>
              <td>
                <div ng-repeat="tag in selectedModel.meta.tags">
                  {{tag}}
                </div>
              </td>
            </tr>


          </table>
        </div>
      </div>





    </uib-tab>

    <uib-tab heading="Questionnaire">

      <ng-include src="'/includes/Qbuilder.html'"></ng-include>




    </uib-tab>

    <uib-tab heading="allCompElements">
      <pre>{{hashCompElements | json}}</pre>
    </uib-tab>

    <uib-tab heading="Profile FSH">
      The FHIR shorthand that represents the profiles
    </uib-tab>

    <uib-tab heading = "Json">
      <pre>{{selectedModel | json}}</pre>
    </uib-tab>
  </uib-tabset>

</div>