<div ng-controller="modelCompositionCtrl">

  <style>

    #slice {
      color: #ebcccc;
    }

    #section {
      background-color: #00ff26;
    }

  </style>

  <div ng-show="selectedComposition">

  <div class="modelInfo row">
    <div class="col-md-7">

        <strong>{{selectedComposition.title}} </strong> ({{selectedComposition.name}})
        <div><em>{{selectedComposition.description}}</em></div>
        <div>
          <div ng-show="selectedComposition.sourceReference">
            <strong>Source reference</strong>: {{selectedComposition.sourceReference}}
          </div>
        </div>
        <br/>
        <div>
          <button class="btn btn-link"
                  ng-hide = "selectedComposition.checkedOut == user.email"
                  ng-click="deleteComposition(selectedComposition)">Remove from local store.</button>
        </div>
      <div>
        <button class="btn btn-link"
                ng-show = "user.email"
                ng-click="cloneComp(selectedComposition)">Make a copy of this Composition</button>
      </div>

      <div>

      </div>

    </div>
    <div class="col-md-5">


      <div class="pull-right">
        <div ng-show="user.email">

          <button class="btn btn-success"
                  ng-hide="selectedComposition.checkedOut" class="clickable" ng-click="checkOut()">Check out</button>

          <button class="btn btn-danger"
                  ng-show="selectedComposition.checkedOut && selectedComposition.checkedOut == user.email"
                  ng-click="revert()">Revert</button>

          <button class="btn btn-warning"
                  ng-show="selectedComposition.checkedOut && selectedComposition.checkedOut == user.email"
                  ng-click="checkIn()">Check in</button>

          <div ng-show = "selectedComposition.checkedOut && selectedComposition.checkedOut !== user.email">
            <strong>Checked out to {{selectedComposition.checkedOut}}</strong>
          </div>
        </div>
      </div>



      <table class="table-condensed table table-bordered">
        <!--
       <tr><td>ValueSet in Q</td>
         <td> <checkbox  ng-model="input.includeVS"></checkbox> Include VS as answerOption</td></tr>
-->

       <tr><td>Tumour stream</td><td>{{selectedComposition.meta.tumourStream}}</td></tr>
       <tr><td>Category</td><td>{{selectedComposition.meta.category}}</td></tr>

        <tr><td></td><td><em>Set these in the Metadata tab</em></td></tr>
      </table>
    </div>


  </div>

  <div ng-show="false" class = "clickable pull-right">

    <button class="btn-link btn pull-right" ng-click="libraryInteraction(selectedComposition)">Compare to library</button>
  </div>

  <uib-tabset active="input.compTabActive" >

    <uib-tab  heading="Tree">

      <div class="row">
        <div class="col-md-5">
          <em style="padding-top: 8px" class="pull-right clickable" ng-click="expandCompTree()">Expand all</em>
          <br/>
          <div class="myScroll">
            <div id="compositionTree"></div>

            <br/>
            <div><em>Legend:</em></div>
            <div><strong style="margin-left: 8px">Bold</strong> elements are required</div>
            <div><span style="color: blue; margin-left: 8px">Blue</span>  elements have a fixed value</div>
            <div style=" margin-left: 8px">A trailing <strong>*</strong> indicates multiples are supported.</div>

            <div style=" margin-left: 8px"><span style="text-decoration: line-through">Strike-through</span> indicates the element does not appear in a Q</div>
            <div style=" margin-left: 8px">
            <span style="text-decoration-line: underline;text-decoration-style: dotted">
              Dotted underline</span> indicates the element is subject to conditional show in the Q</div>




          </div>

        </div>


        <div class="col-md-7">




          <button class="btn-link btn pull-right"
                  ng-show = "canEditComp(selectedComposition) && selectedCompositionNode.data.ed.kind == 'element'"
                  ng-click="editOverride(selectedCompositionNode.data.ed)">Edit </button>

          <uib-tabset>

            <uib-tab heading = "Details">
              <div ng-show="selectedCompositionNode">

                <table class="table table-bordered">
                  <tr>
                    <td class="detailName" style="width: 20%">
                      Path
                    </td>
                    <td> {{selectedCompositionNode.data.ed.path | dropFirstInPath}}</td>
                  </tr>

                  <tr>
                    <td class="detailName">
                      Kind
                    </td>
                    <td>
                      {{selectedCompositionNode.data.ed.kind}}
                    </td>
                  </tr>
                  <tr ng-show = "selectedCompositionNode.data.ed.kind == 'element'">
                    <td class="detailName">
                      Appears in Q
                    </td>
                    <td>
                      <div ng-show = "selectedCompositionNode.data.ed.hideInQ">
                        No
                      </div>
                      <div ng-hide = "selectedCompositionNode.data.ed.hideInQ">
                        Yes
                      </div>
                    </td>
                  </tr>
                  <tr ng-show="selectedCompositionNode.data.ed.parent">
                    <td class="detailName">
                      Parent
                    </td>
                    <td>
                      {{selectedCompositionNode.data.ed.parent}}
                    </td>
                  </tr>
                  <tr ng-hide = "selectedCompositionNode.data.ed.kind == 'section' || selectedCompositionNode.data.ed.kind == 'root'">
                    <td class="detailName">Type</td>
                    <td>
                      <div>
                        <span class="clickable" ng-click="termSelectDG({DGName:selectedCompositionNode.data.ed.name})">{{selectedCompositionNode.data.ed.name}}</span>
                        {{selectedCompositionNode.data.ed.type[0]}}
                      </div>

                    </td>
                  </tr>
                  <tr>
                    <td class="detailName">Title</td>
                    <td>
                      {{selectedCompositionNode.data.ed.title}}
                    </td>
                  </tr>
                  <tr ng-hide="selectedCompositionNode.data.ed.kind == 'root'">
                    <td class="detailName" > Description</td>
                    <td>  {{selectedCompositionNode.data.ed.description}}</td>
                  </tr>
                  <tr ng-show="selectedCompositionNode.data.ed.type[0] == 'CodeableConcept'">
                    <td class="detailName">ValueSet</td>
                    <td>
                      <span><em>{{selectedCompositionNode.data.ed.valueSet}}</em></span>
                      <span class="pull-right">
                        <button ng-show="selectedCompositionNode.data.ed.valueSet"
                                ng-click="viewVS(selectedCompositionNode.data.ed.valueSet)"
                                class="btn-link btn">View VS</button>

                      </span>
                    </td>
                  </tr>


                  <tr  ng-show = "selectedCompositionNode.data.ed.type[0] =='Quantity'">
                    <td class="detailName">Units</td>
                    <td>
                       <span ng-repeat="unit in selectedCompositionNode.data.ed.units">
                        {{unit}}&nbsp;
                      </span>
                    </td>
                  </tr>


                  <tr  ng-show = "selectedCompositionNode.data.ed.kind == 'element'">
                    <td class="detailName">Fixed value</td>
                    <td>
                      <div ng-show="selectedCompositionNode.data.ed.fixedRatio">
                        <div ng-show="selectedCompositionNode.data.ed.fixedRatio.numerator.unit">Numerator unit: {{selectedCompositionNode.data.ed.fixedRatio.numerator.unit}}</div>
                        <div ng-show="selectedCompositionNode.data.ed.fixedRatio.denominator.unit">Denominator unit: {{selectedCompositionNode.data.ed.fixedRatio.denominator.unit}}</div>
                        <div ng-show="selectedCompositionNode.data.ed.fixedRatio.denominator.value">Denominator value: {{selectedCompositionNode.data.ed.fixedRatio.denominator.value}}</div>
                      </div>

                      <div ng-show="selectedCompositionNode.data.ed.fixedQuantity">
                        Unit: {{selectedCompositionNode.data.ed.fixedQuantity.unit}}
                      </div>

                      <div ng-show="selectedCompositionNode.data.ed.fixedCoding">
                        {{selectedCompositionNode.data.ed.fixedCoding.code}} | {{selectedCompositionNode.data.ed.fixedCoding.display}} | {{selectedCompositionNode.data.ed.fixedCoding.system}}
                      </div>
                    </td>
                  </tr>
                  <tr ng-show = "selectedCompositionNode.data.ed.kind == 'element'">
                    <td class="detailName">Default value</td>
                    <td>
                      <div ng-show="selectedCompositionNode.data.ed.defaultRatio">
                        <div ng-show="selectedCompositionNode.data.ed.defaultRatio.numerator.unit">Numerator unit: {{selectedCompositionNode.data.ed.defaultRatio.numerator.unit}}</div>
                        <div ng-show="selectedCompositionNode.data.ed.defaultRatio.denominator.unit">Denominator unit: {{selectedCompositionNode.data.ed.defaultRatio.denominator.unit}}</div>
                        <div ng-show="selectedCompositionNode.data.ed.defaultRatio.denominator.value">Denominator value: {{selectedCompositionNode.data.ed.defaultRatio.denominator.value}}</div>
                      </div>

                      <div ng-show="selectedCompositionNode.data.ed.defaultQuantity">
                        Unit: {{selectedCompositionNode.data.ed.defaultQuantity.unit}}
                      </div>

                      <div ng-show="selectedCompositionNode.data.ed.defaultCoding">
                        {{selectedCompositionNode.data.ed.defaultCoding.code}} | {{selectedCompositionNode.data.ed.defaultCoding.display}} | {{selectedCompositionNode.data.ed.defaultCoding.system}}
                      </div>
                    </td>
                  </tr>
                  <tr ng-show="selectedCompositionNode.data.ed.type[0] == 'CodeableConcept'">
                    <td class="detailName">Options list</td>
                    <td>
                      <div ng-show="selectedCompositionNode.data.ed.options">
                        <span class="clickable pull-right"
                              ng-click = "editOptionsList(selectedCompositionNode.data.ed,true)">
                          View list
                        </span>
                        There are {{selectedCompositionNode.data.ed.options.length}} options defined
                      </div>

                      <div ng-hide="selectedCompositionNode.data.ed.options">
                        There are no options defined
                      </div>


                    </td>
                  </tr>


                  <tr ng-hide = "selectedCompositionNode.data.ed.kind == 'root'">
                    <td class="detailName">Cardinality</td>
                    <td>
                      <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->

                      <div ng-show = "selectedCompositionNode.data.host">{{selectedCompositionNode.data.host.mult}}</div>
                      <div ng-hide = "selectedCompositionNode.data.host">{{selectedCompositionNode.data.ed.mult}}</div>
                    </td>
                  </tr>
                  <tr ng-hide = "selectedCompositionNode.data.ed.kind == 'root'">
                    <td class="detailName">Conditional show</td>
                    <td>
                      <div ng-repeat="ew in selectedCompositionNode.data.ed.enableWhen">
                        Shown when {{ew.source}} = {{ew.value}}
                      </div>
                    </td>
                  </tr>
                  <tr ng-show = "selectedCompositionNode.data.ed.kind == 'element'">
                    <td class="detailName">Control type</td>
                    <td>{{selectedCompositionNode.data.ed.controlType}}</td>
                  </tr>
                  <tr ng-show = "selectedCompositionNode.data.ed.kind == 'element'">
                    <td class="detailName">Control hint</td>
                    <td> {{selectedCompositionNode.data.ed.controlHint}}</td>
                  </tr>

                  <tr ng-hide = "selectedCompositionNode.data.ed.kind == 'section' || selectedCompositionNode.data.ed.kind == 'root'">
                    <td class="detailName">Notes</td>
                    <td> {{selectedCompositionNode.data.ed.notes}}</td>
                  </tr>

                  <tr ng-hide = "selectedCompositionNode.data.ed.kind == 'section' || selectedCompositionNode.data.ed.kind == 'root'">
                    <td class="detailName">Rules</td>
                    <td> {{selectedCompositionNode.data.ed.rules}}</td>
                  </tr>

                  <tr ng-show = "selectedCompositionNode.data.ed.zElement">
                    <td></td>
                    <td><em>This element has been added directly (a 'Z' element)</em></td>
                  </tr>

                </table>


                <div ng-show = "canEditComp(selectedComposition)">

            <!-- If the root is selected, we can add a new section-->
                  <!--
            <div ng-show="selectedCompositionNode.id.indexOf('.') == -1">
              <br/>
              <strong>Add section</strong>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="Title" class="form-control" ng-model="input.newSectionTitle"/>



                </div>
                <div class="col-md-4">
                  <button class="btn-link btn"
                          ng-show="input.newSectionTitle"
                          ng-click="addSection(selectedComposition,input.newSectionTitle)">Add new section</button>
                </div>
              </div>
            </div>

                  -->


            <div ng-hide ="selectedCompositionNode.data.ed.mult == '0..0'  ||
              selectedCompositionNode.data.ed.zElement || selectedCompositionNode.data.ed.kind == 'root'">

              <button class="btn-link btn pull-right"
                ng-hide = "selectedCompositionNode.data.ed.kind == 'section'"
                      ng-click="removeElement(selectedCompositionNode.data.ed)">Hide this element</button>

              <button class="btn-link btn pull-right"
                      ng-show = "selectedCompositionNode.data.ed.kind == 'element'"
                      ng-click="editOverride(selectedCompositionNode.data.ed)">Edit </button>

            </div>

            <div ng-show="selectedCompositionNode.data.ed.zElement">
              <button ng-click="removeZElement(selectedCompositionNode.data.ed)" class="btn btn-link pull-right">Remove this element</button>
            </div>

              <div ng-show ="selectedCompositionNode.data.ed.kind == 'dg' || selectedCompositionNode.data.ed.kind == 'section'">
                <button class="btn-link btn pull-right"
                        ng-click="addZElement(selectedCompositionNode.data.ed)">Add Z element</button>
              </div>


                  <!--
               <div ng-show="selectedCompositionNode.data.ed.kind == 'section'">
                 <br/><br/>
                 <strong>Add new DG to section</strong>

               <div class="row">
                 <div class="col-md-4">


                   <div class="clickable" ng-click="selectDGForSection()">Select DG</div>
                   <div>Type: {{input.newCompType.name}}</div>

                   <br/>

                   <div>
                     <input placeholder ="path (no spaces)" type="text" class="form-control"
                            ng-model="input.newCompName"/>
                   </div>

                   <div>
                     <input placeholder ="Title (in tree)" type="text" class="form-control"
                            ng-model="input.newCompTitle"/>
                   </div>
                   <button ng-show = "input.newCompType" class="btn btn-link"
                           ng-click="addDGtoSection(
                            selectedCompositionNode.data.ed,
                             input.newCompType,
                             input.newCompName,
                             input.newCompTitle)">Add DG</button>


                 </div>

                 <div class="col-md-8">
                   <table class="table-bordered table">
                     <tr ng-repeat="ed in input.newCompType.diff">
                       <td>{{ed.title}}</td>
                       <td>{{ed.type[0]}}</td>
                       <td>{{ed.mult}}</td>
                       <td>{{ed.description}}</td>
                     </tr>
                   </table>

                 </div>
               </div>
            </div>

                  -->

            </div>

              </div>

            </uib-tab>




            <uib-tab heading = "Json">
              <pre>{{selectedCompositionNode.data | json}}</pre>
            </uib-tab>

            <uib-tab heading="Full form processing Log">
              <div class="row">
                <div class="col-md-8">
                  <div class="myScroll">
                    <table class="table">
                      <tr ng-class="{listItemSelected:row==logEntry}" ng-repeat="row in Qlog">
                        <td>{{$index}}</td>
                        <td ng-click="showLogEntry(row)">{{row.msg}}</td>
                      </tr>
                    </table>
                  </div>


                </div>
                <div class="col-md-4">
                  <div class="myScroll">
                    <pre>{{logEntry | json}}</pre>
                  </div>
                </div>
              </div>

            </uib-tab>

          </uib-tabset>

        </div>
      </div>


    </uib-tab>

    <uib-tab heading = "MetaData">

      <!-- Category – with drop down options ‘histopathology request’ and ‘histopathology report’

Stream – free text

organ – free text

Procedure – with drop down options ‘small diagnostic sample’ and ‘resection’

  -->

      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>Name</td>
              <td>{{selectedComposition.name}}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td><input ng-disabled = "! canEditComp(selectedComposition)"
                         type="text" class="form-control" ng-model="selectedComposition.title" />  </td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea ng-disabled = "! canEditComp(selectedComposition)"
                            class="form-control" ng-model="selectedComposition.description" ></textarea> </td>
            </tr>
            <tr>
              <td>Category</td>
              <td>
                <select ng-disabled = "! canEditComp(selectedComposition)"
                        type="text" class="form-control"
                        ng-blur="updateMetaValues()"
                        ng-options = "cat for cat in input.metaCategories"
                        ng-model="selectedComposition.meta.category" ></select>
                <!--
                <input ng-disabled = "! canEditComp(selectedComposition)"
                         type="text" class="form-control"
                         ng-blur="updateMetaValues()"
                         ng-model="selectedComposition.meta.category" />
                -->

              </td>
            </tr>

          </table>
        </div>
        <div class="col-md-6">
          <table class="table">

            <tr>
              <td>Tumour stream</td>
              <td><input ng-disabled = "! canEditComp(selectedComposition)"
                         type="text" class="form-control"
                         ng-blur="updateMetaValues()"
                         ng-model="selectedComposition.meta.tumourStream" /> </td>
            </tr>

            <tr>
              <td>Organ</td>
              <td><input ng-disabled = "! canEditComp(selectedComposition)"
                         type="text" class="form-control"
                         ng-blur="updateMetaValues()"
                         ng-model="selectedComposition.meta.organ" /> </td>
            </tr>

            <tr>
              <td>Procedure</td>
              <td>

                <select ng-disabled = "! canEditComp(selectedComposition)"
                         type="text" class="form-control"
                         ng-blur="updateMetaValues()"
                        ng-options = "proc for proc in input.metaProcedures"
                        ng-model="selectedComposition.meta.procedure" ></select>

              </td>
            </tr>


            <tr>
              <td>Tags</td>
              <td>
                <div ng-repeat="tag in selectedComposition.meta.tags">
                  {{tag}}
                </div>
              </td>
            </tr>

            <tr>
              <td>Source reference</td>

              <td><input ng-disabled = "! canEditComp(selectedComposition)"
                         type="text" class="form-control" ng-model="selectedComposition.sourceReference" />  </td>

            </tr>


          </table>
        </div>
      </div>





    </uib-tab>


    <uib-tab ng-show="canEditComp(selectedComposition)" heading = "Headings">
      <br/>
      <div ng-controller="compSectionsCtrl">
        <ng-include src ="'includes/compSections.html'"></ng-include>

      </div>
    </uib-tab>



    <uib-tab heading="Table">

      <div class="row">
        <em>This will become the HISO download</em>

        <a class="btn btn-link pull-right" download="{{downloadLinkCompTsvName}}"
           href="{{downloadLinkCompTsv}}" title="{{downloadLinkCompTsvName}}" >
          Download
        </a>


      </div>

      <div class="tableFixHead">
        <table class="table table-bordered">
          <thead>
          <tr><th>Path</th><th>Title</th><th>Kind</th><th>Description</th><th>Type</th><th>Card.</th></tr>
          </thead>
          <tbody>
          <tr
                  ng-style="{ 'background-color': getRowColour(item.ed) }"
                  ng-repeat="item in allCompElements track by $index">
            <td>
              <div ng-style="{ 'padding-left': (item.ed.path | pathindent) }">
                {{item.ed.path | lastInPath}}
              </div>

            </td>
            <td>{{item.ed.title}}</td>
            <td>{{item.ed.kind}}</td>
            <td>{{item.ed.description}}</td>
            <td>{{item.ed.type[0]}}</td>

            <td>


              <!-- If this is a section, then the cardinality is in the sectionItem element. Otherwise, the ed-->

              <div ng-show = "item.host">{{item.host.mult}}</div>
              <div ng-hide = "item.host">{{item.ed.mult}}</div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>





    <uib-tab>
      <uib-tab-heading>Section conditionals <span class="badge">{{selectedComposition.enableWhen.length}}</span> </uib-tab-heading>
      <br/>
      <div ng-show="selectedComposition.enableWhen.length > 0">
        <strong>Section level Conditionals present in the Composition</strong>
        <br/> <br/>
        <table class="table-bordered table">
          <tr><th>Target Section (hide)</th><th>Source Section</th><th>DataGroup</th><th>Element</th><th>Value</th></tr>
          <tr ng-repeat="ew in selectedComposition.enableWhen">
            <td>{{ew.targetSection}}</td>
            <td>{{ew.sourceSection}}</td>
            <td>{{ew.dg}}</td>
            <td>{{ew.ed}}</td>
            <td>{{ew.value}}</td>
            <td><i class="glyphicon glyphicon-remove pull-right clickable"
                   ng-click="deleteSectionConditional($index)"></i></td>
          </tr>
        </table>
        <em>Each row represents a source condition that must be true for the section to appear
          in a Form. There can be multiple - if any match then the section is shown.</em>
      </div>


      <br/>
      <p>Section level Conditionals are set in the 'Sections' tab</p>
      <!--
      <strong>DataGroup Conditionals present in the Composition</strong>
      <br/>
      <em>todo: enableWhen from all DG's in the comp</em>



      <table class="table table-bordered">
        <tr ng-repeat = "vo in allCompElements" ng-show="vo.ed.enableWhen">
          <td>{{vo.ed.path}}</td>
          <td>
            <div ng-repeat="ew in vo.ed.enableWhen">
              <div class="row">
                <div class="col-md-4">
                  <div>Source section: {{ew.sourceSection}}</div>
                  <div>Target section: {{ew.targetSection}}</div>
                </div>
                <div class="col-md-8">
                  <div>Path: {{ew.ed}}</div>
                  <div>Value: {{ew.value}}</div>
                </div>
              </div>



            </div>
          </td>
        </tr>
      </table>
       <pre>{{allCompElements | json}}</pre>

-->




    </uib-tab>

    <uib-tab heading="Form">
      <!--
      <div class="row">
        <div class="col-md-12">
          <checkbox ng-model="test"></checkbox>
        </div>
      </div>
      -->

      <button class="btn-link btn pull-right" ng-click="previewQ(fullQ)">Examine Q</button>


<!--
      <button class="btn-link btn pull-right" ng-click="qGenerationOptions()">edit</button>
-->
      <span style="padding-top: 8px" class="pull-right">
        <span class="clickable" ng-click="qGenerationOptions()">Q generation: </span>
        <span ng-show="qStrategy.expandVS">expand VS</span>
        <span ng-hide="qStrategy.expandVS">separate VS</span>

      </span>

      <uib-tabset>
        <uib-tab heading="Form">
          <renderform q="fullQ" qr="{}"></renderform>
        </uib-tab>
        <uib-tab heading="Log">
          <div class="row">
            <div class="col-md-8">
              <div class="myScroll">
                <table class="table">
                  <tr ng-repeat="row in Qlog">
                    <td>{{$index}}</td>
                    <td ng-click="showLogEntry(row)">{{row.msg}}</td>
                  </tr>
                </table>
              </div>


            </div>
            <div class="col-md-4">
              <div class="myScroll">
              <pre>{{logEntry | json}}</pre>
              </div>
            </div>
          </div>

        </uib-tab>
      </uib-tabset>






    </uib-tab>

    <uib-tab ng-show = "false" heading="Graph">
      Graph of all DG linked back to Composition
    </uib-tab>

    <uib-tab>
      <uib-tab-heading>
        Overrides <span class="badge">{{getOverridesCount()}}</span>
      </uib-tab-heading>

      <table class="table table-bordered">
        <tr><th>Path</th><th>Title</th><th>ValueSet</th><th>Card.</th><th>Z</th><th></th></tr>
        <tr ng-repeat="ed in selectedComposition.override track by $index">
          <td>

            <div class="clickable" ng-click="selectCompTreePath(ed.path)">{{ed.path}}</div>
          </td>
          <td>{{ed.title}}</td>
          <td>{{ed.valueSet}}</td>
          <td>{{ed.mult}}</td>
          <td>{{ed.zElement}}</td>
          <td><button class="btn-link btn" ng-click="revertOverride(ed.path)">Revert</button> </td>
        </tr>
      </table>
    </uib-tab>

    <uib-tab>
      <uib-tab-heading>
        Notes <span class="badge">{{getNotesCount()}}</span>
      </uib-tab-heading>

      <table class="table table-bordered">
        <tr><th>Path</th><th>Note</th></tr>
        <tr ng-repeat="item in allCompElements"
          ng-show="item.ed.notes">
          <td>
            <div class="clickable" ng-click="selectCompTreePath(item.ed.path)">{{item.ed.path}}</div>
          </td>
          <td>{{item.ed.notes}}</td>
        </tr>
      </table>
    </uib-tab>

    <uib-tab>
      <uib-tab-heading>
        Rules <span class="badge">{{getRulesCount()}}</span>
      </uib-tab-heading>

      <table class="table table-bordered">
        <tr><th>Rules</th><th>Note</th></tr>
        <tr ng-repeat="item in allCompElements"
            ng-show="item.ed.rules">
          <td style="width: 40%">
            <div class="clickable" ng-click="selectRuleTreePath(item.ed.path)">{{item.ed.path}}</div>
          </td>
          <td>{{item.ed.rules}}</td>
        </tr>
      </table>
    </uib-tab>


    <uib-tab heading="All DG">
      <br/>

      <table class="table table-bordered">
        <tr><th>DG name</th><th>Section name: path (title)</th></tr>
        <tr ng-repeat="item in lstUsedDG">
          <td>{{item.name}}</td>
          <td>
            <div ng-repeat="item in item.paths">
              {{item.path}} ({{item.title}})
            </div>


          </td>
        </tr>
      </table>



      <!--

      <table class="table table-bordered">
        <tr ng-repeat="(k,v) in allDGInComp">
          <td>{{k}}</td>
          <td>
            <div ng-repeat="item in v">
              {{item.title}}: {{item.path}}
            </div>

          </td>
        </tr>
      </table>
      -->
    </uib-tab>


    <uib-tab ng-show="false" heading="allCompElements">
      <pre>{{hashCompElements | json}}</pre>
    </uib-tab>

    <uib-tab heading=" FSH">
      <span class="pull-right">
           <i class="glyphicon glyphicon-paperclip pull-right clickable"
              ng-click="copyFshToClipboard(compFsh)"></i>
          </span>
      The FHIR shorthand that represents the composition as a FHIR Logical Model
      <br/>
      <pre>{{compFsh}}</pre>
    </uib-tab>

    <uib-tab heading = "Json">
      <pre>{{selectedComposition | json}}</pre>
    </uib-tab>
  </uib-tabset>


  </div>
</div>