<div ng-controller="modelDGCtrl">
  <br/>
  <div class="row">
    <div class="col-md-9">
      <strong>{{selectedModel.description}}</strong>
    </div>

    <div class="col-md-3">
      FHIR resource: <a target = "_blank" ng-href="{{fhirRoot}}{{selectedModel.fhirResource}}">{{selectedModel.fhirResource}}</a>
    </div>


  </div>
  <br/>


  <uib-tabset>



    <uib-tab heading="Tree">
      <em>The model as a tree. Expanded if the checkbox is selected</em>
      <div class="row">
        <div class="col-md-6">
          <div id="dgTree"></div>
        </div>
        <div class="col-md-6">

          <div ng-show="selectedNode.data.ed">

            <!--
         {{selectedModel}}
         <div ng-show="selectedModel.parent">
           Parent: {{selectedModel.parent}}
         </div>
         -->


            <uib-tabset>
              <uib-tab heading="Details">
                <table class="table table-bordered table-condensed">
                  <tr><td style="width : 20%">Path</td><td>{{selectedNode.data.ed.path}}</td></tr>
                  <tr><td>Type</td>
                    <td><div ng-repeat="type in selectedNode.data.ed.type">

                      <div ng-show="fhirDataTypes.indexOf(type) > -1" class="pull-right">
                        <a target = "_blank" ng-href="{{fhirRoot}}datatypes.html#{{type}}">Details in spec</a>
                      </div>

                      {{type}}&nbsp;




                    </div>
                    </td></tr>
                  <tr><td>Cardinality</td><td>{{selectedNode.data.ed.mult}}</td></tr>
                  <tr><td>Description</td><td>{{selectedNode.data.ed.description}}</td></tr>
                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td>ValueSet</td>
                    <td>
                      <div>{{selectedNode.data.ed.valueSet}}</div>
                      <div>
                        <span ng-show="selectedNode.data.ed.valueSet"
                          ng-click="viewVS(selectedNode.data.ed.valueSet)"
                              class="clickable">View VS</span>

                        <button ng-show="selectedNode.data.ed.valueSet"
                                ng-click = "changeDGValueSet(selectedNode.data.ed)"
                                class="btn-link btn">Change VS</button>

                        <button ng-hide="selectedNode.data.ed.valueSet"
                                ng-click = "changeDGValueSet(selectedNode.data.ed)"
                                class="btn-link btn">Set VS</button>

                      </div>
                    </td>


                  </tr>

                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td>Mappings</td>
                    <td>

                      <div ng-repeat="code in selectedNode.data.ed.code">
                        <div ng-repeat="target in conceptMap[code.code].targets">
                          <div>{{target.display}} (<span class="clickable" ng-click="viewVS()">{{target.code}}</span> )</div>
                          <table class="table table-bordered">
                            <tr ng-repeat="dep in target.dependsOn">
                              <td>{{dep.property}}</td>
                              <td>{{dep.display}}</td>
                              <td>{{dep.value}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>


<!--
                      <table class="table table-bordered">
                        <tr ng-repeat="target in conceptMap[selectedNode.data.ed.code].targets">
                          <td>{{target.code}}</td>
                          <td>{{target.display}}</td>
                          <td>
                            <div ng-repeat="dep in target.dependsOn">
                              {{dep.property}}
                            </div>
                          </td>
                        </tr>
                      </table>
                      <pre>{{conceptMap[selectedNode.data.ed.code] | json}}</pre>
                      -->
                    </td>

                  </tr>

                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td>Options</td>
                    <td>
                      <div ng-show="selectedNode.data.ed.options">
                        There are {{selectedNode.data.ed.options.length}} options defined
                      </div>

                      <div ng-hide="selectedNode.data.ed.options">
                        There are no options defined
                      </div>
                      <div><em>Options are used to build ValueSets</em></div>


                      <button
                              ng-click = "editDGOptionsList(selectedNode.data.ed)"
                              class="btn-link btn">View / Edit list</button>


                    </td>
                  </tr>

                  <tr ng-show="selectedNode.data.ed.fixedValue">
                    <td>Fixed value</td>
                    <td> {{selectedNode.data.ed.fixedValue}}</td>
                  </tr>


                </table>

                <!-- If the ValueSet depends on some other value in the DG-->
                <div ng-show="selectedNode.data.ed.dependVS">
                  ValueSet is dependent on other DG values (Details in Dependencies tab)
                  <!--
                  <br/>
                  <table class="table table-bordered">
                    <tr><th>Source</th><th>Value</th><th>Url</th></tr>
                    <tr ng-repeat="dep in selectedNode.data.ed.dependVS">
                      <td>{{dep.source}}</td>
                      <td>{{dep.value}}</td>
                      <td>{{dep.url}}</td>
                    </tr>
                  </table>
                  -->

                </div>

              </uib-tab>
              <uib-tab >

                <uib-tab-heading>VS Dependencies <span class="badge">{{selectedNode.data.ed.dependVS.length || 0}}</span> </uib-tab-heading>
                <br/>
                <table class="table table-bordered">
                  <tr><th>Source</th><th>Value</th><th>Url</th></tr>
                  <tr ng-repeat="dep in selectedNode.data.ed.dependVS">
                    <td>{{dep.source}}</td>
                    <td>{{dep.value}}</td>
                    <td>{{dep.url}}</td>
                  </tr>
                </table>
              </uib-tab>
              <uib-tab heading="Json">
                <pre ng-show="selectedNode">{{selectedNode.data.ed | json}}</pre>
              </uib-tab>
            </uib-tabset>




          </div>

          <br/>

<!--

          <div ng-show="selectedModel.kind == 'comp'">
            <div ng-show="selectedNode.data.ed.type.indexOf('CodeableConcept') > -1" >
              <button class="btn btn-link" ng-click="setValueSet(selectedNode.data.ed)">
                Set ValueSet
              </button>
            </div>

            <div ng-hide="!selectedNode || selectedNode.data.ed.mult.indexOf('0..0') > -1" >
              <button class="btn btn-link" ng-click="removeElement(selectedNode.data.ed)">
                Remove element
              </button>
            </div>

          </div>
          -->








        </div>
      </div>



    </uib-tab>


    <uib-tab heading="Table">


      <div ng-show = "selectedModel.parent">
        <strong class="pull-left">Specializes: {{selectedModel.parent}}</strong>
        <br/>
      </div>

      <br/>
      <div class="tableFixHead">
        <table class="table-bordered table">
          <thead>
          <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Code</th><th>Fixed value</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="element in fullElementList" ng-hide="$index==0 || element.mult.indexOf('..0') > -1">

            <td>
              <div  ng-style="{ 'padding-left': (element.ed.path | pathindent) }">



                <!-- {{element.path | dropFirstInPath}} -->
                <div ng-hide="input.showFullModel">
                  {{element.ed.path | dropFirstInPath}}
                </div>
                <div ng-show="input.showFullModel">
                  {{element.ed.path | lastInPath}}

                </div>



              </div>


            </td>
            <td>{{element.ed.title}}</td>
            <td>{{element.ed.description}}</td>
            <td>
              <div ng-repeat="type in element.ed.type">
                {{type}}
              </div>
              <div><em class="clickable" ng-click="viewVS(element.ed.valueSet)">{{element.ed.valueSet}}</em></div>
            </td>
            <td>{{element.ed.mult}}</td>
            <td>
              <div ng-repeat="code in element.ed.code">
                {{code.code}}
              </div>

            </td>
            <td>{{element.ed.fixedValue}}</td>

          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>


    <uib-tab heading="Graph" select="fitGraph()">

      <div class="row">
        <div class="col-md-6">
          <div id="graph"></div>
        </div>
        <div class="col-md-6">
          <uib-tabset ng-show="selectedModelFromGraph">
            <uib-tab heading="Table">

              <div class="row">
                <div class="col-md-2">Name:</div>
                <div class="col-md-10">{{selectedModelFromGraph.name}}</div>
              </div>
              <div class="row">
                <div class="col-md-2">Title:</div>
                <div class="col-md-10">{{selectedModelFromGraph.title}}</div>
              </div>


              <br/>
              <table class="table-bordered table table-condensed">
                <tr><th>Path</th><th>Type</th><th>Card.</th></tr>
                <tr ng-repeat="ed in selectedModelFromGraph.diff">
                  <td>{{ed.path}}
                    <div style="padding-left: 8px"><em >{{ed.description}}</em></div>
                  </td>
                  <td>{{ed.type[0]}}
                    <div class="clickable"><em>{{ed.valueSet}}</em></div>
                    <div><em>{{ed.fixedValue}}</em></div>
                  </td>
                  <!--
                  <td>
                      <div ng-repeat="code in code">
                          {{code}}
                      </div>
                  </td>
                  -->
                  <td>{{ed.mult}}</td>
                </tr>
              </table>

            </uib-tab>
            <uib-tab heading="Json">
              <pre>{{selectedModelFromGraph | json}}</pre>
            </uib-tab>
          </uib-tabset>


        </div>
      </div>


    </uib-tab>

    <uib-tab ng-show="false" heading="Fixed values">

      <br/>
      <div class="tableFixHead">
        <table class="table-bordered table">
          <thead>
          <tr><th>Path</th><th><th>Fixed value</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="ed in selectedModel.diff" ng-show="ed.fixedValue">

            <td>{{ed.path}}</td>
            <td>{{ed.fixedValue}}</td>

          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>


    <uib-tab>
      <uib-tab-heading>Referenced by</uib-tab-heading>


      <table class="table table-bordered">
        <tr><th>Name</th><th>Path</th><th>Kind</th></tr>
        <tr ng-repeat="item in xref[selectedModel.name] track by $index">
          <td>
            <div class="clickable" ng-click="selectModelFromList(item.name,item.kind)">
              {{item.name}}
            </div>


          </td>
          <td>{{item.path}}</td>
          <td>{{item.kind}}</td>
        </tr>
      </table>





    </uib-tab>

    <uib-tab heading="Qdev">
      <pre>{{testQ | json}}</pre>
    </uib-tab>

    <uib-tab heading="Full element list">
      <pre>{{fullElementList | json}}</pre>
    </uib-tab>

    <uib-tab heading="FSH">

      <uib-tabset>
        <uib-tab heading = "LM">
          The FHIR shorthand that represents this DG as a Logical Model
          generated
        </uib-tab>
        <uib-tab heading = "Profile">
          The FHIR shorthand that represents the FHIR profiles. Manually created for now
          ? with generated start. stored in the db
        </uib-tab>
      </uib-tabset>

    </uib-tab>

    <uib-tab ng-show = 'false' heading="Questionnaire">
      <uib-tabset>
        <uib-tab heading="Form">
          <renderform q="Qobject" qr="QR"></renderform>
        </uib-tab>
        <uib-tab heading="Json">
          <pre>{{Qobject | json}}</pre>
        </uib-tab>
      </uib-tabset>





    </uib-tab>


    <uib-tab ng-show="false && selectedModel.kind == 'comp'" heading="Overrides">
      <em class="pull-right">Elements that have been overriden in this model</em>

      <div ng-show = "selectedModel.parent">
        <strong class="pull-left">Profiles: {{selectedModel.parent}}</strong>
      </div>

      <table class="table-bordered table">
        <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Code</th></tr>
        <tr ng-repeat="element in overrides">

          <td>
            <div>
              {{element.path}}



            </div>


          </td>
          <td>{{element.title}}</td>
          <td>{{element.description}}</td>
          <td>
            <div ng-repeat="type in element.type">
              {{type}}
            </div>
            <div><em class="clickable" ng-click="showVS(element.valueSet)">{{element.valueSet}}</em></div>
          </td>
          <td>{{element.mult}}</td>
          <td>
            <div ng-repeat="code in element.code">
              {{code.code}}
            </div>

          </td>

        </tr>
      </table>
    </uib-tab>




    <uib-tab ng-show="false" heading="Json">
      <em>All the elements in a 'flattened' list (like a StructureDefinition).</em>
      <pre>{{fullElementList | json}}</pre>
    </uib-tab>

    <uib-tab heading="Json">
      <em>The definition for this model (not expanded)</em>
      <pre>{{selectedModel | json}}</pre>
    </uib-tab>


  </uib-tabset>


</div>