<div ng-controller="modelDGCtrl">


  <style>
    .dgInfoDEP {
      background-color: lightgoldenrodyellow;
      border: 1px solid gainsboro;
      padding : 3px;
      margin: 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .myIcon {
      margin: 8px;
    }
  </style>

  <div class="modelInfo row">
    <div class="col-md-6">
      <strong>{{selectedModel.title}} </strong> ({{selectedModel.name}}) <em>{{selectedModel.description}}</em>
      <div>
        <div ng-show="selectedModel.sourceReference">
          <strong>Source reference</strong>: {{selectedModel.sourceReference}}
        </div>
      </div>
      <br/>
      <div>

        <div class="row">
          <div class="col-md-6">
            <div ng-show="selectedModel.parent">
              <strong>Parents</strong>

              <div ng-repeat = "parent in relationshipsSummary.parents">
                <span class="clickable" style="margin-left: 8px"
                      ng-click="termSelectDG({DGName:parent},selectedModel.name)">
                  {{hashAllDG[parent].title}}  <!--  ({{parent}}) -->
                </span>
              </div>


            </div>

          </div>

          <div class="col-md-6">
            <strong>Direct children</strong> ({{relationshipsSummary.children.length}})
            <span ng-show="relationshipsSummary.children.length > 0"
                    class="clickable" ng-click="input.showDGChildren = ! input.showDGChildren">
              <span ng-show="input.showDGChildren">Hide</span>
               <span ng-hide="input.showDGChildren">Show</span>
            </span>
            <div ng-show="input.showDGChildren"
                    ng-repeat = "child in relationshipsSummary.children">
                <span class="clickable" style="margin-left: 8px"
                      ng-click="termSelectDG({DGName:child},selectedModel.name)">
                  {{hashAllDG[child].title}}  <!--  ({{parent}}) -->
                </span>
            </div>
          </div>

          <!--

                   <div class="col-md-2">


                     <div ng-show="selectedModel.profile">
                       <a ng-href="{{igBase}}{{selectedModel.profile}}" target="_blank">Profile</a>
                     </div>


                     <div ng-show="selectedModel.ss">
                       <a ng-href="{{selectedModel.ss}}" target="_blank">SpreadSheet</a>
                     </div>




          </div>
 -->


        </div>

      </div>

      <br/>

      <!--
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div ng-show="user.email">
            <div ng-hide="selectedModel.checkedOut" class="clickable" ng-click="checkOut()">Check out</div>
            <div ng-show="selectedModel.checkedOut" class="clickable" ng-click="checkIn()">Check in</div>
          </div>


        </div>
        <div class="col-md-6">
          <div class="clickable" ng-click="deleteDG(selectedModel.name)">Delete</div>
        </div>
      </div>
      -->


    </div>


    <div class="col-md-6">

      <button class="btn btn-link" ng-click="showHistory()">History ({{historyCount}})</button>
      <button class="btn btn-link" ng-click="deleteDG(selectedModel.name)">Delete</button>

      <div class="pull-right">
        <div ng-show="user.email">

          <button class="btn btn-success"
                  ng-hide="selectedModel.checkedOut" class="clickable" ng-click="checkOut()">Check out</button>

          <button class="btn btn-danger"
                  ng-show="selectedModel.checkedOut && selectedModel.checkedOut == user.email"  ng-click="revert()">Revert</button>

          <button class="btn btn-warning"
                  ng-show="selectedModel.checkedOut && selectedModel.checkedOut == user.email"  ng-click="checkIn()">Check in</button>

          <div ng-show = "selectedModel.checkedOut && selectedModel.checkedOut !== user.email">
            <strong>Checked out to {{selectedModel.checkedOut}}</strong>
          </div>
        </div>
      </div>

      <table class="table table-condensed" style="margin-top: 8px">
        <!--
        <tr>
          <td style="width: 25%">FHIR resource</td>
          <td><a target = "_blank" ng-href="{{fhirRoot}}{{selectedModel.fhirResource}}">{{selectedModel.fhirResource}}</a></td>
        </tr>
        <tr>
          <td>Category</td>

          <td>
            {{getCategory(selectedModel).code}}


          </td>
        </tr>
        -->
        <tr><td>Tags</td>
          <td>

            <div class="row">
              <div class="col-md-6">
                <div ng-repeat = "tag in getTagListForDG(selectedModel) track by $index">
                  <div>

                    {{tag}}

                      <i class="glyphicon glyphicon-remove-sign pull-right clickable"
                         uib-popover="Remove this tag"
                         popover-placement="left"
                         popover-trigger="'mouseenter'"

                         ng-click="removeTagFromDT(tag,selectedModel)"></i>





                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class = "form-control" placeholder="New tag" ng-model = "input.newBespokeTag"/>
                  </div>
                  <div class="col-md-4">
                    <i class="glyphicon glyphicon-plus-sign pull-right"
                       ng-show="input.newBespokeTag"
                      style="padding-top: 8px;color: green"
                       ng-click="addTagToDT(input.newBespokeTag)"></i>
                  </div>
                </div>


              </div>
              <div class="col-md-6">
                <select class="form-control" ng-model="input.newTag"
                        ng-options="tag for tag in tagNames"></select>
                <div ng-show="input.newTag">
                  <button class="btn btn-link pull-right" ng-click="addTagToDT(input.newTag)">Add this tag</button>
                </div>

              </div>
            </div>



          </td>
        </tr>

      </table>

      <div ng-show = "hxDGLoad.length > 0">
        <div ng-click="back()" class="clickable pull-right">
          Reload {{ hashAllDG[hxDGLoad[hxDGLoad.length-1]].title }}
        </div>

      </div>

    </div>
  </div>

  <div class = "clickable pull-right">

    <button class="btn-link btn pull-right" ng-click="dglibraryInteraction(selectedModel)">Compare to library</button>


  </div>

  <uib-tabset>



    <uib-tab heading="Editor tree">
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div class="pull-right clickable" ng-click="expandDTTree()">Expand all ({{fullElementList.length -1}})</div>
          <div id="dgTree"></div>

          <div>
          <button class="btn btn-link pull-right" ng-show="canEdit(selectedModel)"
                  ng-click="editDGItem()">Add new element <span ng-show="selectedNode">to {{selectedNode.data.ed.path}}</span></button>
          </div>
          <br/><br/>
        <div><em>Legend:</em></div>
          <div><strong style="margin-left: 8px">Bold</strong> elements are required</div>
          <div><span style="color: blue; margin-left: 8px">Blue</span>  elements have a fixed value</div>
          <div style=" margin-left: 8px">A trailing <strong>*</strong> indicates element can repeat.</div>
        </div>
        <div class="col-md-6">

          <div ng-show="selectedNode.data.ed">


          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
<!--
              <button class="btn-link btn  pull-right" ng-click="deleteDGItem(selectedNode.data.ed)">Delete this item ({{selectedNode.data.ed.title}})</button>
-->
              <button class="btn btn-link pull-right"

                      ng-show="canSlice(selectedNode.data.ed) && canEdit(selectedModel)"

                      ng-click="slice(selectedNode.data.ed)">Slice</button>
            </div>
          </div>


            <div ng-show = "selectedNode.data.ed.kind == 'root'">
              <table class="table table-bordered table-condensed">
                <tr><td>Name</td><td>{{selectedModel.name}}</td></tr>
                <tr><td>Description</td><td>{{selectedModel.description}}</td></tr>
                <tr ng-show="selectedModel.sourceReference"><td>Source reference</td><td>{{selectedModel.sourceReference}}</td></tr>
                <tr ng-show="selectedModel.checkedOut"><td>Checked out to</td>
                  <td>{{selectedModel.checkedOut}}</td></tr>
              </table>




            </div>

            <uib-tabset ng-hide="selectedNode.data.ed.kind == 'root'">
              <uib-tab heading="Details">
                <table class="table table-bordered table-condensed">

                  <tr ng-show = "selectedNode.data.ed.path !== selectedModel.name">
                    <td style="width : 20%">Path</td><td>{{selectedNode.data.ed.path | dropFirstInPath}}</td>
                  </tr>

                  <tr>
                    <td style="width : 20%">Source model</td>
                    <td>

                      <div ng-hide="selectedNode.data.ed.sourceModelName == selectedModel.name" class="pull-right clickable"
                           style="padding-right: 12px"
                           ng-click="termSelectDG({DGName:selectedNode.data.ed.sourceModelName},selectedModel.name)">
                        Load
                      </div>


                      {{selectedNode.data.ed.sourceModelName}}
                      <!-- {{getSourceModelName(selectedNode.data.ed)}}-->

                    </td>
                  </tr>

                  <tr><td style="width : 20%">Title</td>
                    <td>
                    <i class="glyphicon glyphicon-edit pull-right clickable"
                       ng-show="canEdit(selectedModel)"
                       ng-click="editDGItem(selectedNode.data)"></i>
                   {{selectedNode.data.ed.title}}</td>
                  </tr>

                  <tr><td>Description</td><td>
                    <i class="glyphicon glyphicon-edit pull-right clickable"
                       ng-show="canEdit(selectedModel)"
                       ng-click="editDGItem(selectedNode.data)"></i>
                    {{selectedNode.data.ed.description}}
                  </td></tr>

                  <tr><td>Type</td>
                    <td><div ng-repeat="type in selectedNode.data.ed.type">

                      <i class="glyphicon glyphicon-edit pull-right clickable"
                         ng-show="canEdit(selectedModel)"
                         ng-click="editDGItem(selectedNode.data)"></i>


                      <div ng-show="fhirDataTypes.indexOf(type) > -1" class="pull-right">
                        <a style="padding-right: 12px" target = "_blank" ng-href="{{fhirRoot}}datatypes.html#{{type}}">Details in spec </a>
                      </div>


                      <div ng-hide="fhirDataTypes.indexOf(type) > -1" class="pull-right clickable"
                           style="padding-right: 12px"
                           ng-click="termSelectDG({DGName:type},selectedModel.name)">
                        Load
                      </div>


                      {{type}}&nbsp;

                      <div ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept' && canEdit(selectedModel)">
                        <checkbox
                                ng-change = "setOtherAllowedStatus(selectedNode.data.ed,selectedNode.data.ed.otherAllowed)"
                                ng-model="selectedNode.data.ed.otherAllowed"></checkbox>
                         'Other' value allowed


                      </div>

                    </div>
                    </td></tr>

                  <tr ng-show = "selectedNode.data.ed.path !== selectedModel.name && selectedNode.data.ed.type[0] !== 'Group'" && qControlOptions>
                    <td>Input control</td>
                    <td>
                      <div class="row">
                        <div class="col-md-12">

                          <i class="glyphicon glyphicon-edit pull-right clickable"
                             ng-show="canEdit(selectedModel)"
                             ng-click="editDGItem(selectedNode.data)"></i>


                          {{selectedNode.data.ed.controlHint}}

                          <span ng-repeat = "opt in qControlOptions">
                            <input type="radio"
                                   ng-change="setControlHint(selectedNode.data.ed,opt)"
                                   ng-model="input.controlHint" value="{{opt}}"> {{opt}}
                          </span>


                        </div>

                      </div>

                    </td>


                    </td>
                  </tr>


                  <tr><td>Cardinality</td><td>
                    <i class="glyphicon glyphicon-edit pull-right clickable"
                       ng-show="canEdit(selectedModel)"
                       ng-click="editDGItem(selectedNode.data)"></i>
                    {{selectedNode.data.ed.mult}}
                  </td></tr>

                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td>ValueSet</td>
                    <td>

                      <i class="glyphicon glyphicon-edit pull-right clickable"
                         ng-show="canEdit(selectedModel)"
                         ng-click="editDGItem(selectedNode.data)"></i>

                      <div>{{selectedNode.data.ed.valueSet}}</div>
                      <div>
                        <span ng-show="selectedNode.data.ed.valueSet"
                          ng-click="viewVS(selectedNode.data.ed.valueSet)"
                              class="clickable">View VS</span>

                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Notes</td>
                    <td>
                      <i class="glyphicon glyphicon-edit pull-right clickable"
                         ng-show="canEdit(selectedModel)"
                         ng-click="editDGItem(selectedNode.data)"></i>
                      {{selectedNode.data.ed.notes}}
                    </td>
                  </tr>


                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td>Options</td>
                    <td>
                      <div ng-show="selectedNode.data.ed.options">
                        There are {{selectedNode.data.ed.options.length}} options defined
                      </div>

                      <div ng-hide="selectedNode.data.ed.options">
                        There are no options defined
                      </div>
                      <div><em>Options are used to define or build ValueSets</em></div>


                      <div ng-show="canEdit(selectedModel)">
                        <button
                                ng-click = "editDGOptionsList(selectedNode.data.ed,false)"
                                class="btn-link btn">View / Edit list</button>
                      </div>

                      <div ng-hide="canEdit(selectedModel)">
                        <button
                                ng-click = "editDGOptionsList(selectedNode.data.ed,true)"
                                class="btn-link btn">View list</button>
                      </div>




                    </td>
                  </tr>
                  <tr ng-show="selectedNode.data.ed.type[0] == 'Quantity'">
                    <td>Units</td>
                    <td>
                      <i class="glyphicon glyphicon-edit pull-right clickable"
                         ng-click="setUnits(selectedNode.data.ed)"></i>


                      <span ng-repeat="unit in selectedNode.data.ed.units">
                        {{unit}}&nbsp;
                      </span>


                    </td>
                  </tr>

                  <tr ng-show="isFixedType(selectedNode.data.ed)">
                    <td>Fixed value</td>

                    <td> {{selectedNode.data.ed.fixedCoding}}
                      {{selectedNode.data.ed.fixedString}}
                      {{selectedNode.data.ed.fixedDecimal}}

                      <span ng-show="selectedNode.data.ed.fixedCoding"
                            class=" pull-right">


                        <span ng-show="getSourceModelName(selectedNode.data.ed) !== selectedModel.name">
                          set on {{getSourceModelName(selectedNode.data.ed)}}
                        </span>

                        <div ng-show="canEdit(selectedModel)">
                           <span ng-hide="getSourceModelName(selectedNode.data.ed) !== selectedModel.name"
                                 class="clickable"
                                 ng-click="clearFixedValue(selectedNode.data.ed)">Clear fixed value</span>
                        </div>



                      </span>


                      <div ng-show="canEdit(selectedModel)">
                        <div class="clickable"  ng-hide="selectedNode.data.ed.fixedCoding"
                             ng-click="setFixedValue(selectedNode.data.ed)">Set fixed value
                        </div>
                      </div>



                    </td>
                  </tr>

                  <tr>
                    <td>Source reference</td>
                    <td>
                      <i class="glyphicon glyphicon-edit pull-right clickable"
                         ng-show="canEdit(selectedModel)"
                         ng-click="editDGItem(selectedNode.data)"></i>
                      {{selectedNode.data.ed.sourceReference}}
                    </td>
                  </tr>


                </table>

                <!--<button class="btn-link btn" ng-click="deleteDGItem(selectedNode.data.ed)">Delete this item</button> -->


              </uib-tab>

              <uib-tab>

                <uib-tab-heading>Enable when <span class="badge">{{selectedNode.data.ed.enableWhen.length || 0}}</span> </uib-tab-heading>
                <br/>

                <table class="table table-bordered">
                  <tr><th>Source</th><th>Operator</th><th>Value</th></tr>
                  <tr ng-repeat="dep in selectedNode.data.ed.enableWhen">
                    <td>{{dep.source}}</td>
                    <td>{{dep.operator}}</td>
                    <td>{{dep.value}}</td>
                    <td> <i style="color: red" class="glyphicon glyphicon-remove clickable"
                            ng-show = "canEdit(selectedModel)"
                            ng-click="removeEnableWhen($index)"></i></td>
                  </tr>
                </table>

                <div class="row" ng-show="canEdit(selectedModel)">
                  <div class="col-md-5">
                    <select class="form-control" ng-model="input.ewSource"
                            ng-change = "ewSourceSelected(input.ewSource)"
                            ng-options="element.shortPath for element in ewSources">

                    </select>
                  </div>

                  <div class="col-md-5">
                    <select class="form-control" ng-model="input.ewSourceValue"
                            ng-options="concept.display for concept in ewSourceValues">

                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn-link btn"
                            ng-show="input.ewSourceValue"
                            ng-click="addEnableWhen(input.ewSource,input.ewSourceValue)">Add</button>
                  </div>

                </div>

              </uib-tab>



              <uib-tab heading="Json">
                <pre ng-show="selectedNode">{{selectedNode.data.ed | json}}</pre>
              </uib-tab>
            </uib-tabset>

            <button class="btn-link btn  pull-right"
                    ng-hide="selectedNode.data.ed.kind == 'root' || ! canEdit(selectedModel)"
                    ng-click="deleteDGItem(selectedNode.data.ed)">Delete this item ({{selectedNode.data.ed.title}})</button>



          </div>

          <br/>
        </div>
      </div>



    </uib-tab>


    <uib-tab heading="Table">

      <em class="pull-right">Expanded. Excludes items with a Cardinality of 0..0</em>



      <br/>
      <div class="tableFixHead">
        <table class="table-bordered table">
          <thead>
          <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Fixed value</th><th>Source</th></tr>
          </thead>
          <tbody>
          <!---     <tr ng-repeat="element in fullElementList">-->
      <tr ng-repeat="element in fullElementList"
          ng-hide="$index==0 || (element.ed.mult.indexOf('..0') > -1)">
            <td>
              <div  ng-style="{ 'padding-left': (element.ed.path | pathindent) }">
                <div ng-hide="input.showFullModel">
                  {{element.ed.path | dropFirstInPath}}
                </div>
                <div ng-show="input.showFullModel">
                  {{element.ed.path | lastInPath}}
                </div>
              </div>


            </td>
            <td>{{element.ed.title}}</td>
            <td>

              {{element.ed.description}}
            </td>
            <td>
              <div ng-repeat="type in element.ed.type">
                {{type}}
              </div>
              <div><em class="clickable" ng-click="viewVS(element.ed.valueSet)">{{element.ed.valueSet}}</em></div>

              <div ng-show="element.ed.options">
                <em class="clickable"
                    ng-click = "editDGOptionsList(element.ed)">View {{element.ed.options.length}} options
                </em> </div>

            </td>
            <td>{{element.ed.mult}}</td>
        <!--
            <td>
              <div ng-repeat="code in element.ed.code">
                {{code.code}}
              </div>

            </td>
        -->
            <td>
              {{element.ed.fixedCoding}}{{element.ed.fixedDecimal}}{{element.ed.fixedString}}
            </td>
            <td>{{element.ed.sourceModelName}}</td>




          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>


    <uib-tab heading="Graph" select="fitGraph()">

      <em class="pull-right">DT inheritance hierarchy and referenced DTs</em>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div id="graph"></div>
        </div>
        <div class="col-md-6">


          <uib-tabset ng-show="selectedModelFromGraph">

            <uib-tab heading="Table">

              <div class="row">
                <div class="col-md-2">Name:</div>
                <div class="col-md-10">
                  {{selectedModelFromGraph.name}}

                  <div class="clickable pull-right"
                       ng-show="selectedModelFromGraph.name !== selectedModel.name"
                       ng-click="termSelectDG({DGName:selectedModelFromGraph.name},selectedModel.name)">Load
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">Title:</div>
                <div class="col-md-10">{{selectedModelFromGraph.title}}</div>
              </div>


              <br/>

              <uib-tabset>
                <uib-tab heading="Directly defined">
                  <table class="table-bordered table table-condensed">
                    <tr><th>Path</th><th>Type</th><th>Card.</th></tr>
                    <tr ng-repeat="ed in selectedModelFromGraph.diff">
                      <td>
                        <div class="clickableDotted" uib-popover="{{ed.description}}"
                             popover-placement="right"
                             popover-trigger="'mouseenter'">{{ed.path}}</div>

                        <!--
                        <div style="padding-left: 8px"><em >{{ed.description}}</em></div>
-->
                      </td>
                      <td>{{ed.type[0]}}
                        <div class="clickable"><em>{{ed.valueSet}}</em></div>
                        <div><em>{{ed.fixedCoding}}</em></div>
                      </td>
                      <!--
                      <td>
                          <div ng-repeat="code in code">
                              {{code}}
                          </div>
                      </td>
                      -->
                      <td>{{ed.mult}}</td>
                    </tr>
                  </table>
                  <em>This is only elements directly defined in the DG, including overrides</em>

                </uib-tab>
                <uib-tab heading="Full list">

                  <table class="table-bordered table table-condensed">
                    <tr><th>Path</th><th>Type</th><th>Card.</th></tr>
                    <tr ng-repeat="item in selectedModelFromGraphFull">
                      <td>
                        <div class="clickableDotted" uib-popover="{{item.ed.description}}"
                             popover-placement="right"
                             popover-trigger="'mouseenter'">{{item.ed.path | dropFirstInPath}}</div>
                        <!--
                        {{item.ed.path}}
                        <div style="padding-left: 8px"><em >{{item.ed.description}}</em></div> -->
                      </td>
                      <td>{{item.ed.type[0]}}
                        <div class="clickable"><em>{{item.ed.valueSet}}</em></div>
                        <div><em>{{item.ed.fixedCoding}}</em></div>
                      </td>
                      <!--
                      <td>
                          <div ng-repeat="code in code">
                              {{code}}
                          </div>
                      </td>
                      -->
                      <td>{{item.ed.mult}}</td>
                    </tr>
                  </table>
                  <em>These are all elements, including inherited</em>

                </uib-tab>
              </uib-tabset>


            </uib-tab>
            <uib-tab heading="Json">
              <pre>{{selectedModelFromGraph | json}}</pre>
            </uib-tab>
          </uib-tabset>


        </div>
      </div>


    </uib-tab>

    <uib-tab ng-show="false" heading="Fixed values">
      todo: add other fixed types

      <br/>
      <div class="tableFixHead">
        <table class="table-bordered table">
          <thead>
          <tr><th>Path</th><th><th>Fixed value</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="ed in selectedModel.diff" ng-show="ed.fixedCoding">

            <td>{{ed.path}}</td>
            <td>{{ed.fixedCoding}}</td>

          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>

    <uib-tab heading="Relationships">

      <strong>DataGroups related to this one via the hierarchy</strong>
      <br/> <br/>
      <div class="row">
        <div class="col-md-3">

          <strong>Ancestry</strong>
          <br/>
          <div>
            <div ng-repeat="parent in relationshipsSummary.parents">
              <div class = 'clickable' ng-click="termSelectDG({DGName:parent},selectedModel.name)">{{hashAllDG[parent].title}}</div>
              <div>
                <i style="margin-left: 40px" class="glyphicon glyphicon-arrow-down"></i>
              </div>
            </div>

            <div ng-show="relationshipsSummary.parents.length > 0">
              <div  class="rounded-box">{{selectedModel.title}}</div>
            </div>

            <div  ng-show="relationshipsSummary.parents.length == 0">
              <em>There is no parent</em>
            </div>

          </div>

        </div>
        <div class="col-md-3">
          <strong>Direct children</strong>
          <br/>
          <div ng-repeat="child in relationshipsSummary.children">
            <div class = 'clickable' ng-click="termSelectDG({DGName:child},selectedModel.name)">{{hashAllDG[child].title}}</div>
          </div>

        </div>
        <div class="col-md-6">
          <strong>References directly from this DG</strong>
          <br/>
          <table class="table table-bordered">
            <tr><th>Path</th><th>Type</th></tr>
            <tr ng-repeat="reference in relationshipsSummary.references">
              <td>{{reference.path}}</td>
              <td>
                <div class = 'clickable' ng-click="termSelectDG({DGName:reference.type},selectedModel.name)">
                  {{reference.type}}
                </div>
              </td>
            </tr>
          </table>

        </div>
      </div>

<hr/>

      <strong>DataGroups and Compositions that reference this one</strong>
      <table class="table table-bordered">
        <tr><th>Name</th><th>Path</th><th>Kind</th><th>Card.</th><th>Mode</th></tr>
        <tr ng-repeat="item in xref[selectedModel.name] track by $index">
          <td>
            <div class="clickable" ng-click="selectModelFromList(item.name,item.kind)">
              {{item.name}}
            </div>


          </td>
          <td>{{item.path}}</td>
          <td>{{item.kind}}</td>
          <td>{{item.mult}}</td>
          <td>{{item.mode}}</td>
        </tr>
      </table>


<!--
      <pre>{{relationshipsSummary | json}}</pre>
-->
    </uib-tab>

    <uib-tab ng-show="false">
      <uib-tab-heading>Referenced by</uib-tab-heading>


      <table class="table table-bordered">
        <tr><th>Name</th><th>Path</th><th>Kind</th></tr>
        <tr ng-repeat="item in xref[selectedModel.name] track by $index">
          <td>
            <div class="clickable" ng-click="selectModelFromList(item.name,item.kind)">
              {{item.name}}
            </div>


          </td>
          <td>{{item.path}}</td>
          <td>{{item.kind}}</td>
        </tr>
      </table>





    </uib-tab>


    <uib-tab heading="Full element list">
      <em class="pull-right">Expanded. Includes items with a Cardinality of 0..0</em>
      <uib-tabset>
        <uib-tab heading="List">
          <div class="tableFixHead">
            <table class="table-bordered table">
              <thead>
              <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Fixed value</th><th>Source</th>
                <th ng-show="canEdit(selectedModel)">Edit</th></tr>
              </thead>
              <tbody>
              <!---     <tr ng-repeat="element in fullElementList">-->
              <tr ng-repeat="element in fullElementList"
                  ng-hide="$index==0">
                <td>
                  <div  ng-style="{ 'padding-left': (element.ed.path | pathindent) }">



                    <!-- {{element.path | dropFirstInPath}} -->
                    <div ng-hide="input.showFullModel">
                      {{element.ed.path | dropFirstInPath}}
                    </div>
                    <div ng-show="input.showFullModel">
                      {{element.ed.path | lastInPath}}

                    </div>



                  </div>


                </td>
                <td>{{element.ed.title}}</td>
                <td>

                  {{element.ed.description}}
                </td>
                <td>
                  <div ng-repeat="type in element.ed.type">
                    {{type}}
                  </div>
                  <div><em class="clickable" ng-click="viewVS(element.ed.valueSet)">{{element.ed.valueSet}}</em></div>
                </td>
                <td>{{element.ed.mult}}</td>
                <!--
                    <td>
                      <div ng-repeat="code in element.ed.code">
                        {{code.code}}
                      </div>

                    </td>
                -->
                <td>{{element.ed.fixedCoding}}</td>
                <td>{{element.sourceModelName}}</td>

                <td ng-show="canEdit(selectedModel)">
                  <i class="glyphicon glyphicon-edit pull-right clickable"

                     ng-click="editDGItem(element)"></i>
                </td>

              </tr>
              </tbody>
            </table>
          </div>

        </uib-tab>
        <uib-tab heading="Json">
          <pre>{{fullElementList | json}}</pre>
        </uib-tab>
      </uib-tabset>

    </uib-tab>

    <uib-tab heading="FSH">
      <br/>
      The FHIR shorthand that represents this DataGroup as a FHIR Logical Model.
      <span class="pull-right">
       <i class="glyphicon glyphicon-paperclip pull-right clickable"
          ng-click="copyFshToClipboard(dgFshLM)"></i>
      </span>
      <br/>
      <pre>{{dgFshLM}}</pre>



    </uib-tab>



    <uib-tab ng-show = "false" heading="Questionnaire">
      <uib-tabset>

        <uib-tab heading="Json">
          <pre>{{dgQ | json}}</pre>
        </uib-tab>

        <uib-tab heading="Form">

        </uib-tab>


      </uib-tabset>
    </uib-tab>

    <uib-tab ng-show = 'false' heading="Questionnaire">
      <uib-tabset>
        <uib-tab heading="Form">
          <renderform q="Qobject" qr="QR"></renderform>
        </uib-tab>
        <uib-tab heading="Json">
          <pre>{{Qobject | json}}</pre>
        </uib-tab>
      </uib-tabset>
    </uib-tab>


    <uib-tab ng-show="false && selectedModel.kind == 'comp'" heading="Overrides">
      <em class="pull-right">Elements that have been overriden in this model</em>

      <div ng-show = "selectedModel.parent">
        <strong class="pull-left">Profiles: {{selectedModel.parent}}</strong>
      </div>

      <table class="table-bordered table">
        <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Code</th></tr>
        <tr ng-repeat="element in overrides">

          <td>
            <div>
              {{element.path}}



            </div>


          </td>
          <td>{{element.title}}</td>
          <td>{{element.description}}</td>
          <td>
            <div ng-repeat="type in element.type">
              {{type}}
            </div>
            <div><em class="clickable" ng-click="showVS(element.valueSet)">{{element.valueSet}}</em></div>
          </td>
          <td>{{element.mult}}</td>
          <td>
            <div ng-repeat="code in element.code">
              {{code.code}}
            </div>

          </td>

        </tr>
      </table>
    </uib-tab>




    <uib-tab ng-show="false" heading="Json">
      <em>All the elements in a 'flattened' list (like a StructureDefinition).</em>
      <pre>{{fullElementList | json}}</pre>
    </uib-tab>


    <uib-tab heading="DG Diff">
      <em>The element definitions in the .diff element. ie directly defined in the DG. The Json has the complete model.</em>
      <br/><br/>
      <table class="table-condensed table table-bordered">
        <tr ng-repeat="ed in selectedModel.diff">
          <td>{{ed.path}}</td>
          <td>{{ed.title}}</td>
          <td>{{ed.description}}</td>
          <td>{{ed.mult}}</td>
          <td>{{ed.type[0]}}</td>
        </tr>
      </table>
    </uib-tab>

    <uib-tab heading="Json">
      <em>The definition for this model (not expanded)</em>
      <span class="pull-right">
       <i class="glyphicon glyphicon-paperclip pull-right clickable"
          ng-click="copyToClipboard(selectedModel)"></i>
      </span>
      <pre>{{selectedModel | json}}</pre>
    </uib-tab>


  </uib-tabset>


</div>