<div ng-controller="modelDGCtrl">


  <style>

    .myIcon {
      margin: 8px;
    }

    .hideElement {
      background-color: mistyrose;
    }



  </style>

  <div class="modelInfo row">
    <div class="col-md-6">
      <strong>{{selectedModel.title}} </strong> ({{selectedModel.name}}) <em>{{selectedModel.description}}</em>
      <div>
        <div ng-show="selectedModel.sourceReference">
          <strong>Source reference</strong>: {{selectedModel.sourceReference}}
        </div>
      </div>

      <div ng-show="user.email">
        <span class="clickable" ng-click="cloneDG(selectedModel)">Make a copy</span>

          <span class=" clickable spacer" ng-show = "canEdit(selectedModel)"
               ng-click="editModel(selectedModel)">Edit</span>

          <span class=" clickable spacer"
               ng-click="newModel('dg',selectedModel)">New child</span>
      </div>

      <br/>
      <div>

        <div class="row">
          <div class="col-md-6">
            <div ng-show="selectedModel.parent">
              <strong>Parents</strong>

              <div ng-repeat = "parent in relationshipsSummary.parents">
                <span class="clickable" style="margin-left: 8px"
                      ng-click="termSelectDG({DGName:parent},selectedModel.name)">
                  {{hashAllDG[parent].title}}  <!--  ({{parent}}) -->
                </span>
              </div>


            </div>

          </div>

          <div class="col-md-6">
            <strong>Direct children</strong> ({{relationshipsSummary.children.length}})
            <span ng-show="relationshipsSummary.children.length > 0"
                    class="clickable" ng-click="input.showDGChildren = ! input.showDGChildren">
              <span ng-show="input.showDGChildren">Hide</span>
               <span ng-hide="input.showDGChildren">Show</span>
            </span>
            <div ng-show="input.showDGChildren"
                    ng-repeat = "child in relationshipsSummary.children">
                <span class="clickable" style="margin-left: 8px"
                      ng-click="termSelectDG({DGName:child},selectedModel.name)">
                  {{hashAllDG[child].title}}  <!--  ({{parent}}) -->
                </span>
            </div>
          </div>


        </div>

      </div>

      <br/>


    </div>


    <div class="col-md-6">

      <button class="btn btn-link" ng-click="deleteDG(selectedModel.name)">Delete</button>

      <a class="btn" ng-href="modelReview.html?{{selectedModel.name}}" target="_blank">Review</a>

      <button class="btn btn-link" ng-click="showLink('dg')">Link</button>

      <div class="pull-right">
        <div ng-show="user.email">

          <button class="btn btn-success"
                  ng-hide="selectedModel.checkedOut" class="clickable" ng-click="checkOut()">Check out</button>

          <button class="btn btn-danger"
                  ng-show="selectedModel.checkedOut && selectedModel.checkedOut == user.email"  ng-click="revert()">Revert</button>

          <button class="btn btn-warning"
                  ng-show="selectedModel.checkedOut && selectedModel.checkedOut == user.email"  ng-click="checkIn()">Check in</button>

          <div ng-show = "selectedModel.checkedOut && selectedModel.checkedOut !== user.email">
            <strong>Checked out to {{selectedModel.checkedOut}}</strong>
          </div>
        </div>
      </div>

      <table class="table table-condensed" style="margin-top: 8px">

        <tr><td>Tags</td>
          <td>

            <div class="row">
              <div class="col-md-6">
                <div ng-repeat = "tag in getTagListForDG(selectedModel) track by $index">
                  <div>

                    {{tag}}

                      <i class="glyphicon glyphicon-remove-sign pull-right clickable"
                         uib-popover="Remove this tag"
                         popover-placement="left"
                         popover-trigger="'mouseenter'"

                         ng-click="removeTagFromDT(tag,selectedModel)"></i>





                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class = "form-control" placeholder="New tag" ng-model = "input.newBespokeTag"/>
                  </div>
                  <div class="col-md-4">
                    <i class="glyphicon glyphicon-plus-sign pull-right"
                       ng-show="input.newBespokeTag"
                      style="padding-top: 8px;color: green"
                       ng-click="addTagToDT(input.newBespokeTag)"></i>
                  </div>
                </div>


              </div>
              <div class="col-md-6">
                <select class="form-control" ng-model="input.newTag"
                        ng-options="tag for tag in tagNames"></select>
                <div ng-show="input.newTag">
                  <button class="btn btn-link pull-right" ng-click="addTagToDT(input.newTag)">Add this tag</button>
                </div>

              </div>
            </div>



          </td>
        </tr>

      </table>

      <div ng-show = "hxDGLoad.length > 0">
        <div ng-click="back()" class="clickable pull-right">
          Reload {{ hashAllDG[hxDGLoad[hxDGLoad.length-1]].title }}
        </div>

      </div>

    </div>
  </div>



  <uib-tabset>



    <uib-tab heading="Tree">
      <br/>
      <div class="row">
        <div class="col-md-6" >
          <div class="background">
          <div class="pull-right clickable" ng-click="expandDTTree()">Expand all ({{fullElementList.length -1}})</div>
          <div id="dgTree"></div>

          <div>
          <button class="btn btn-link pull-right" ng-show="canEdit(selectedModel)"
                  ng-click="editDGItem()">Add new element <span ng-show="selectedNode">to {{selectedNode.data.ed.path}}</span></button>
          </div>
          <br/><br/>
        <div><em>Legend:</em></div>
          <div><strong style="margin-left: 8px">Bold</strong> elements are required</div>
          <div><span style="color: blue; margin-left: 8px">Blue</span>  elements have a fixed value</div>
          <div style=" margin-left: 8px">A trailing <strong>*</strong> indicates element can repeat.</div>
          <div style=" margin-left: 8px"><span style="text-decoration: line-through">Strike-through</span> indicates the element does not appear in a Q</div>
          <div style=" margin-left: 8px">
            <span style="text-decoration-line: underline;text-decoration-style: dotted">
              Dotted underline</span> indicates the element is subject to conditional show in the Q</div>
          </div>
        </div>
        <div class="col-md-6 ">

          <div class="background" ng-show="selectedNode.data.ed">
          <div ng-show="selectedNode.data.ed">


          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">


              <button class="btn btn-link pull-right"

                      ng-show="canSlice(selectedNode.data.ed) && canEdit(selectedModel)"

                      ng-click="slice(selectedNode.data.ed)">Slice</button>
            </div>
          </div>


            <div ng-show = "selectedNode.data.ed.kind == 'root'">
              <table class="table table-bordered table-condensed">
                <tr><td>Name</td><td>{{selectedModel.name}}</td></tr>
                <tr><td>Description</td><td>{{selectedModel.description}}</td></tr>
                <tr ng-show="selectedModel.type"><td>Resource type</td><td>{{selectedModel.type}}</td></tr>
                <tr ng-show="selectedModel.sourceReference"><td>Source reference</td><td>{{selectedModel.sourceReference}}</td></tr>
                <tr ng-show="selectedModel.checkedOut"><td>Checked out</td>
                  <td>{{selectedModel.checkedOut}}</td></tr>

              </table>




            </div>


            <button class="btn-link btn pull-right"
                    ng-show="canEdit(selectedModel)"
                    ng-click="editDGItem(selectedNode.data)">Edit </button>


            <uib-tabset ng-hide="selectedNode.data.ed.kind == 'root'">


              <div ng-show="false" class="btn-link btn" ng-click="addEWNew()">Add new EW (temp loc.)</div>


              <uib-tab heading="Details">
                <table class="table table-bordered table-condensed">

                  <tr ng-show = "selectedNode.data.ed.path !== selectedModel.name">
                    <td class="detailName" style="width : 20%">Path</td>
                    <td>
                      {{selectedNode.data.ed.path | dropFirstInPath}}


                        <span class="pull-right clickable" ng-click="hideInQ(selectedNode.data.ed)">
                        <span ng-show="selectedNode.data.ed.hideInQ">Not shown in Q</span>
                        <span ng-hide="selectedNode.data.ed.hideInQ">Appears in Q</span>
                      </span>

                    </td>
                  </tr>

                  <tr>
                    <td class="detailName" style="width : 20%">Source model</td>
                    <td>

                      <div ng-hide="selectedNode.data.ed.sourceModelName == selectedModel.name" class="pull-right clickable"
                           style="padding-right: 12px"
                           ng-click="termSelectDG({DGName:selectedNode.data.ed.sourceModelName},selectedModel.name)">
                        Load
                      </div>


                      {{selectedNode.data.ed.sourceModelName}}
                      <!-- {{getSourceModelName(selectedNode.data.ed)}}-->

                    </td>
                  </tr>

                  <tr><td class="detailName" style="width : 20%">Title</td>
                    <td>
                      <!--
                    <i class="glyphicon glyphicon-edit pull-right clickable"
                       ng-show="canEdit(selectedModel)"
                       ng-click="editDGItem(selectedNode.data)"></i>
                      -->
                   {{selectedNode.data.ed.title}}</td>
                  </tr>

                  <tr><td class="detailName">Description</td><td>
                    <!--
                    <i class="glyphicon glyphicon-edit pull-right clickable"
                       ng-show="canEdit(selectedModel)"
                       ng-click="editDGItem(selectedNode.data)"></i>
                    -->
                    {{selectedNode.data.ed.description}}
                  </td></tr>

                  <tr><td class="detailName">Type</td>
                    <td><div ng-repeat="type in selectedNode.data.ed.type">


                      <div ng-show="fhirDataTypes.indexOf(type) > -1" class="pull-right">
                        <a style="padding-right: 12px" target = "_blank" ng-href="{{fhirRoot}}datatypes.html#{{type}}">Details in spec </a>
                      </div>


                      <div ng-hide="fhirDataTypes.indexOf(type) > -1" class="pull-right clickable"
                           style="padding-right: 12px"
                           ng-click="termSelectDG({DGName:type},selectedModel.name)">
                        Load
                      </div>


                      {{type}}&nbsp;

                      <div ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept' && canEdit(selectedModel)">


                        <div ng-show="selectedNode.data.ed.otherType">
                          'Other' type: {{selectedNode.data.ed.otherType}}
                        </div>



                      </div>

                    </div>
                    </td></tr>

                  <tr ng-show = "selectedNode.data.ed.path !== selectedModel.name && selectedNode.data.ed.type[0] !== 'Group'" && qControlOptions>
                    <td class="detailName">Input control</td>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
<!--
                          <i class="glyphicon glyphicon-edit pull-right clickable"
                             ng-show="canEdit(selectedModel)"
                             ng-click="editDGItem(selectedNode.data)"></i>
                          -->


                          {{selectedNode.data.ed.controlHint}}

                          <span ng-repeat = "opt in qControlOptions">
                            <input type="radio"
                                   ng-change="setControlHint(selectedNode.data.ed,opt)"
                                   ng-model="input.controlHint" value="{{opt}}"> {{opt}}
                          </span>


                        </div>

                      </div>

                    </td>


                    </td>
                  </tr>


                  <tr><td class="detailName">Cardinality</td><td>
                    <!--
                    <i class="glyphicon glyphicon-edit pull-right clickable"
                       ng-show="canEdit(selectedModel)"
                       ng-click="editDGItem(selectedNode.data)"></i>
                    -->
                    {{selectedNode.data.ed.mult}}
                  </td></tr>

                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td class="detailName">ValueSet</td>
                    <td>
<!--
                      <i class="glyphicon glyphicon-edit pull-right clickable"
                         ng-show="canEdit(selectedModel)"
                         ng-click="editDGItem(selectedNode.data)"></i>
                      -->

                      <div>
                        <span ng-show="selectedNode.data.ed.valueSet"
                              ng-click="viewVS(selectedNode.data.ed.valueSet)"
                              class="clickable pull-right">View VS</span>

                      </div>
                      <div>{{selectedNode.data.ed.valueSet}}</div>

                    </td>
                  </tr>

                  <tr>
                    <td class="detailName">Notes</td>
                    <td>

                      {{selectedNode.data.ed.notes}}
                    </td>
                  </tr>

                  <tr>
                    <td class="detailName">Rules</td>
                    <td>
                      {{selectedNode.data.ed.rules}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detailName">Placeholder</td>
                    <td>
                      {{selectedNode.data.ed.placeholder}}
                    </td>
                  </tr>

                  <tr ng-show="selectedNode.data.ed.type[0] == 'CodeableConcept'">
                    <td class="detailName">Options</td>
                    <td>
                      <div ng-show="selectedNode.data.ed.options">
                        <span
                                ng-click = "editDGOptionsList(selectedNode.data.ed,true)"
                                class="clickable pull-right">View list</span>

                        There are {{selectedNode.data.ed.options.length}} options defined
                      </div>

                      <div ng-hide="selectedNode.data.ed.options">
                        There are no options defined
                      </div>




                    </td>
                  </tr>

                  <tr ng-show="selectedNode.data.ed.type[0] == 'Quantity'">
                    <td class="detailName">Units</td>
                    <td>


                      <span ng-repeat="unit in selectedNode.data.ed.units">
                        {{unit}}&nbsp;
                      </span>


                    </td>
                  </tr>

                  <tr ng-show="isFixedType(selectedNode.data.ed)">
                    <td class="detailName">Fixed value</td>

                    <td>
                      <div ng-show="selectedNode.data.ed.fixedCode">
                        {{selectedNode.data.ed.fixedCode}}
                      </div>

                      <div ng-show="selectedNode.data.ed.fixedRatio">
                        <div ng-show="selectedNode.data.ed.fixedRatio.numerator.unit">Numerator unit: {{selectedNode.data.ed.fixedRatio.numerator.unit}}</div>
                        <div ng-show="selectedNode.data.ed.fixedRatio.denominator.unit">Denominator unit: {{selectedNode.data.ed.fixedRatio.denominator.unit}}</div>
                        <div ng-show="selectedNode.data.ed.fixedRatio.denominator.value">Denominator value: {{selectedNode.data.ed.fixedRatio.denominator.value}}</div>
                      </div>

                      <div ng-show="selectedNode.data.ed.fixedQuantity">
                        <span ng-show = "selectedNode.data.ed.fixedQuantity.unit">
                          Unit: {{selectedNode.data.ed.fixedQuantity.unit}}
                        </span>

                        <span ng-show = "selectedNode.data.ed.fixedQuantity.value">
                          Value: {{selectedNode.data.ed.fixedQuantity.value}}
                        </span>

                      </div>


                      <div ng-show="selectedNode.data.ed.fixedCoding">
                        {{selectedNode.data.ed.fixedCoding.code}} | {{selectedNode.data.ed.fixedCoding.display}} | {{selectedNode.data.ed.fixedCoding.system}}
                      </div>

                      <span ng-show="selectedNode.data.ed.fixedCoding ||
                        selectedNode.data.ed.fixedQuantity || selectedNode.data.ed.fixedRatio"
                            class="pull-right">

                        <span ng-show="getSourceModelName(selectedNode.data.ed) !== selectedModel.name">
                          set on {{getSourceModelName(selectedNode.data.ed)}}
                        </span>

                      </span>

                    </td>
                  </tr>

                  <tr ng-show="isFixedType(selectedNode.data.ed)">
                    <td class="detailName">Default value</td>

                    <td>
                      <div ng-show="selectedNode.data.ed.defaultCode">
                        {{selectedNode.data.ed.defaultCode}}
                      </div>


                      <div ng-show="selectedNode.data.ed.defaultRatio">
                        <div ng-show="selectedNode.data.ed.defaultRatio.numerator.unit">Numerator unit: {{selectedNode.data.ed.defaultRatio.numerator.unit}}</div>
                        <div ng-show="selectedNode.data.ed.defaultRatio.denominator.unit">Denominator unit: {{selectedNode.data.ed.defaultRatio.denominator.unit}}</div>
                        <div ng-show="selectedNode.data.ed.defaultRatio.denominator.value">Denominator value: {{selectedNode.data.ed.defaultRatio.denominator.value}}</div>
                      </div>

                      <div ng-show="selectedNode.data.ed.defaultQuantity">
                        <span ng-show="selectedNode.data.ed.defaultQuantity.unit">
                          Unit: {{selectedNode.data.ed.defaultQuantity.unit}}
                        </span>
                        <span ng-show="selectedNode.data.ed.defaultQuantity.value">
                          Value: {{selectedNode.data.ed.defaultQuantity.value}}
                        </span>
                      </div>

                      <div ng-show="selectedNode.data.ed.defaultCoding">
                        {{selectedNode.data.ed.defaultCoding.code}} | {{selectedNode.data.ed.defaultCoding.display}} | {{selectedNode.data.ed.defaultCoding.system}}
                      </div>

                      <span ng-show="selectedNode.data.ed.defaultCoding  || selectedNode.data.ed.defaultQuantity"
                            class=" pull-right">

                        <span ng-show="getSourceModelName(selectedNode.data.ed) !== selectedModel.name">
                          set on {{getSourceModelName(selectedNode.data.ed)}}
                        </span>



                      </span>

                    </td>
                  </tr>


                  <tr>
                    <td class="detailName">Source reference</td>
                    <td>

                      {{selectedNode.data.ed.sourceReference}}
                    </td>
                  </tr>

                  <tr ng-show = "selectedNode.data.ed.insertAfter">
                    <td  class="detailName">Insert after</td>
                    <td>

                      {{selectedNode.data.ed.insertAfter | dropFirstInPath}}
                    </td>
                  </tr>

                </table>




              </uib-tab>

              <uib-tab>

                <uib-tab-heading>Conditional show <span class="badge">
                  {{selectedNode.data.ed.enableWhen.length || 0}}</span>
                </uib-tab-heading>
                <br/>

                <table class="table table-bordered">
                  <tr><th>Source</th><th>Operator</th><th>Value</th></tr>
                  <tr ng-repeat="dep in selectedNode.data.ed.enableWhen">
                    <td>{{dep.source | dropFirstInPath}}</td>
                    <td>{{dep.operator}}</td>
                    <td>
                      <div ng-show="dep.value.code">{{dep.value.code}} | {{dep.value.display}}</div>
                      <div ng-hide="dep.value.code">{{dep.value}}</div>
                    </td>
                    <td> <i style="color: red" class="glyphicon glyphicon-remove clickable"
                            ng-show = "canEdit(selectedModel)"
                            ng-click="removeEnableWhen($index,selectedNode.data.ed.path)"></i></td>
                  </tr>
                </table>
                <em ng-show="selectedNode.data.ed.enableWhen.length > 0">This element will be hidden in a form unless one of the above conditions is true</em>

                <!-- TODO - come back to this after bug fixes -->
                <div ng-show="canEdit(selectedModel)" class="btn-link btn pull-right" ng-click="addEWNew()">Add new control element</div>



              </uib-tab>

              <uib-tab heading="Profiling">
                <table class="table table-bordered table-condensed">




                  <tr>
                    <td class="detailName" style="width : 20%">Resource type</td>

                    <td>
                      <a target = "_blank" ng-href="{{fhirRoot}}{{fhirResourceType}}.html">{{fhirResourceType}}</a>



                    </td>
                  </tr>

                  <tr>
                    <td class="detailName" style="width : 20%">FHIRPath</td>
                    <td>
                      {{selectedNode.data.ed.profile.fhirPath}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detailName">Extension Url</td>
                    <td> {{selectedNode.data.ed.profile.extUrl}}</td>
                  </tr>
                  <tr>
                    <td class="detailName">Is a reference</td>
                    <td> {{selectedNode.data.ed.profile.isReference}}</td>
                  </tr>
                  <tr>
                    <td class="detailName" >FSH</td>
                    <td>
                      <ul class="list-unstyled">
                        <li ng-repeat = "lne in selectedNode.data.ed.profile.fsh.split('\n') track by $index">
                          {{lne}}
                        </li>
                      </ul>

                    </td>
                  </tr>


                </table>

              </uib-tab>


              <uib-tab heading="Json">
                <pre ng-show="selectedNode">{{selectedNode.data.ed | json}}</pre>
              </uib-tab>
            </uib-tabset>


            <div ng-hide="selectedNode.data.ed.kind == 'root' || ! canEdit(selectedModel)">
              {{selectedNode.data.ed.title}}
              <!--
              <button class="btn-link btn" ng-click="hideInQ(selectedNode.data.ed)">
                Hide in Q
              </button>
-->
              <button class="btn-link btn" ng-click="deleteDGItem(selectedNode.data.ed)">
                Delete this item
              </button>

            </div>

            <!--

            <button class="btn-link btn"
                    ng-hide="selectedNode.data.ed.kind == 'root' || ! canEdit(selectedModel)"
                    ng-click="hideinQ(selectedNode.data.ed)">Hide in Q ({{selectedNode.data.ed.title}})</button>


            <button class="btn-link btn  pull-right"
                    ng-hide="selectedNode.data.ed.kind == 'root' || ! canEdit(selectedModel)"
                    ng-click="deleteDGItem(selectedNode.data.ed)">Delete this item ({{selectedNode.data.ed.title}})</button>

-->

          </div>

          <br/>

          </div>
        </div>
      </div>



    </uib-tab>


    <uib-tab heading="Table">

      <em class="pull-right">Expanded. Excludes items with a Cardinality of 0..0</em>



      <br/>
      <div class="tableFixHead">
        <table class="table-bordered table">
          <thead>
          <tr><th>Path</th><th>Title</th><th>Description</th><th>Type</th><th>Mult.</th><th>Fixed value</th><th>Source</th></tr>
          </thead>
          <tbody>
          <!---     <tr ng-repeat="element in fullElementList">-->
      <tr ng-repeat="element in fullElementList"
          ng-hide="$index==0 || (element.ed.mult.indexOf('..0') > -1)">
            <td>
              <div  ng-style="{ 'padding-left': (element.ed.path | pathindent) }">
                <div ng-hide="input.showFullModel">
                  {{element.ed.path | dropFirstInPath}}
                </div>
                <div ng-show="input.showFullModel">
                  {{element.ed.path | lastInPath}}
                </div>
              </div>


            </td>
            <td>{{element.ed.title}}</td>
            <td>

              {{element.ed.description}}
            </td>
            <td>
              <div ng-repeat="type in element.ed.type">
                {{type}}
              </div>
              <div><em class="clickable" ng-click="viewVS(element.ed.valueSet)">{{element.ed.valueSet}}</em></div>

              <div ng-show="element.ed.options">
                <em class="clickable"
                    ng-click = "editDGOptionsList(element.ed)">View {{element.ed.options.length}} options
                </em> </div>

            </td>
            <td>{{element.ed.mult}}</td>
        <!--
            <td>
              <div ng-repeat="code in element.ed.code">
                {{code.code}}
              </div>

            </td>
        -->
            <td>
              {{element.ed.fixedCode}}{{element.ed.fixedCoding}}{{element.ed.fixedDecimal}}{{element.ed.fixedString}}
            </td>
            <td>{{element.ed.sourceModelName}}</td>




          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>


    <uib-tab heading="Graph" select="fitGraph()">

      <em class="pull-right">DT inheritance hierarchy and referenced DTs</em>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div id="graph"></div>
        </div>
        <div class="col-md-6">


          <uib-tabset ng-show="selectedModelFromGraph">

            <uib-tab heading="Table">

              <div class="row">
                <div class="col-md-2">Name:</div>
                <div class="col-md-10">
                  {{selectedModelFromGraph.name}}

                  <div class="clickable pull-right"
                       ng-show="selectedModelFromGraph.name !== selectedModel.name"
                       ng-click="termSelectDG({DGName:selectedModelFromGraph.name},selectedModel.name)">Load
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-2">Title:</div>
                <div class="col-md-10">{{selectedModelFromGraph.title}}</div>
              </div>


              <br/>

              <uib-tabset>
                <uib-tab heading="Directly defined">
                  <table class="table-bordered table table-condensed">
                    <tr><th>Path</th><th>Type</th><th>Card.</th></tr>
                    <tr ng-repeat="ed in selectedModelFromGraph.diff">
                      <td>
                        <div class="clickableDotted" uib-popover="{{ed.description}}"
                             popover-placement="right"
                             popover-trigger="'mouseenter'">{{ed.path}}</div>

                        <!--
                        <div style="padding-left: 8px"><em >{{ed.description}}</em></div>
-->
                      </td>
                      <td>{{ed.type[0]}}
                        <div class="clickable"><em>{{ed.valueSet}}</em></div>
                        <div><em>{{ed.fixedCoding}}</em></div>
                      </td>
                      <!--
                      <td>
                          <div ng-repeat="code in code">
                              {{code}}
                          </div>
                      </td>
                      -->
                      <td>{{ed.mult}}</td>
                    </tr>
                  </table>
                  <em>This is only elements directly defined in the DG, including overrides</em>

                </uib-tab>
                <uib-tab heading="Full list">

                  <table class="table-bordered table table-condensed">
                    <tr><th>Path</th><th>Type</th><th>Card.</th></tr>
                    <tr ng-repeat="item in selectedModelFromGraphFull">
                      <td>
                        <div class="clickableDotted" uib-popover="{{item.ed.description}}"
                             popover-placement="right"
                             popover-trigger="'mouseenter'">{{item.ed.path | dropFirstInPath}}</div>
                        <!--
                        {{item.ed.path}}
                        <div style="padding-left: 8px"><em >{{item.ed.description}}</em></div> -->
                      </td>
                      <td>{{item.ed.type[0]}}
                        <div class="clickable"><em>{{item.ed.valueSet}}</em></div>
                        <div><em>{{item.ed.fixedCoding}}</em></div>
                      </td>
                      <!--
                      <td>
                          <div ng-repeat="code in code">
                              {{code}}
                          </div>
                      </td>
                      -->
                      <td>{{item.ed.mult}}</td>
                    </tr>
                  </table>
                  <em>These are all elements, including inherited</em>

                </uib-tab>
              </uib-tabset>


            </uib-tab>
            <uib-tab heading="DG Json">
              <pre>{{selectedModelFromGraph | json}}</pre>
            </uib-tab>
          </uib-tabset>


        </div>
      </div>


    </uib-tab>

   <!--
<uib-tab ng-show="false" heading="Fixed values">
      todo: add other fixed types

      <br/>
      <div class="tableFixHead">
        <table class="table-bordered table">
          <thead>
          <tr><th>Path</th><th><th>Fixed value</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="ed in selectedModel.diff" ng-show="ed.fixedCoding">

            <td>{{ed.path}}</td>
            <td>{{ed.fixedCoding}}</td>

          </tr>
          </tbody>
        </table>
      </div>

    </uib-tab>
    -->

    <uib-tab heading="Relationships">

      <strong>DataGroups related to this one via the hierarchy</strong>
      <br/> <br/>
      <div class="row">
        <div class="col-md-3">

          <strong>Ancestry</strong>
          <br/>
          <div>
            <div ng-repeat="parent in relationshipsSummary.parents">
              <div class = 'clickable' ng-click="termSelectDG({DGName:parent},selectedModel.name)">{{hashAllDG[parent].title}}</div>
              <div>
                <i style="margin-left: 40px" class="glyphicon glyphicon-arrow-down"></i>
              </div>
            </div>

            <div ng-show="relationshipsSummary.parents.length > 0">
              <div  class="rounded-box">{{selectedModel.title}}</div>
            </div>

            <div  ng-show="relationshipsSummary.parents.length == 0">
              <em>There is no parent</em>
            </div>

          </div>

        </div>
        <div class="col-md-3">
          <strong>Direct children</strong>
          <br/>
          <div ng-repeat="child in relationshipsSummary.children">
            <div class = 'clickable' ng-click="termSelectDG({DGName:child},selectedModel.name)">{{hashAllDG[child].title}}</div>
          </div>

        </div>
        <div class="col-md-6">
          <strong>References directly from this DG</strong>
          <br/>
          <table class="table table-bordered">
            <tr><th>Path</th><th>Type</th></tr>
            <tr ng-repeat="reference in relationshipsSummary.references">
              <td>{{reference.path}}</td>
              <td>
                <div class = 'clickable' ng-click="termSelectDG({DGName:reference.type},selectedModel.name)">
                  {{reference.type}}
                </div>
              </td>
            </tr>
          </table>

        </div>
      </div>

<hr/>

      <strong>DataGroups and Compositions that reference this one</strong>
      <table class="table table-bordered">
        <tr><th>Name</th><th>Path</th><th>Kind</th><th>Card.</th><th>Mode</th></tr>
        <tr ng-repeat="item in xref[selectedModel.name] track by $index">
          <td>
            <div class="clickable" ng-click="selectModelFromList(item.name,item.kind)">
              {{item.name}}
            </div>


          </td>
          <td>{{item.path}}</td>
          <td>{{item.kind}}</td>
          <td>{{item.mult}}</td>
          <td>{{item.mode}}</td>
        </tr>
      </table>


<!--
      <pre>{{relationshipsSummary | json}}</pre>
-->
    </uib-tab>

    <uib-tab ng-show="false">
      <uib-tab-heading>Referenced by</uib-tab-heading>


      <table class="table table-bordered">
        <tr><th>Name</th><th>Path</th><th>Kind</th></tr>
        <tr ng-repeat="item in xref[selectedModel.name] track by $index">
          <td>
            <div class="clickable" ng-click="selectModelFromList(item.name,item.kind)">
              {{item.name}}
            </div>


          </td>
          <td>{{item.path}}</td>
          <td>{{item.kind}}</td>
        </tr>
      </table>





    </uib-tab>

    <uib-tab >



      <uib-tab-heading>
        Dependencies <span class="badge">{{selectedModel.ordering.length}} / {{allDependencies.length}}</span>
      </uib-tab-heading>


      <div ng-controller="orderingCtrl">
        <ng-include src="'/includes/ordering.html'"></ng-include>
      </div>

      <hr/>

      <h4>Dependencies</h4>

      <table class="table-bordered table">
        <tr><th>Target (what to hide)</th><th>Controlling element</th><th>Controller description</th><th>Op</th>
          <th>Value (that will show target)</th>
          <th ng-show="canEdit(selectedModel)">Delete</th>

        </tr>
        <tr ng-repeat="dep in allDependencies">
          <td>{{dep.path | dropFirstInPath}}</td>
          <td>{{dep.ew.source | dropFirstInPath}}</td>
          <td>{{dep.ed.description}}
            <div ng-show="dep.error">
              <div class="alert alert-danger">{{dep.error}}</div>
            </div>

          </td>
          <td>{{dep.ew.operator}}</td>
          <td>
            <div ng-show="dep.ew.value.code">{{dep.ew.value.code}} | {{dep.ew.value.display}}</div>
            <div ng-hide="dep.ew.value.code">{{dep.ew.value}}</div>
          </td>
          <td ng-show="canEdit(selectedModel)">
            <i style="color: red" class="glyphicon glyphicon-remove clickable"
               ng-click="removeEnableWhen($index,dep.path)"></i>
          </td>
        </tr>
      </table>

      <em>All of the hide / show dependencies in this DG</em>



    </uib-tab>


    <uib-tab>
      <uib-tab-heading>Full element list <span class="badge">{{fullElementList.length -1}}</span></uib-tab-heading>
      <!--
      <em class="pull-right">Expanded. Includes items with a Cardinality of 0..0</em>
-->
      <div class="pull-right">
        <div style="padding-top: 8px">
          <checkbox ng-model="input.showHiddenDGElement"></checkbox> Show hidden (0..0)
        </div>

      </div>


      <uib-tabset>
        <uib-tab heading="List">
          <div class="tableFixHead">
            <table class="table-bordered table">
              <thead>
              <tr><th ng-show="canEdit(selectedModel)"><span >Edit</span></th><th>Path</th><th>Title</th>
                <th>Description</th><th>Type</th><th>Mult.</th><th>Fixed value</th><th>Source</th>
                </tr>
              </thead>
              <tbody>
              <!---     <tr ng-repeat="element in fullElementList">-->
              <tr ng-repeat="element in fullElementList"
                  ng-class="{hideElement: element.ed.mult == '0..0'}"
                  ng-show="canShowDGElement(element,$index)"
                  ng-hideX="$index==0">

                <td ng-show="canEdit(selectedModel)">
                  <i   class="glyphicon glyphicon-edit pull-right clickable"
                     ng-click="editDGItem(element)"></i>
                </td>

                <td>
                  <div  ng-style="{ 'padding-left': (element.ed.path | pathindent) }">

                    <!-- {{element.path | dropFirstInPath}} -->
                    <div ng-hide="input.showFullModel">
                      {{element.ed.path | dropFirstInPath}}
                    </div>
                    <div ng-show="input.showFullModel">
                      {{element.ed.path | lastInPath}}

                    </div>



                  </div>


                </td>
                <td>{{element.ed.title}}</td>
                <td>

                  {{element.ed.description}}
                </td>
                <td>
                  <div ng-repeat="type in element.ed.type">
                    {{type}}
                  </div>
                  <div><em class="clickable" ng-click="viewVS(element.ed.valueSet)">{{element.ed.valueSet}}</em></div>
                </td>
                <td>{{element.ed.mult}}</td>
                <!--
                    <td>
                      <div ng-repeat="code in element.ed.code">
                        {{code.code}}
                      </div>

                    </td>
                -->
                <td>
                  <div>{{element.ed.fixedCoding.code}}</div>
                  <div>{{element.ed.fixedCoding.system}}</div>
                  <div>{{element.ed.fixedCoding.display}}</div>
                </td>
                <td>{{element.sourceModelName}}</td>





              </tr>
              </tbody>
            </table>
          </div>

        </uib-tab>
        <uib-tab heading="Json">
          <pre>{{fullElementList | json}}</pre>
        </uib-tab>
      </uib-tabset>

    </uib-tab>

    <uib-tab heading="Profiling">
      <br/>
      <div ng-controller="profilingDGCtrl">
        <ng-include src="'/includes/profilingDG.html'"></ng-include>
      </div>


    </uib-tab>




    <uib-tab heading="Form">

      <button class="btn-link btn pull-right" ng-click="previewQ(dgQ)">Examine Q</button>

      <renderform q="dgQ" qr="{}" form="{}"></renderform>


    </uib-tab>


    <uib-tab>
      <uib-tab-heading>Elements (diff) <span class="badge">{{selectedModel.diff.length}}</span> </uib-tab-heading>
      <em>The element definitions in the .diff element. ie directly defined in the DG. The Json has the complete model.</em>
      <br/><br/>
      <table class="table-condensed table table-bordered">
        <thead style="position:sticky;top:0">
        <tr><th>Path</th><th>Title</th><th>Description</th><th>Card.</th><th>Type</th><th></th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="ed in selectedModel.diff">
          <td>{{ed.path}}</td>
          <td>{{ed.title}}</td>
          <td>{{ed.description}}</td>
          <td>{{ed.mult}}</td>
          <td>{{ed.type[0]}}</td>
          <td>
            <i ng-show="canEdit(selectedModel)" class="btn btn-link glyphicon glyphicon-remove clickable"
               ng-click="deleteDGDiff($index)"></i>
          </td>
        </tr>
        </tbody>


      </table>
    </uib-tab>

    <uib-tab ng-show="false" heading="Audit">
      <!-- Audit only looks at hierarchy - not referenced DG-->
      <uib-tab-heading>Audit <span ng-show="dgAudit.lstRedundantEd.length > 0" class="badge">{{dgAudit.lstRedundantEd.length}}</span> </uib-tab-heading>
        <br/>
        <uib-tabset>

          <uib-tab heading="Diff Analysis">

            <div ng-show="dgAudit.lstRedundantEd.length > 0">
              <h4>Redundant diff entries - no matching parent element</h4>
              <table class="table-bordered table">
                <tr><th>Path</th><th>Title</th><th>Type</th><th>Card.</th></tr>
                <tr ng-repeat="row in dgAudit.lstRedundantEd">
                  <td>{{row.path}}</td>
                  <td>{{row.title}}</td>
                  <td>{{row.type[0]}}</td>
                  <td>{{row.mult}}</td>
                </tr>
              </table>
              <div>
                <div class="btn btn-link pull-right" ng-click="deleteAllRedundantDiff()">Delete all redundant diff</div>
              </div>
              <div class="clearfix"></div>

            </div>




            <h4>Diff entries that match a parent element</h4>
            <table class="table-bordered table">
              <tr><th>Path</th><th>Where defined</th><th>Type</th><th>Card.</th></tr>
              <tr ng-repeat="row in dgAudit.allElements" ng-show="row.mult == '0..0'">
                <td>{{row.path}}</td>
                <td>{{row.definedTitle}}</td>
                <td>{{row.type[0]}}</td>
                <td>{{row.mult}}</td>
              </tr>
            </table>



          </uib-tab>


          <uib-tab heading="All elements">

            <div class="row">
              <div class="col-md-12">
                <h4>All elements</h4>
                <table class="table-bordered table">
                  <tr><th>Path</th><th>Where defined</th><th>Type</th><th>Card.</th></tr>
                  <tr ng-repeat="row in dgAudit.allElements" ng-show="row.mult !== '0..0'">
                    <td>{{row.path}}</td>
                    <td>{{row.definedTitle}}</td>
                    <td>{{row.type[0]}}</td>
                    <td>{{row.mult}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-0">



              </div>
            </div>



          </uib-tab>
          <uib-tab heading="Json">
            <pre>{{dgAudit | json}}</pre>
          </uib-tab>
        </uib-tabset>





    </uib-tab>

    <uib-tab heading="Json">
      <em>The definition for this model (not expanded)</em>
      <span class="pull-right">
       <i class="glyphicon glyphicon-paperclip pull-right clickable"
          ng-click="copyToClipboard(selectedModel)"></i>
      </span>
      <pre>{{selectedModel | json}}</pre>
    </uib-tab>


  </uib-tabset>


</div>