<div>

  <style>
    .tnm {
      background-color: lightyellow;
    }
  </style>
  <!-- staging first panel -->
  <div>
  <table class="table table-bordered">
    <tr ng-repeat = "(k,v) in stagingProperties" ng-if="v.staging1">
      <td width = "30%">
        <span >{{v.UI}}</span>

        <i class=" glyphicon glyphicon-info-sign clickable pull-right"
           ng-click="viewConceptMap(k)"></i>

      </td>
      <td>
        <div class="row">
          <div class="col-md-10">
            <div>

              <!-- <div ng-show = "v.options.length > 1"> -->
              <div ng-show = "v.options.length > 0">

                <select class="form-control" ng-model="local.cmPropertyValue[k]"
                        ng-change="updateStaging(k)"
                        ng-options="v1.display for (k1,v1) in v.options">
                </select>

              </div>

<!--
              <div ng-show = "v.options.length == 1">

                <input type="text" class="form-control"  disabled="disabled" value="{{v.options[0].display}}"/>

              </div>
              -->

            </div>
          </div>
            <div class="col-md-2">
              <div ng-show = "v.options.length > 0">{{v.options.length}}</div>
            </div>
          </div>
      </td>
    </tr>

    <tr>
      <td colspan="2"></td>
    </tr>

    <!-- Staging prefix select-->
    <tr class="tnm">
      <td>Prefix / Suffix</td>
      <td>
          <span class="pull-right" >
          <checkbox ng-model="test"></checkbox> M (Multiple tumours)
        </span>

        <div ng-click="selectPrefix(staging.stagingPrefix)">
          <input type="radio" name="prefix" ng-model="staging.stagingPrefix" value=""
                 style="transform: scale(1.5)"
                 uib-popover="After diagnosis, before treatment"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"> No prefix</input>&nbsp;&nbsp;&nbsp;
          <input type="radio" name="prefix" ng-model="staging.stagingPrefix" value="y"
                 style="transform: scale(1.5)"
                 uib-popover="After therapy, before surgery"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"> Y</input>&nbsp;&nbsp;&nbsp;
          <input type="radio" name="prefix" ng-model="staging.stagingPrefix" value="r"
                 style="transform: scale(1.5)"
                 uib-popover="After recurrance"
                 popover-placement="top"
                 popover-trigger="'mouseenter'" > R</input>
        </div>



      </td>
    </tr>

    <!-- TNM values-->
    <tr class="tnm" ng-repeat = "(k,v) in TNMhash">
      <td>
        {{v.display}} category
        <i class=" glyphicon glyphicon-info-sign clickable pull-right"
           ng-click="viewConceptMap(v.propName)"></i>
      </td>



      <td>
        <div class="row" ng-show="v.options.length > 0">
          <div class="col-md-4">
            <select class="form-control"
                    ng-options="v.display for (k,v) in v.options"
                    ng-change="processTNMSelect(k,v)"
                    ng-model="local.cmPropertyValue[k]"></select>

          </div>
          <div class="col-md-4">
            <div uib-popover="{{v.prefixedPropertyCode}}"
                 popover-placement="top"
                 popover-trigger="'mouseenter'">
              {{v.prefixedProperty}}
            </div>

          </div>
          <div class="col-md-4">
            <input type="text" ng-model="staging.prefixedTNM[k].display"
                   uib-popover="{{staging.prefixedTNM[k].code}}"
                   popover-placement="top"
                   popover-trigger="'mouseenter'"
                   disabled = "disabled" class="form-control"/>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2"></td>
    </tr>

    <!-- staging properties values-->
    <tr ng-repeat = "(k,v) in stagingProperties" ng-if="v.staging3"
      ng-hide="staging.hide[k]">
      <td width = "30%">
        <span >{{v.UI}}</span>

        <i class=" glyphicon glyphicon-info-sign clickable pull-right"
           ng-click="viewConceptMap(k)"></i>

      </td>
      <td>

        <div class="row">
          <div class="col-md-10">
            <div>

              <div ng-show = "v.options.length >1">
                <select class="form-control" ng-model="local.cmPropertyValue[k]"
                        ng-change="makeDocument()"
                        ng-options="v1.display for (k1,v1) in v.options">

                </select>
              </div>

              <div ng-show = "v.options.length == 1">
                {{v.options[0].display}}
              </div>


            </div>
          </div>
          <div class="col-md-2">
            <div ng-show = "v.options.length > 0">{{v.options.length}}</div>



          </div>

        </div>
      </td>
    </tr>




  </table>
  </div>



  <!-- Staging TNM-->

  <!-- Staging last panel (? what name)-->


</div>