<div>

  <!-- staging first panel -->
  <table class="table table-bordered">
    <tr ng-repeat = "(k,v) in stagingProperties" ng-if="v.staging1">
      <td width = "30%">
        <span >{{v.UI}}</span>

        <i class=" glyphicon glyphicon-info-sign clickable pull-right"
           ng-click="viewConceptMap(k)"></i>

      </td>
      <td>
        <div class="row">
          <div class="col-md-10">
            <div>

              <div ng-show = "v.options.length > 1">
                <select class="form-control" ng-model="local.cmPropertyValue[k]"
                        ng-change="updateStaging()"
                        ng-options="v1.display for (k1,v1) in v.options">
                </select>
              </div>


              <div ng-show = "v.options.length == 1">
                {{v.options[0].display}}
              </div>

            </div>
          </div>
            <div class="col-md-2">



            </div>
          </div>
      </td>
    </tr>

    <!-- Staging prefix select-->
    <tr>
      <td>Prefix</td>
      <td>
        <div ng-click="selectPrefix(staging.stagingPrefix)">
          <input type="radio" name="prefix" ng-model="staging.stagingPrefix" value=""> No prefix</input>&nbsp;&nbsp;&nbsp;
          <input type="radio" name="prefix" ng-model="staging.stagingPrefix" value="y"> Y</input>&nbsp;&nbsp;&nbsp;
          <input type="radio" name="prefix" ng-model="staging.stagingPrefix" value="r"> R</input>
        </div>
      </td>
    </tr>

    <!-- TNM values-->
    <tr ng-repeat = "(k,v) in TNMhash">
      <td>
        {{k}} category
        <i class=" glyphicon glyphicon-info-sign clickable pull-right"
           ng-click="viewConceptMap(v.propName)"></i>
      </td>



      <td>
        <div class="row" ng-show="v.options.length > 0">
          <div class="col-md-4">
            <select class="form-control"
                    ng-options="v.display for (k,v) in v.options"
                    ng-change="processTNMSelect(k,v)"
                    ng-model="local.cmPropertyValue[k]"></select>

          </div>
          <div class="col-md-4">
            <div uib-popover="{{v.prefixedPropertyCode}}"
                 popover-placement="top"
                 popover-trigger="'mouseenter'">
              {{v.prefixedProperty}}
            </div>

          </div>
          <div class="col-md-4">
            <input type="text" ng-model="staging.prefixedTNM[k].display"
                   uib-popover="{{staging.prefixedTNM[k].code}}"
                   popover-placement="top"
                   popover-trigger="'mouseenter'"
                   disabled = "disabled" class="form-control"/>
          </div>
        </div>
      </td>
    </tr>

    <!-- ancillary studies values-->
    <tr ng-repeat = "(k,v) in stagingProperties" ng-if="v.staging3"
      ng-hide="staging.hide[k]">
      <td width = "30%">
        <span >{{v.UI}}</span>

        <i class=" glyphicon glyphicon-info-sign clickable pull-right"
           ng-click="viewConceptMap(k)"></i>

      </td>
      <td>

        <div class="row">
          <div class="col-md-10">
            <div>



              <div ng-show = "v.options.length >1">
                <select class="form-control" ng-model="local.cmPropertyValue[k]"
                        ng-change="makeDocument()"
                        ng-options="v1.display for (k1,v1) in v.options">

                </select>
              </div>

              <div ng-show = "v.options.length == 1">
                {{v.options[0].display}}
              </div>


            </div>
          </div>
          <div class="col-md-2">



          </div>

        </div>
      </td>
    </tr>




  </table>




  <!-- Staging TNM-->

  <!-- Staging last panel (? what name)-->


</div>