<div ng-controller="modelTermCtrl">

  <style>
    .issue {
      background-color: #f2dede;
    }
  </style>

  <br/>
  <div ng-click="updateTermSummary()" class="clickable pull-right">Refresh reports</div>

  <uib-tabset>

    <uib-tab heading="ValueSets">
      <div class="pull-right"> All ValueSets and where they are used. Also lists Options.
      </div>



      <div class="clearfix"></div>

      <h4>Elements with ValueSets</h4>
      <div class="tableFixHead">
        <table class="table table-bordered">
          <thead>
          <tr><th>ValueSet Name</th><th>Where used</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="v in ::arVsSummary" ng-class="{issue:v.issue}" ng-if="v[0].isValueSet">
            <td>
              <span class = 'clickable' ng-click="viewVS(v.url)">{{v.url}}</span>
            </td>

            <td>
              <div ng-repeat = "item in ::v">
                <div ng-if="item.DGName">
                  DG: <span class="clickable" ng-click="termSelectDG(item)" >{{::item.DGName}}</span>.
                  Path: <span class="clickable" ng-click="termSelectDGItem(item)">{{::item.path}}</span>
                  <span ng-if = item.options>
                  There are <span class="clickable " ng-click="viewOptions(item)">{{::item.options.length}} options</span> defined.
                </span>
                </div>

                <div ng-if="item.compName">
                  Comp: <span class="clickable" ng-click="termSelectComp(item)" >{{::item.compName}}</span>.
                  Path: <span class="clickable" ng-click="termSelectCompItem(item)">{{::item.path}}</span>
                  <span ng-if = item.options>
                  There are <span class="clickable " ng-click="viewOptions(item)">{{::item.options.length}} options</span> defined.
                </span>
                </div>

              </div>
            </td>
          </tr>
          </tbody>

        </table>
      </div>


    </uib-tab>


    <uib-tab heading="Options only">
      <div class="pull-right"> All ValueSets and where they are used. Also lists Options.
      </div>



      <div class="clearfix"></div>

      <h4>Elements with Options but no ValueSets</h4>
      <div class="tableFixHead">
        <table class="table table-bordered">
          <thead>
          <tr><th>DG Name-Path</th><th>Where used</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="v in ::arVsSummary" ng-class="{issue:v.issue}" ng-if="! v[0].isValueSet">
            <td>
              {{v.url}}
            </td>

            <td>
              <div ng-repeat = "item in ::v">
                <div ng-if="item.DGName">
                  DG: <span class="clickable" ng-click="termSelectDG(item)" >{{::item.DGName}}</span>.
                  Path: <span class="clickable" ng-click="termSelectDGItem(item)">{{::item.path}}</span>
                  <span ng-if = item.options>
                  There are <span class="clickable " ng-click="viewOptions(item)">{{::item.options.length}} options</span> defined.
                </span>
                </div>

                <div ng-if="item.compName">
                  Comp: <span class="clickable" ng-click="termSelectComp(item)" >{{::item.compName}}</span>.
                  Path: <span class="clickable" ng-click="termSelectCompItem(item)">{{::item.path}}</span>
                  <span ng-if = item.options>
                  There are <span class="clickable " ng-click="viewOptions(item)">{{::item.options.length}} options</span> defined.
                </span>
                </div>

              </div>
            </td>
          </tr>
          </tbody>

        </table>
      </div>


    </uib-tab>


    <uib-tab heading = "DataGroups">


      <div class="pull-right"> CodeableConcepts in the DataGroup. This is only in the DG - not in referenced DGs.
       </div>



      <div class="clearfix"></div>

      <div class="tableFixHead">
        <table class="table table-bordered">
          <thead>
          <tr><th>DG Name</th><th>DG title</th><th>Element path</th>
            <th>Element title</th><th>Element description</th><th>Element ValueSet</th><th># options</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in ::termSummary">
            <td>
              <span class="clickable" ng-click="termSelectDG(item)">{{::item.DGName}}</span>
            </td>
            <td>{{item.DGTitle}}</td>

            <td>
              <span class="clickable" ng-click="termSelectDGItem(item)">{{::item.path}}</span>
            </td>



            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>
              <span class = 'clickable' ng-click="viewVS(item.valueSet)">{{::item.valueSet}}</span>

            </td>
            <td>
              <span class="clickable " ng-click="viewOptions(item)">{{::item.options.length}}</span>
            </td>
          </tr>
          </tbody>


        </table>
      </div>
    </uib-tab>

    <uib-tab heading = "Codes">
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Filter" ng-model="input.filterCodeReport"/>
        </div>
      </div>

      <div class="tableFixHead">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr><th>Code|System</th><th>Display</th><th>Where used</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="(k,v) in ::codeSummary" ng-if="canShowCodeReportLine(k)">
            <td>{{k}}</td>
            <td>{{v.display}}</td>
            <td>
              <div ng-repeat="item in v.lst">
                DG: <span class="clickable" ng-click="termSelectDG(item)" >{{::item.DGName}}</span>
                Path: <span class="clickable" ng-click="termSelectDGItem(item)">{{::item.path}}</span>
                Type: <span>{{item.type}}</span>

              </div>
            </td>
          </tr>
          </tbody>

        </table>
      </div>


    </uib-tab>


    <uib-tab heading = "Compositions">
      <div class="pull-right"> Composition overrides. Often (but not always) Terminology.</div>


      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Composition name</th><th>Path</th><th>Title</th><th>Description</th><th>ValueSet</th><th>Previous ValueSet</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in ::compTermSummary">
        <td>{{::item.compName}}</td>
        <td>{{::item.ov.path}}</td>
        <td>{{::item.ov.title}}</td>
        <td>{{::item.ov.description}}</td>
        <td>
          <span class = 'clickable' ng-click="viewVS(item.ov.valueSet)">{{::item.ov.valueSet}}</span>

        </td>
        <td>
          <span class = 'clickable' ng-click="viewVS(item.ov.oldValueSet)">{{::item.ov.oldValueSet}}</span>

        </td>
      </tr>
      </tbody>
      </table>

    </uib-tab>

    <uib-tab heading="Notes">
      <div class="pull-right">Notes across all resources
      </div>

      <div class="clearfix"/>

      <div class="tableFixHead">
        <table class="table table-bordered">
          <thead>
          <tr><th>Name</th><th>Type</th><th>Path</th><th>Note</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in ::notesSummary">
            <td>
              <span class="clickable" ng-click="termSelectDG(item)">{{::item.hiddenDGName}}</span>
            </td>
            <td>{{item.type}}</td>
            <td>
              <span class="clickable" ng-click="termSelectDGItem(item)">{{::item.path}}</span>

            </td>
            <td>{{item.notes}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>



  </uib-tabset>


</div>


