<div>
  <style>
    .different {
      background-color: mistyrose;
    }
  </style>


  <div ng-hide = "analysingUnpublished" class="clickable pull-right" ng-click="analyseUnpublished()">Perform analysis </div>
  <div ng-show = "analysingUnpublished" class="pull-right">Performing analysis, please wait...</div>


  <pre ng-if="unpublishedReport">{{unpublishedReport.log | json}}</pre>

  <uib-tabset ng-if="unpublishedReport">


    <uib-tab heading="All VS with unpublished">
      <br/>
      <table class="table-condensed table table-bordered">
        <tr><th>Name</th><th>Previously unpublished</th><th>Remaining unpublished</th><th></th></tr>
        <tr ng-repeat="row in unpublishedSummary"
          ng-class="{different:row.originalUnpublished.length !== row.newUnpublished.length}">
          <td>
            <div class="clickable"   ng-click="displayJson(row.vs)"> {{row.name}}</div>
          </td>

          <td>
            <div class="badge">{{row.originalUnpublished.length}}</div>
            <div ng-show="input.showTableCell[$index]">
              <div ng-repeat="concept in row.originalUnpublished">
                {{concept.code}} {{concept.display}}
              </div>
            </div>


          </td>
          <td><div class="badge">{{row.newUnpublished.length}}</div>
            <div ng-show="input.showTableCell[$index]">
              <div ng-repeat="concept in row.newUnpublished">
                {{concept.code}} {{concept.display}}
              </div>
            </div>

           </td>
          <td>
            <button class="btn btn-link" ng-click="input.showTableCell[$index] = ! input.showTableCell[$index]">Show</button>
            <button class="btn btn-link" ng-click="selectFromUnpublished(row.vs)">Select</button>



          </td>
        </tr>
      </table>


    </uib-tab>

    <uib-tab heading="Changes">
      <br/>
      <pre>{{unpublishedReport.arChanges | json}}</pre>
    </uib-tab>

    <uib-tab heading="CodeSystem">
      <uib-tabset>
        <uib-tab heading="Table">

          <table class="table-condensed table table-bordered">
            <tr ng-repeat="concept in unpublishedReport.cs.concept">
              <td>{{concept.code}}</td>
              <td>{{concept.display}}</td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Json">
          <div>{{unpublishedReport.cs.concept.length}}</div>
          <pre>{{unpublishedReport.cs | json}}</pre>
        </uib-tab>
      </uib-tabset>


    </uib-tab>

    <uib-tab heading="Updated VS Bundle">
      <br/>
      <pre>{{unpublishedReport.updateBatch | json}}</pre>
    </uib-tab>

    <!--
    <uib-tab heading="Originals">
      {{Object.keys(unpublishedReport.hashOriginal).length}}
      <pre>{{unpublishedReport.hashOriginal | json}}</pre>
    </uib-tab>
-->

  </uib-tabset>


</div>