<div>
  <style>
    .different {
      background-color: mistyrose;
    }
  </style>




<div class="row">
  <div class="col-md-9">
    <ul>
      <li ng-repeat="lne in unpublishedReport.log">
        {{lne}}
      </li>
    </ul>

  </div>
  <div class="col-md-3">
    <div ng-hide = "analysingUnpublished" class="clickable pull-right" ng-click="analyseUnpublished()">Perform analysis </div>
    <div ng-show = "analysingUnpublished" class="pull-right">Performing analysis, please wait...</div>

    <div ng-show = "unpublishedReport">
      <br/>
      <button class="btn btn-danger pull-right"
              ng-if="unpublishedReport.updateBatch.entry.length > 0"
              ng-click="updateUnpublished()">Update Server</button>

    </div>


    <div class="clearfix"></div>
  </div>
</div>




  <uib-tabset ng-if="unpublishedReport">


    <uib-tab heading="All VS with unpublished">
      <br/>
      <table class="table-condensed table table-bordered">
        <tr><th>Name</th><th>Previously unpublished</th><th>Remaining unpublished</th><th></th></tr>
        <tr ng-repeat="row in unpublishedSummary"
          ng-class="{different:row.originalUnpublished.length !== row.newUnpublished.length}">
          <td>
            <div class="clickable"   ng-click="displayJson(row.vs)"> {{row.name}}</div>
          </td>

          <td>
            <div class="badge">{{row.originalUnpublished.length}}</div>
            <div ng-show="input.showTableCell[$index]">
              <div ng-repeat="concept in row.originalUnpublished">
                {{concept.code}} {{concept.display}}
              </div>
            </div>


          </td>
          <td><div class="badge">{{row.newUnpublished.length}}</div>
            <div ng-show="input.showTableCell[$index]">
              <div ng-repeat="concept in row.newUnpublished">
                {{concept.code}} {{concept.display}}
              </div>
            </div>

           </td>
          <td>
            <button class="btn btn-link" ng-click="input.showTableCell[$index] = ! input.showTableCell[$index]">Show</button>
            <button class="btn btn-link" ng-click="selectFromUnpublished(row.vs)">Select</button>



          </td>
        </tr>
      </table>


    </uib-tab>

    <uib-tab heading="Changes">
      <br/>
      <pre>{{unpublishedReport.arChanges | json}}</pre>
    </uib-tab>

    <uib-tab heading="New CodeSystem">
      <uib-tabset>
        <uib-tab heading="Table">

          <table class="table-condensed table table-bordered">
            <tr ng-repeat="concept in unpublishedReport.cs.concept">
              <td>{{concept.code}}</td>
              <td>{{concept.display}}</td>
            </tr>
          </table>
        </uib-tab>
        <uib-tab heading="Json">
          <div>{{unpublishedReport.cs.concept.length}}</div>
          <pre>{{unpublishedReport.cs | json}}</pre>
        </uib-tab>
      </uib-tabset>


    </uib-tab>

    <uib-tab heading="Updated VS Bundle">
      <br/>
      <pre>{{unpublishedReport.updateBatch | json}}</pre>
    </uib-tab>

    <uib-tab ng-if="unpublishedUploadErrors" heading="Errors during update">
      <table class="table-bordered table">
        <tr ng-repeat="lne in unpublishedUploadErrors.errors">
          <td>{{lne.id}}</td>
          <td>{{lne.error}}{{lne.httpError}}{{lne.httpStatus}}

          </td>
        </tr>
      </table>

    </uib-tab>



  </uib-tabset>


</div>