<div>
  <div class="row">
    <div class="col-md-6">

      <uib-tabset>
        <uib-tab heading="Json to upload">
          <div class="banner">Paste ConceptMap here</div>
          <textarea class="form-control" rows="20" ng-model="input.cmJson"></textarea>
        </uib-tab>
        <uib-tab heading="Parsed ConceptMap">
          <pre>{{cmUpload | json}}</pre>

        </uib-tab>
      </uib-tabset>


      <div>
        <div class="pull-right clickable " ng-show="input.cmJson" ng-click="parseUCM()">Parse</div>
      </div>


    </div>
    <div class="col-md-6">
      <div class="banner">MetaData</div>

      <table class="table table-bordered" ng-if="cmUpload.group.length > 0">
        <tr>
          <td>Id</td>
          <td><input type="text" class="form-control"
                     ng-blur = "setUrl(cmUpload.id)"
                     ng-model="cmUpload.id"/> </td>
        </tr>
        <tr>
          <td>Url</td>
          <td>{{cmUpload.url}} </td>
        </tr>
        <tr>
          <td>Identifier</td>
          <td>
            System: {{cmUpload.identifier.system}} <div>value: {{cmUpload.identifier.value}}</div>
          </td>
        </tr>
        <tr>

          <td>Status</td>
          <td>
            <select style="width: 150px" class="form-control" ng-model="cmUpload.status">
              <option value="draft">draft</option>
              <option value="active">active</option>
              <option value="retired">retired</option>
              <option value="unknown">unknown</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>Title</td>
          <td><input type="text" class="form-control" ng-model="cmUpload.title"/> </td>
        </tr>

        <tr>
          <td>Description</td>
          <td><textarea class="form-control" ng-model="cmUpload.description"></textarea> </td>
        </tr>

        <tr>
          <td>Source CodeSystem</td>
          <td><input type="text" class="form-control"
                     ng-blur="checkCS(input.sourceCS)"
                     ng-model="input.sourceCS"/> </td>
        </tr>

        <tr>
          <td>Don't Syndicate</td>
          <td><checkbox ng-model="cmUpload.experimental"></checkbox>  <em>If checked, ConceptMap will NOT be syndicated</em></td>
        </tr>

      </table>

      <div class="row" ng-show="message && input.sourceCS">
        <div class="col-md-8">
          <div ng-show="exists" class="alert alert-danger">{{message}}</div>
          <div ng-hide="exists" class="alert alert-info">{{message}}</div>
        </div>
        <div class="col-md-4">
          <div class="pull-right btn btn-danger"  ng-click="uploadUCM(cmUpload.id)">Upload</div>
        </div>
      </div>


    </div>
  </div>
</div>