<div>
  <!--<div ng-controller="newResourceCtrl">-->

  <div class="modal-header">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">
          CM viewer: {{conceptMap.id}}
        </h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>

      </div>
    </div>

  </div>
  <div class="modal-body">
    <uib-tabset>
      <uib-tab heading="ConceptMap View">

        <br/>



        <div class="row">
          <div class="col-md-3">
            <div class="banner">Elements<br/>
              (Properties)<br/></div>
            <div class="myScroll">
              <div class="list-group">
                <div ng-class="{'list-group-item':true,listItemSelected:element == input.cmElement}"
                     ng-click="selectCmElement(element)"
                     style="cursor: pointer"
                     ng-repeat="element in sortedElements">
                  {{element.display}}
                  <span class="pull-right badge">{{element.target.length}}</span>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-9" ng-if="input.cmElement">

            <div class="banner">
              {{input.cmElement.display}}
              <div>{{input.cmElement.code}} {{conceptMap.group[0].source}}</div>
            </div>



            <uib-tabset>
              <uib-tab>
                <uib-tab-heading>Targets <span class="badge">{{input.cmElement.target.length}}</span> </uib-tab-heading>

                <div class="myScroll">
                  <table class="table-bordered table-condensed table">
                    <tr><th>Depends On elements</th><th>Target VS / code</th></tr>
                    <tr ng-repeat="target in input.cmElement.target">


                      <td>
                        <table class="table-bordered table-condensed table">
                          <tr><th>Property</th><th>Operator</th><th>Value</th><th>Display</th></tr>
                          <tr ng-repeat = "don in target.dependsOn">
                            <td>{{don.property}}</td>
                            <td>{{updateVSSvc.getCMOperator(don)}}</td>
                            <td>
                              <div ng-if="don['x-operator']=='in-vs'"
                                   class="clickable"
                                   ng-click="viewVS(don.value)" >{{don.value}}</div>

                              <div ng-if="don['x-operator']!=='in-vs'">{{don.value}}</div>

                            </td>
                            <td>{{don.display}}</td>
                          </tr>
                        </table>

                      </td>
                      <td style="width: 30%">
                        <div ng-if = "target.code.indexOf('http') > -1 " class="clickable" ng-click="viewVS(target.code)">{{target.display}}</div>
                        <div ng-if = "target.code.indexOf('http') == -1 ">{{target.display}} ({{target.code}})</div>

                        <!--
                        <div>{{target.code | lastInUrl}}</div>
                        -->
                        <div ng-if="target.comment">Row: {{target.comment}}</div>

                      </td>
                    </tr>
                  </table>
                </div>


              </uib-tab>

              <uib-tab>

                <uib-tab-heading>Other properties <span class="badge">{{hashPropertyCount}}</span> </uib-tab-heading>


                <em>Other properties / elements whose value has an effect on this (they are in target.dependsOn).
                The matching process uses the forward rules engine.</em>
                <br/><br/>
                <div class="alert alert-warning" ng-if="noVS">
                  This list will be incomplete (no 'in-vs' rules could be expanded. Invoke from the dynamic
                  UI for full functionality
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-bordered">
                      <tr ng-repeat="(k,v) in hashProperty">
                        <td>{{k}}</td>
                        <td>

                          <select class="form-control" ng-model = "input.testCode[k]"
                                  ng-change = "lookupTargets()"
                                  ng-options="c.display for c in v"></select>
                          <div>{{input.testCode[k].code}}</div>

                        </td>
                        <td>{{v.length}}</td>
                      </tr>
                    </table>


                    <pre>{{hashPropertyValue | json}}</pre>
                  </div>
                  <div class="col-md-6">
                    <!--
                    <div class="clickable pull-right" ng-click="lookupTargets()">Lookup</div>
                    -->


                    <!--
                    <table class="table table-bordered">
                      <tr ng-repeat="(k,v) in hashProperty">
                        <td>{{k}}</td>
                        <td>
                          {{input.testCode[k]}}

                        </td>

                      </tr>
                    </table>


                    <br/><br/>
                    -->
                    <div ng-if="matchingTargets.length > 0">
                      <strong>Targets that matched</strong>
                      <table class="table table-bordered">
                        <tr><th>Row</th><th>Code</th></tr>
                        <tr ng-repeat="target in matchingTargets">
                          <td>{{target.comment}}</td>
                          <td>{{target.code}}</td>
                        </tr>
                      </table>


                      <strong>ValueSets and Concepts</strong>
                      <div ng-repeat = "vs in matchingVS track by $index">
                        <div ng-if="vs.indexOf('http') > -1"
                             class="clickable"
                             ng-click="viewVS(vs)" >{{vs}}</div>

                        <div ng-if="vs.indexOf('http') == -1">{{vs}}</div>
                      </div>

                    </div>


                  </div>
                </div>

              </uib-tab>

              <uib-tab>
                <uib-tab-heading>Properties that depend on this <span class="badge">{{thisEffectsCount}}</span> </uib-tab-heading>
                <em>Other properties / elements that are effected by the value of this one</em>
                <br/>
                <div class="myScrollSmallest">
                  <table class="table table-bordered">
                    <tr ng-repeat="(k,v) in thisEffects">
                      <td>
                        <div class="clickable" ng-click="selectElement(v)"> {{v.display}}</div>
                      </td>
                      <td>{{k}}</td>
                    </tr>
                  </table>
                </div>


              </uib-tab>




              <uib-tab heading="Element Json">
                <div class="myScroll">
                  <pre>{{input.cmElement | json}}</pre>
                </div>
              </uib-tab>

            </uib-tabset>
          </div>
        </div>

      </uib-tab>
      <uib-tab ng-if="data" heading="Current Data">
        <table class="table-bordered table">
          <tr><th>Property</th><th>Result display</th><th>Result code</th>
            <th>Result system</th></tr>

          <tr ng-repeat="item in sortedData">
            <td>{{item.propKey}}</td>
            <td>{{item.display}}</td>
            <td>
              <div class="clickable" ng-click="lookup(item.code,item.system)">
                {{item.code}}
              </div>

            </td>

            <td>{{item.system}}</td>
          </tr>
        </table>
<!--
        <pre>{{data | json}}</pre>
-->
      </uib-tab>

      <uib-tab heading="Json">
        <div class="myScroll">
          <pre>{{conceptMap | json}}</pre>
        </div>

      </uib-tab>
    </uib-tabset>



  </div>
  <div class="modal-header">

  </div>
</div>