
<div>


  <style>



  </style>

  <div class="modal-header">

    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">DG Diff</h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>
      </div>


    </div>

  </div>
  <div class="modal-body">

    <uib-tabset>
      <uib-tab heading="Table">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered">
              <tr><th>Path</th><th>Local</th><th>Component</th></tr>
              <tr ng-repeat="(k,v) in rowsHash"
                  ng-class="{listItemSelected:k == selectedPath}"
                ng-click="selectRow(k,v)">
                <td>{{k}}</td>
                <td>{{v.local.title}}</td>
                <td>{{v.component.title}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6" ng-if="selectedPath">


            <table class="table table-bordered">
              <tr><th>Path</th><th>Local</th><th>Component</th></tr>
              <tr ng-repeat="(k,v) in elementsHash"
                  ng-class="{listItemSelected:k == selectedPath,isEqual : v.isEqual}"
                  ng-click="selectRowXX(k,v)">
                <td>{{k}}</td>
                <td>{{v.local}}</td>
                <td>{{v.component}}</td>
              </tr>
            </table>



            <strong>Local Element</strong>
            <pre>{{selectedLocalEl | json}}</pre>

            <strong>Component Element</strong>
            <pre>{{selectedComponentEl | json}}</pre>
          </div>
        </div>

      </uib-tab>

      <uib-tab heading="Json">

        <div class="row">
          <div class="col-md-6">
            <strong>Local DG</strong>
            <pre>{{localDG | json}}</pre>
          </div>
          <div class="col-md-6">
            <strong>Component DG</strong>
            <pre>{{componentDG | json}}</pre>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>

  </div>

</div>