
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <style>
        .model-vlg {

        }
        .overridden {
            font-weight: bold;
        }

        .required {
            color:red
        }
    </style>
    <div class="modal-header">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">
                    <div ng-hide="model.name">New DataGroup</div>
                    DataGroup: {{model.name}}
                </h3>
            </div>


            <div class="col-md-4 col-sm-4">

                <button ng-show="isNew" class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>


                <button ng-show = "model.name && model.title"
                        class="btn btn-primary pull-right" ng-click="save()">Close</button>
            </div>
        </div>

    </div>
    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="Model details">
                <br/>

                <div class="row">
                    <div class="col-md-2">
                        Name
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               ng-disabled = "! isNew"
                               ng-change="checkName(input.newModelName)"
                               ng-blur = "checkExpand()"
                               class = "form-control" ng-model="input.newModelName"/>

                        <div style="color: green" ng-show="isNew && isUnique">Name is unique</div>
                        <div style="color: red "ng-show="isNew && input.newModelName && ! isUnique">Name already in use</div>

                    </div>
                    <div class="col-md-6">
                        The model name will serve as the 'type' of the model should others
                        reference it, so must be a single word (no spaces) and unique. This will be validated.

                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        Title
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               ng-change="setModelAttribute('title',input.newModelTitle)"
                               class = "form-control" ng-model="input.newModelTitle"/>
                    </div>
                    <div class="col-md-6">
                        The model title describes what the model is about. Keep it short 2-4 words.
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        Parent
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="input.newModelParent"
                                ng-change="setModelAttribute('parent',input.newModelParent)"
                                ng-options = "parent for parent in input.possibleParents"></select>
                    </div>
                    <div class="col-md-1">
                        <button ng-show="input.newModelParent" class="btn btn-link"
                                ng-click="deleteParent()">Delete</button>
                    </div>
                    <div class="col-md-6">
                        If a parent is assigned to the model, then it will inherit all the elements
                        in that parent - and the parent's parent's as well. Individual elements can be
                        removed or altered if needed.
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        Resource Type
                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="eg Observation" class="form-control" ng-model="input.type">
                    </div>
                    <div class="col-md-6">
                        If set to a FHIR resource type,
                        <a target="_blank" href="https://build.fhir.org/ig/HL7/sdc/extraction.html#definition-extract">Definition based data extraction</a> will be enabled

                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        Source reference
                    </div>
                    <div class="col-md-4">
                        <textarea ng-change="setModelAttribute('sourceReference',input.sourceReference)"
                                  class = "form-control" ng-model="input.sourceReference">

                        </textarea>
                        <!--
                        <input type="text"
                               ng-change="setModelAttribute('sourceReference',input.sourceReference)"
                               class = "form-control" ng-model="input.sourceReference"/>
                        -->
                    </div>
                    <div class="col-md-6">
                        The source of the information that defined the contents of this Data Group.
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-2">
                        Prepop query
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" ng-model="model.prePopQuery"></textarea>
                    </div>
                    <div class="col-md-4">
                        A query that will extract data to be used for pre-populating members of this DG.
                        The name of the variable in the Q will be the DG name.
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-2">
                        Description
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control" ng-model="input.newModelDescription"
                                  ng-change="setModelAttribute('description',input.newModelDescription)" ></textarea>
                    </div>

                </div>




            </uib-tab>

            <uib-tab heading="Base model content">
                <em class="pull-right">Content directly defined by this model</em>

                <uib-tabset>
                    <uib-tab heading="Table view (for adding / moving / deleting)">
                        <table class="table table-bordered">
                            <tr><th>Path</th><th>Title</th><th>Type</th><th>Description</th><th>Card.</th><th>Move</th><th>Edit</th></tr>
                            <tr ng-repeat="element in model.diff">
                                <td>{{element.path}}</td>
                                <td>{{element.title}}</td>
                                <td>
                                    <div ng-repeat="type in element.type">
                                        {{type}}

                                    </div>

                                    <div ng-show="element.valueSet">
                                        {{element.valueSet}}
                                    </div>

                                </td>
                                <td>
                                    {{element.description}}
<!--
                                    <div ng-repeat="code in element.code">
                                        {{code.code}}
                                    </div>
                                    -->

                                </td>
                                <td>{{element.mult}}</td>
                                <td>
                            <span ng-show="$index > 0">
                                <i class="glyphicon glyphicon-arrow-up pull-right clickable"
                                   ng-click="moveUp($index)"></i>
                            </span>
                                    <span ng-show="$index < model.diff.length -1">
                                <i class="glyphicon glyphicon-arrow-down clickable"
                                   ng-click="moveDn($index)"></i>
                            </span>
                                </td>
                                <td>
                                    <i style="color: red" class="glyphicon glyphicon-remove clickable"
                                       ng-click="remove($index)"></i>

                                </td>
                            </tr>
                            <tr>

                                <td><input class="form-control" type="text"
                                           ng-change="checkDuplicatePath(input.path)"
                                           ng-model="input.path" ng-blur="setTitle(input.path)"/>

                                    <div ng-show="isDuplicatePath" style="color: red;text-decoration-style: dotted"
                                       uib-popover="This name has already been used in this DG, or inherited from a parent."
                                       popover-placement="top"
                                       popover-trigger="'mouseenter'">Duplicate path name</div>
                                </td>
                                <td><input class="form-control" type="text" ng-model="input.title"/></td>
                                <td>
                                    <select class="form-control" ng-model="input.type"
                                            ng-options = "type for type in input.types">
                                    </select>

                                    <!--
                                    <div ng-show ="input.type == 'CodeableConcept'">
                                        <select class="form-control" ng-model="input.valueSet"
                                                ng-options = "type for type in input.valueSets">
                                        </select>
                                    </div>
                                    -->

                                </td>
                                <td><textarea class="form-control" type="text" ng-model="input.description"></textarea></td>
                              <!--  <td><input class="form-control" type="text" ng-model="input.code"/></td> -->
                                <td><select class="form-control" ng-model="input.card"
                                            ng-options = "card for card in input.cards"></select></td>
                                <td></td>
                                <td>
                                    <i style="color: green" class="glyphicon glyphicon-ok clickable"
                                       ng-show="input.path && input.title && input.type"
                                       ng-click="add()"></i>
                                </td>

                            </tr>


                        </table>
                    </uib-tab>
                    <uib-tab ng-show="false" heading="List view (for editing)">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="list-group">
                                    <div ng-class={"list-group-item":true,listItemSelected:selectedElementFromList==element}
                                         style="cursor: pointer"
                                         ng-click = "selectElementFromList(element)"
                                         ng-repeat="element in model.diff">
                                        {{element.path}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-9" ng-show="selectedElementFromList.path">
                                <div class="pull-right">
                                    <button class="btn btn-link" ng-click="updateElementFromList()">Update</button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Title
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class = "form-control"
                                               ng-model="edit.title"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Cardinality
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class = "form-control"
                                               ng-model="edit.mult"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        Code
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class = "form-control"
                                               ng-model="edit.code"/>
                                    </div>
                                </div>

                                <pre>{{selectedElementFromList | json}}</pre>

                            </div>
                        </div>

                    </uib-tab>
                </uib-tabset>



            </uib-tab>

            <uib-tab heading="Expanded model" >
                <em class="pull-right">Full expansion - parents and DataGroups</em>
                <table class="table table-bordered">
                    <tr><th>Path</th><th>Title</th><th>Type</th><th>Code</th><th>Card.</th><th>Fixed value</th><th>Source DG</th></tr>
                    <tr ng-repeat="element in allElements"
                        ng-class = "{required:isRequired(element),overridden: hasBeenOverridden(element)}">
                        <td>
                            <div  ng-style="{ 'padding-left': (element.ed.path | pathindent) }">
                                <!--{{element.ed.path | dropFirstInPath}}
                                -->
                                {{element.ed.path | lastInPath}}
                            </div>
                        </td>
                        <td>{{element.ed.title}}</td>
                        <td>
                            <div ng-repeat="type in element.ed.type">
                                {{type}}
                            </div>

                            <div ng-show="element.ed.valueSet">
                                {{element.ed.valueSet}}
                            </div>

                        </td>
                        <td>

                            <div ng-repeat="code in element.ed.code">
                                {{code.code}}
                            </div>

                        </td>
                        <td>{{element.ed.mult}}</td>
                        <td>
                            {{element.ed.fixedCoding}}

                        </td>
                        <td>{{element.sourceModelName}}</td>

                    </tr>
                </table>



            </uib-tab>

            <uib-tab ng-if = "false" heading="Import">
                <button class="btn btn-link pull-right" ng-click="import(input.import)">Import</button>

                <br/>

                <textarea rows="10" ng-model="input.import" class="form-control"></textarea>


            </uib-tab>

            <uib-tab heading="Pre-pop">
                <br/>


                <em>Named queries used by this DG. Will appear as variables in the Questionnaire</em>
                <table class="table table-bordered">
                    <tr ng-repeat="nq in namedQueries">
                        <td>{{nq.name}}</td>
                        <td>{{nq.description}}</td>
                        <td>{{nq.contents}}</td>
                        <td> <checkbox ng-model="input.nq[nq.name]" </td>

                    </tr>
                </table>

                <em>Named queries will be rendered as Variable extensions in the Q.
                This means they are available for pre-population expressions in this DG</em>

                <!--
                               <div class="row">
                                   <div class="col-md-6">
                                       <textarea class="form-control" ng-model="model.prePopQuery"></textarea>
                                   </div>
                                   <div class="col-md-6">

                                   </div>
                               </div>

                                <table class="table table-bordered">
                                    <tr ng-repeat="nqName in model.namedQueries">
                                        <td>{{nqName}}</td>
                                        <td>{{hashNamedQueries[nqName].description}}</td>
                                        <td>{{hashNamedQueries[nqName].contents}}</td>

                                        <td><button class="btn-link btn" ng-click="removeNQ($index)">Remove</button> </td>
                                    </tr>
                                </table>


                                <strong>All named queries</strong>

                                <div class="row">

                                    <div class="col-md-5">
                                        <select class="form-control" ng-model="input.selectedNQ"
                                                ng-options="nq.description for nq in namedQueries"/>
                                    </div>
                                    <div class="col-md-6">
                                        <div>{{input.selectedNQ.description}}</div>
                                        <div>{{input.selectedNQ.contents}}</div>

                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary" ng-click="addNQ(input.selectedNQ)">Add</button>
                                    </div>

                                </div>

                                <em>These are the FHIR queries (if any) that will provide data that can be used by elements
                                    within the DataGroup for pre-population</em>

                                -->

            </uib-tab>

            <uib-tab heading="Json">
                <pre>{{model | json}}</pre>
            </uib-tab>
        </uib-tabset>




    </div>


    <div class="modal-header">

        <div ng-show="model.parent">
            DataGroup parent: <em>{{model.parent}}</em>

        </div>
        <div ng-hide="model.parent">
            <em>This model does not have a parent</em>

        </div>

        {{selectedTab}}
    </div>
</div>
