
<div>

  <div class="modal-header">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">
          Import CM config
        </h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
        <button ng-show = "input.name && input.title"
                class="btn btn-primary pull-right" ng-click="save()">Close</button>
      </div>
    </div>

  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <input type="file" id="fileUploadFileRef" accept="application/json" />
      </div>
      <div class="col-md-6 col-sm-6">
        <button class="btn btn-link" ng-click="uploadJson()">Import Json file</button>
      </div>
    </div>




  </div>
  <div class="modal-header">
    <em>Import a Json config file into the current environment. Should really be an export from
    the app - perhaps modified but the structure is fixed.</em>
  </div>
</div>