
<div>
  <!--<div ng-controller="newResourceCtrl">-->

  <style>
    .dtDifferent {
      background-color: lightgoldenrodyellow;
    }
  </style>

  <div class="modal-header">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">
          Library
        </h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>

      </div>
    </div>

  </div>
  <div class="modal-body">

    <uib-tabset active="input.mainTabActive">
      <uib-tab heading="Compositions">

        <table class="table table-bordered table-condensed">
          <tr><th>Title</th><th>Local sections</th><th>Library sections</th><th>Note</th></tr>
          <tr ng-repeat="item in summaryComp">
            <td>
              {{item.title}}
              <div class="clickable" ng-show="item.library" ng-click="downloadComp(item.library)">Download</div>
            </td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="section in item.local.sections">
                  {{section.name}} ({{section.items.length}})
                </li>
              </ul>


            </td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="section in item.library.sections">
                  {{section.name}} ({{section.items.length}})
                </li>
              </ul>

            </td>
            <td>{{item.note}}</td>
          </tr>
        </table>

      </uib-tab>

      <uib-tab heading="DataGroups list" >
        <br/>


        <div>Library DG count: {{libraryDGCount}}</div>
        <div>Local DG count: {{localDGCount}}</div>

        <div class="row">
             <div class="col-md-7">
               <table class="table table-bordered table-condensed">
                 <tr><th>Title</th><th>Local count</th><th>Library count</th><th>Note</th></tr>
                 <tr ng-repeat="item in summary"
                    ng-class="{listItemSelected:item == input.selectedItem,dtDifferent:item.local.diff.length !== item.library.diff.length}">
                   <td>
                     <div class="clickable" ng-click="input.selectedItem = item">{{item.title}}</div>
                   </td>
                   <td>{{item.local.diff.length}}
                     <!--
                     <div class="clickableDotted"
                          uib-popover-html="getPopoverHtml(item.local)"
                          popover-placement="right"
                          popover-trigger="'mouseenter'">
                       {{item.local.diff.length}}
                     </div>
                     -->

                   </td>
                   <td>{{item.library.diff.length}}</td>
                   <td>{{item.note}}</td>
                 </tr>
               </table>
             </div>
          <div class="col-md-5">
            <div ng-show="input.selectedItem">

              <div class="clickable pull-right"
                   ng-show = "input.selectedItem.library"
                   ng-click="downloadDG(input.selectedItem.library )">Download</div>

              <uib-tabset>
                <uib-tab heading="Local">
                  <div class="myScroll">
                    <pre>{{input.selectedItem.local | json}}</pre>
                  </div>

                </uib-tab>
                <uib-tab heading="Library">
                  <div class="myScroll">
                    <pre>{{input.selectedItem.library | json}}</pre>
                  </div>
                </uib-tab>
              </uib-tabset>
              <!--
              <div class="banner">Local DG</div>
              <pre>{{input.selectedItem.local | json}}</pre>

              <br/>
              <div class="banner">Library DG</div>
              <pre>{{input.selectedItem.library | json}}</pre>
-->
            </div>

          </div>
        </div>



<!--
        <uib-tabset>
          <uib-tab heading="Summary">

            <div>Library DG count: {{libraryDGCount}}</div>
            <div>Local DG count: {{localDGCount}}</div>


            <table class="table table-bordered table-condensed">
              <tr><th>Title</th><th>Local count</th><th>Library count</th><th>Note</th></tr>
              <tr ng-repeat="item in summary">
                <td>{{item.title}}</td>
                <td>{{item.local.diff.length}}

                  <div class="clickableDotted"
                       uib-popover-html="getPopoverHtml(item.local)"
                       popover-placement="right"
                       popover-trigger="'mouseenter'">
                    {{item.local.diff.length}}
                  </div>
                

                </td>
                <td>{{item.library.diff.length}}</td>
                <td>{{item.note}}</td>
              </tr>
            </table>

            <pre>{{summary}}</pre>

          </uib-tab>
          <uib-tab heading="Synchronise">
            <br/>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-danger" ng-click="refreshFromRepo()">Refresh local store
                  <i class="glyphicon glyphicon-arrow-down"></i>
                </button>
              </div>
              <div class="col-md-8">
                Will <strong>download the latest copies</strong> of all the DataGroups from the Library. This includes
                both core and custom (user created) DGs. This will replace any local copies with the one from the library. eg
                if you have changed a core DG locally, that change will be lost. If you have local custom DGs that haven't yet
                been saved in the Library, they will still be there

              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-danger" ng-click="updateRepo()">Update Library  <i class="glyphicon glyphicon-arrow-up"></i></button>
              </div>
              <div class="col-md-8">
                Will <strong>upload all the DataGroups</strong> to the Library from any local copies you may have. This includes
                both core and custom (user created) DGs. Your local store will not be affected, but the library will be updated
                with any changes you may have made to any DataGroup.

              </div>
            </div>
            <br/>
            <em>These options to synchronise ALL DataGroups between the library and the local browser store. If you just want to
              upload / download a single DataGroup theres a 'Compare to Library' link on the tree details page of each DataGroup.</em>
          </uib-tab>
        </uib-tabset>

-->

      </uib-tab>

      <uib-tab heading="DataGroups sync" >

        <br/>
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-danger" ng-click="refreshFromRepo()">Refresh local store
              <i class="glyphicon glyphicon-arrow-down"></i>
            </button>
          </div>
          <div class="col-md-8">
            Will <strong>download the latest copies</strong> of all the DataGroups from the Library. This includes
            both core and custom (user created) DGs. This will replace any local copies with the one from the library. eg
            if you have changed a core DG locally, that change will be lost. If you have local custom DGs that haven't yet
            been saved in the Library, they will still be there

          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-danger" ng-click="updateRepo()">Update Library  <i class="glyphicon glyphicon-arrow-up"></i></button>
          </div>
          <div class="col-md-8">
            Will <strong>upload all the DataGroups</strong> to the Library from any local copies you may have. This includes
            both core and custom (user created) DGs. Your local store will not be affected, but the library will be updated
            with any changes you may have made to any DataGroup.

          </div>
        </div>
        <br/>
        <em>These options to synchronise ALL DataGroups between the library and the local browser store. If you just want to
          upload / download a single DataGroup theres a 'Compare to Library' link on the tree details page of each DataGroup.</em>
      </uib-tab>

      <uib-tab heading="Questionnaires">

        <pre>{{libraryQO | json}}</pre>

      </uib-tab>
    </uib-tabset>



<!--
    <br/>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" ng-click="updateRepo()">Reset local </button>
      </div>
      <div class="col-md-8">
        Will <strong>reset the core DataGroups</strong> in your local store. This does

      </div>
    </div>
    -->

  </div>
  <div class="modal-header">

  </div>
</div>