<div>
  <!--<div ng-controller="newResourceCtrl">-->

  <div class="modal-header">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">
          Make SDC extension
        </h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

          <!--
        <button ng-show = "input.name"
                class="btn btn-primary pull-right" ng-click="save()">Close</button>
          -->
      </div>
    </div>

  </div>
  <div class="modal-body">

      <uib-tabset>
          <uib-tab heading="Variable">
                <br/>
              <div class="row">

                  <div class="col-md-3">
                      Type
                  </div>
                  <div class="col-md-9">
                      <input type = 'radio' value="fhirpath" ng-model="input.vType"/> fhirPath &nbsp;&nbsp;&nbsp;
                      <input type = 'radio' value="query" ng-model="input.vType"/> x-query
                  </div>
              </div>
                <br/>
              <div class="row">

                  <div class="col-md-3">
                      Name
                  </div>
                  <div class="col-md-4">
                      <input class="form-control" ng-model="input.vName" placeholder="Spaces will be removed"/>
                  </div>
                  <div class="col-md-5">
                    <em>To insert a linkId, use the elements tab to copy it to the clipboard then paste in here</em>
                  </div>
              </div>
              <br/>
              <div class="row">

                  <div class="col-md-3">
                      Expression
                  </div>
                  <div class="col-md-9">
                      <textarea class="form-control" rows = 4  ng-model="input.vExpression"></textarea>
                  </div>
              </div>

              <br/>
              <em>A general purpose variable</em>

              <button class="btn btn-primary pull-right"
                      ng-if="input.vName && input.vExpression"
                      ng-click="save('variable')">Save</button>



          </uib-tab>

          <uib-tab heading="allocateId">
              <br/>
              <div class="row">

                  <div class="col-md-3">
                      Name
                  </div>
                  <div class="col-md-9">
                      <input class="form-control" ng-model="input.alName" placeholder="Spaces will be removed"/>
                  </div>
              </div>
              <br/>

              <div class="pull-right">
                  <a href="https://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-extractAllocateId.html" target="_blank">Spec</a>
              </div>
              <em>Allocate an Id for use later in a definitionExtract extension</em>

              <button class="btn btn-primary pull-right"
                      ng-if="input.alName"
                      ng-click="save('allocateId')">Save</button>
          </uib-tab>

          <uib-tab heading="Definition extract">
              <br/>
              <div class="row">

                  <div class="col-md-2">
                      Canonical Url
                  </div>
                  <div class="col-md-10">
                      <input class="form-control" ng-model="input.anCanonical" placeholder="Spaces will be removed"/>
                      <div><em>
                          The full url of the profile that the extract will conform to. eg http://hl7.org/fhir/StructureDefinition/Patient
                      </em></div>
                  </div>
                  <div class="col-md-2">

                  </div>
              </div>

              <div class="row">

                  <div class="col-md-2">
                      Id variable
                  </div>
                  <div class="col-md-10">
                      <input class="form-control" ng-model="input.anVariable" placeholder="Spaces will be removed"/>
                      <div><em>
                          The variable created by the allocateId extension that will be the fullUrl value of the extracted resource in the output bundle.
                      </em></div>

                  </div>
                  <div class="col-md-2">

                  </div>
              </div>

              <br/>

              <em>Marks where a resource is extracted. Child items are elements in the extracted resource.</em>

              <button class="btn btn-primary pull-right"
                      ng-if="input.anCanonical"
                      ng-click="save('defextract')">Save</button>

          </uib-tab>

          <uib-tab heading="Definition extract value">
              <br/>
              <div class="row">

                  <div class="col-md-3">

                  </div>
                  <div class="col-md-9">
                  </div>
              </div>
          </uib-tab>


          <uib-tab heading="Calculated Expression">

              <br/>
              <em>An expression that is dynamically calculated from the answers to other questions.
              <a href="https://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-calculatedExpression.html" target="_blank">Spec</a> </em>
              <br>
              <div class="row">

                  <div class="col-md-3">
                      Type
                  </div>
                  <div class="col-md-9">
                      <input type = 'radio' value="fhirpath" ng-model="input.calcType"/> fhirPath &nbsp;&nbsp;&nbsp;
                      <input type = 'radio' value="query" ng-model="input.calcType"/> x-query
                  </div>
              </div>
              <br/>

              <div class="row">

                  <div class="col-md-3">
                      Expression
                  </div>
                  <div class="col-md-9">
                      <textarea class="form-control" rows = 4  ng-model="input.calcExpression"></textarea>
                  </div>
              </div>

              <br/>
              <em>An expression that returns a value based on the value of other elements in the form</em>

              <button class="btn btn-primary pull-right"
                      ng-if="input.calcExpression"
                      ng-click="save('calc')">Save</button>




          </uib-tab>

          <uib-tab heading="Context">
              <br/>
              <uib-tabset>
                  <uib-tab heading="Context variables">
                      <br><em>Variables that are in scope at this element</em>
                      <table class="table table-bordered">
                          <tr><th>Variable name</th><th>Kind</th><th>Path where defined</th><th>Expression</th></tr>
                          <tr ng-repeat="v in variables">
                              <td>{{v.name}}</td>
                              <td>{{v.kind}}</td>
                              <td>{{v.path}}</td>
                              <td>{{v.expression}}</td>
                          </tr>
                      </table>
                  </uib-tab>

                  <uib-tab heading="Elements">
                      <br>
                      <em>All the elements in the DG. Use to paste a linkID into an expression</em>
                      <table class="table-bordered table">
                          <tr ng-repeat = "element in elements">
                              <td>

                                  <div ng-repeat = "segment in element.ed.path.split('.') track by $index">
                                      {{segment}}
                                  </div>



                              </td>
                              <td>{{element.ed.title}}</td>
                              <td>{{element.ed.description}}</td>
                              <td>{{element.ed.type[0]}}
                                  <!-- <em>expand if cc or options</em>-->
                              </td>
                              <td><span class="clickable" ng-click="copyPath(element.ed.path)">Copy</span> </td>
                          </tr>
                      </table>


                  </uib-tab>

              </uib-tabset>

          </uib-tab>




      </uib-tabset>


  </div>
  <div class="modal-header">
      <div class="row">

          <div class="col-md-4">
              Current path: {{currentPath}}
          </div>
          <div class="col-md-4">
              <div><a href="https://dev.fhirpath-lab.com/FhirPath" target="_blank">FHIRPath tester</a> </div>
          </div>
          <div class="col-md-4">
              <div><a href="https://docs.google.com/document/d/1dBY8U8mWaiTH6wxu_vrQqrLWv_qZfq_PnTXmcRtxH7Y/edit?tab=t.0" target="_blank">Documentation</a> </div>


          </div>
      </div>



  </div>
</div>