
<div>


  <div class="modal-header">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">
          Examine Questionnaire
        </h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>

      </div>
    </div>

  </div>
  <div class="modal-body">

    <div>
      <a class="btn btn-link pull-right" download="{{downloadQLinkJsonName}}"
         href="{{downloadQLinkJson}}" title="{{downloadQLinkJsonName}}" >
        Download Questionnaire resource
      </a>
    </div>



    <uib-tabset>

      <uib-tab heading="Tree">

        <div class="row">
          <div class="col-md-6">
            <div id="qTree"></div>
          </div>
          <div class="col-md-6">
            <div ng-show="selectedNode.data">
              <strong >Selected Q Item</strong>
              <pre>{{selectedNode.data | json}}</pre>
            </div>

          </div>
        </div>





      </uib-tab>

      <uib-tab heading="Form">
        <renderform q="Q" qr="QR"></renderform>

        <qrdisplay qr="QR" q="Q"></qrdisplay>
      </uib-tab>




      <uib-tab heading="Json">
      <pre>{{Q | json}}</pre>
      </uib-tab>
    </uib-tabset>



  </div>
  <div class="modal-header">
    <ul ng-repeat="issue in issues">
      {{issue}}
    </ul>

  </div>
</div>