
<div>
  <!--<div ng-controller="newResourceCtrl">-->

  <div class="modal-header">
    <div class="row">
      <div class="col-md-10 col-sm-10">
        <h3 class="modal-title">

          Library compare: {{DG.title}}

        </h3>
      </div>


      <div class="col-md-2 col-sm-2">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>

      </div>
    </div>

  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-4">
        <div class="banner">Local copy of DG</div>
        <button  style="width: 100%" class="btn btn-primary" ng-click="upload()"><strong>Upload</strong> to Library</button>
        <br/><br/>

        <uib-tabset>
          <uib-tab heading="Elements">
            <div class="list-group">
              <div class="list-group-item" ng-repeat = "ed in DG.diff">
                {{ed.path}}
              </div>
            </div>

          </uib-tab>
          <uib-tab heading="Json">
            <pre>{{DG | json}}</pre>
          </uib-tab>
        </uib-tabset>



      </div>
      <div class="col-md-4">
        <div class="banner">Library copy of DG</div>
        <button style="width: 100%" class="btn btn-success" ng-click="download()"><strong>Download</strong> into Local copy</button>
        <br/><br/>


        <uib-tabset>
          <uib-tab heading="Elements">
            <div class="list-group">
              <div class="list-group-item" ng-repeat = "ed in serverDG.diff">
                {{ed.path}}
              </div>
            </div>

          </uib-tab>
          <uib-tab heading="Json">
            <pre>{{serverDG | json}}</pre>
          </uib-tab>
        </uib-tabset>



      </div>
      <div class="col-md-4">

        <div class="banner">Differences</div>


        <table class="table-bordered table-bordered">
          <tr><th></th><th>Local</th><th>Library</th></tr>
          <tr>
            <td>Row count</td>
            <td>{{DG.diff.length}}</td>
            <td>{{serverDG.diff.length}}</td>
          </tr>
        </table>


        <br/> <br/> <br/>

        <div class="banner">Messages</div>
        <ul>
          <li ng-repeat = "msg in messages">{{msg}}</li>
        </ul>
<!--
        <pre>{{messages | json}}</pre>
        <pre>{{summaryDiff | json}}</pre>

-->
      </div>
    </div>



    <!--

    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" ng-click="refreshFromRepo()">Refresh local store
          <i class="glyphicon glyphicon-arrow-down"></i>
        </button>
      </div>
      <div class="col-md-8">
        Will <strong>download the latest copies</strong> of all the DataGroups from the server repository. This includes
        both core and custom (user created) DGs. This will replace any local copies with the one from the repository. eg
        if you have changed a core DG, that change will be lost.

      </div>
    </div>
<br/>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" ng-click="updateRepo()">Update repository  <i class="glyphicon glyphicon-arrow-up"></i></button>
      </div>
      <div class="col-md-8">
        Will <strong>upload all the DataGroups</strong> on the repository from any local copies you may have. This includes
        both core and custom (user created) DGs. Your local store will not be effected, but the repository will be updated
        with any changes you may have made to any DataGroup.

      </div>
    </div>

    -->
<!--
    <br/>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" ng-click="updateRepo()">Reset local </button>
      </div>
      <div class="col-md-8">
        Will <strong>reset the core DataGroups</strong> in your local store. This does

      </div>
    </div>
    -->

  </div>
  <div class="modal-header">


    <div><strong>Title:</strong> {{DG.title}}</div>
    <div><strong>Name: </strong>{{DG.name}}</div>
    <div><strong>Description:</strong> {{DG.description}}</div>
    <br/>
    <em>Options to synchronise a single DataGroup between the Library and the local browser cache</em>
    <div><strong>Note that the elements in the DG are only those defined or overridden in the DG.
      Inherited items are not shown (or saved in the DG anyway)
      </strong></div>
  </div>
</div>