<div>



    <div ng-switch="item.controlHint">

        <div ng-switch-when="string">
            <input type="text" ng-model="local.form[item.ed.path]" class="form-control"/>
        </div>

        <div ng-switch-when="autocomplete">
            <input type="text" ng-model="local.form[item.ed.path]" placeholder="Will be autocomplete" class="form-control"/>
        </div>

        <div ng-switch-when="text">
            <textarea ng-model="local.form[item.ed.path]" class="form-control">

            </textarea>
        </div>

        <div ng-switch-when="drop-down">

            <select class="form-control" ng-model="local.form[item.ed.path]"
                    ng-options = "option.valueCoding.display for option in item.ddOptions">
            </select>



        </div>

        <div ng-switch-when="dateTime">
            <input class="form-control" type="datetime-local" ng-model="local.form[item.ed.pat]">
        </div>

        <div ng-switch-when="lookup">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <div class="btn btn-link" ng-click="selectFromTS(item.ed.valueSet)">Lookup</div>
                </div>
            </div>
        </div>

    </div>







</div>